In [2]:
import pandas as pd
import numpy as np
from collections import Counter as c

In [3]:
train = pd.read_csv("train_0OECtn8.csv")
test = pd.read_csv("test_1zqHu22.csv")

train.shape, test.shape

((89197, 10), (11121, 9))

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89197 entries, 0 to 89196
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   row_id            89197 non-null  int64
 1   user_id           89197 non-null  int64
 2   category_id       89197 non-null  int64
 3   video_id          89197 non-null  int64
 4   age               89197 non-null  int64
 5   gender            89197 non-null  object
 6   profession        89197 non-null  object
 7   followers         89197 non-null  int64
 8   views             89197 non-null  int64
 9   engagement_score  89197 non-null  float64
dtypes: float64(1), int64(7), object(2)
memory usage: 6.8+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11121 entries, 0 to 11120
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   row_id       11121 non-null  int64
 1   user_id      11121 non-null  int64
 2   category_id  11121 non-null  int64
 3   video_id     11121 non-null  int64
 4   age          11121 non-null  int64
 5   gender       11121 non-null  object
 6   profession   11121 non-null  object
 7   followers    11121 non-null  int64
 8   views        11121 non-null  int64
dtypes: int64(7), object(2)
memory usage: 782.1+ KB