In [1]:

from sklearn.base import TransformerMixin, BaseEstimator

from collections import Counter , defaultdict

import pandas as pd

pd.set_option('display.max_columns', None)


from pandas import Series as s , DataFrame as df
import numpy as np

import seaborn as sns
# import matplotlib.pyplot as plt

# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

from matplotlib import pyplot as plt, rcParams as rc


%matplotlib inline
rc["figure.figsize"] = 10,6

import datetime
import datetime as dt

from sklearn.model_selection  import StratifiedKFold
from sklearn.decomposition import PCA

from iteration_utilities import duplicates, unique_everseen

import sys
from itertools import groupby
from operator import itemgetter
from timeit import timeit


## RandomOverSampler to handle imbalanced data
from imblearn.over_sampling import RandomOverSampler # over sampling method 2

In [2]:

#Algorithm
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.naive_bayes import MultinomialNB

from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

#preprocessing
from sklearn.preprocessing import LabelEncoder

from sklearn.preprocessing import StandardScaler, normalize



from sklearn.model_selection import train_test_split

import lightgbm as lgb


#Metrics
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve, recall_score, precision_score
from sklearn.metrics import confusion_matrix, classification_report, f1_score, precision_recall_fscore_support

from sklearn.pipeline import Pipeline

# GridSearchCV to find optimal min_samples_leaf
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import fbeta_score, make_scorer

In [44]:
df_original = pd.read_csv("Train.csv")

df_test_original = pd.read_csv("Test.csv")
submission = pd.read_csv("sample_submission.csv")

df10 = df.copy()
df_original.shape, df_test_original.shape, submission.shape

((8068, 11), (2627, 10), (2627, 2))

In [45]:
df_original.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [46]:
class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0] if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [47]:
def get_percentage_miss_value(dataset):
    higher_miss_value_column = []
    miss_threshold_value = 50
    
    for i in dataset.columns:
        if dataset[i].isna().sum() > 1: 
            perectange_val = (dataset[i].isna().sum() / len(dataset)) * 100
            print("Column-> " , i, ", total no of missing value : ",dataset[i].isna().sum() , " & :         ", round(perectange_val,2) ," %")
                
            if(perectange_val > miss_threshold_value):
                higher_miss_value_column.append(i)
            
    print("\n\n\n")
    
    if higher_miss_value_column:
        print("Higher Missing values in Columns for Delete : ", higher_miss_value_column)
    else:
        print("There are no Higher Column Missing values in Dataset")

In [48]:
get_percentage_miss_value(df_original)

Column->  Ever_Married , total no of missing value :  140  & :          1.74  %
Column->  Graduated , total no of missing value :  78  & :          0.97  %
Column->  Profession , total no of missing value :  124  & :          1.54  %
Column->  Work_Experience , total no of missing value :  829  & :          10.28  %
Column->  Family_Size , total no of missing value :  335  & :          4.15  %
Column->  Var_1 , total no of missing value :  76  & :          0.94  %




There are no Higher Column Missing values in Dataset

In [50]:
get_percentage_miss_value(df_test_original)

Column->  Ever_Married , total no of missing value :  50  & :          1.9  %
Column->  Graduated , total no of missing value :  24  & :          0.91  %
Column->  Profession , total no of missing value :  38  & :          1.45  %
Column->  Work_Experience , total no of missing value :  269  & :          10.24  %
Column->  Family_Size , total no of missing value :  113  & :          4.3  %
Column->  Var_1 , total no of missing value :  32  & :          1.22  %




There are no Higher Column Missing values in Dataset

In [51]:
df_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     7928 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        7990 non-null   object
 5   Profession       7944 non-null   object
 6   Work_Experience  7239 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      7733 non-null   float64
 9   Var_1            7992 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [52]:
def get_categorical_col_name_df(dataset): #testing has been pending
    return dataset.select_dtypes(include=['object']) #get all categorical columns only

In [53]:
get_categorical_col_name_df(df_original).isna().sum()

Gender              0
Ever_Married      140
Graduated          78
Profession        124
Spending_Score      0
Var_1              76
Segmentation        0
dtype: int64

In [54]:
get_categorical_col_name_df(df_original).columns.to_list()

['Gender',
 'Ever_Married',
 'Graduated',
 'Profession',
 'Spending_Score',
 'Var_1',
 'Segmentation']

# <font color ='green' > EDA

In [94]:
df = df_original.copy()

df_test = df_test_original.copy()

In [95]:
df = DataFrameImputer().fit_transform(df.copy())


df_test = DataFrameImputer().fit_transform(df_test.copy())

In [96]:
# get_percentage_miss_value(df)
# get_percentage_miss_value(df_test)

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Gender           8068 non-null   object
 2   Ever_Married     8068 non-null   object
 3   Age              8068 non-null   int64
 4   Graduated        8068 non-null   object
 5   Profession       8068 non-null   object
 6   Work_Experience  8068 non-null   float64
 7   Spending_Score   8068 non-null   object
 8   Family_Size      8068 non-null   float64
 9   Var_1            8068 non-null   object
 10  Segmentation     8068 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 693.5+ KB

In [98]:
df.head(2)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.000000,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,2.641663,Average,3.0,Cat_4,A

In [99]:
print("Gender : ", dict(Counter(df.Gender)))

print("Ever_Married : ", dict(Counter(df.Ever_Married)))

print("Graduated : ", dict(Counter(df.Graduated)))

print("Profession : ", dict(Counter(df.Profession)))

print("Spending_Score : ", dict(Counter(df.Spending_Score)))

print("Var_1 : ", dict(Counter(df.Var_1)))

print("Segmentation : ", dict(Counter(df.Segmentation)))

Gender :  {'Male': 4417, 'Female': 3651}
Ever_Married :  {'No': 3285, 'Yes': 4783}
Graduated :  {'No': 3022, 'Yes': 5046}
Profession :  {'Healthcare': 1332, 'Engineer': 699, 'Lawyer': 623, 'Entertainment': 949, 'Artist': 2640, 'Executive': 599, 'Doctor': 688, 'Homemaker': 246, 'Marketing': 292}
Spending_Score :  {'Low': 4878, 'Average': 1974, 'High': 1216}
Var_1 :  {'Cat_4': 1089, 'Cat_6': 5314, 'Cat_7': 203, 'Cat_3': 822, 'Cat_1': 133, 'Cat_2': 422, 'Cat_5': 85}
Segmentation :  {'D': 2268, 'A': 1972, 'B': 1858, 'C': 1970}

In [100]:
dic_Gender =  {'Male': 1, 'Female': 2}
df["Gender"] = df.Gender.apply(lambda x : dic_Gender.get(x))


dic_Ever_Married =  {'Yes': 1, 'No': 2}
df["Ever_Married"] = df.Ever_Married.apply(lambda x : dic_Ever_Married.get(x))


dic_Graduated =  { 'Yes': 1, 'No': 2}
df["Graduated"] = df.Graduated.apply(lambda x : dic_Graduated.get(x))


dic_Profession =  {'Healthcare': 1, 'Engineer': 2, 'Lawyer': 3, 'Entertainment': 4, 'Artist': 5, 
               'Executive': 6, 'Doctor': 7, 'Homemaker': 8, 'Marketing': 9}
df["Profession"] = df.Profession.apply(lambda x : dic_Profession.get(x))


dic_Spending_Score =  {'Low': 1, 'Average': 2, 'High': 3}
df["Spending_Score"] = df.Spending_Score.apply(lambda x : dic_Spending_Score.get(x))


dic_Var_1 =  {'Cat_1': 1, 'Cat_2': 2, 'Cat_3': 3, 'Cat_4': 4,'Cat_5': 5, 'Cat_6': 6, 'Cat_7': 7}
df["Var_1"] = df.Var_1.apply(lambda x : dic_Var_1.get(x))



dic_segmentation = { 'A': 1, 'B': 2, 'C': 3, 'D': 4}
df["Segmentation"] = df.Segmentation.apply(lambda x : dic_segmentation.get(x))







df_test["Gender"] = df_test.Gender.apply(lambda x : dic_Gender.get(x))

df_test["Ever_Married"] = df_test.Ever_Married.apply(lambda x : dic_Ever_Married.get(x))

df_test["Graduated"] = df_test.Graduated.apply(lambda x : dic_Graduated.get(x))

df_test["Profession"] = df_test.Profession.apply(lambda x : dic_Profession.get(x))

df_test["Spending_Score"] = df_test.Spending_Score.apply(lambda x : dic_Spending_Score.get(x))

df_test["Var_1"] = df_test.Var_1.apply(lambda x : dic_Var_1.get(x))

In [101]:
df.head(3)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,1,2,22,2,1,1.000000,1,4.0,4,4
1,462643,2,1,38,1,2,2.641663,2,3.0,4,1
2,466315,2,1,67,1,2,1.000000,1,1.0,6,2

In [102]:
df_test.head(3)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1
0,458989,2,1,36,1,2,0.0,1,1.0,6
1,458994,1,1,37,1,1,8.0,2,4.0,6
2,458996,2,1,69,2,5,0.0,1,1.0,6

In [103]:
# X = df4.iloc[:,:-1]
# Y = df4.iloc[:,-1]

feature_variables = ["Gender" , "Ever_Married" , "Graduated", "Spending_Score"]

X = df.loc[:, feature_variables]
Y = df.iloc[:,-1]

df3_test = df_test.loc[:, feature_variables]

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = .2, random_state = 100)

In [104]:
X.head(2)

   Gender  Ever_Married  Graduated  Spending_Score
0       1             2          2               1
1       2             1          1               2

In [105]:
df3_test.head(2)

   Gender  Ever_Married  Graduated  Spending_Score
0       2             1          1               1
1       1             1          1               2

In [107]:
model_logistic = LogisticRegression()
model_logistic.fit(X, Y)
y_pred_logistic_final = model_logistic.predict(df3_test)


model_xgb = XGBClassifier(max_depth=5, objective='multi:softmax', num_classes=4)
model_xgb.fit(X, Y)
y_pred_xgb_final = model_xgb.predict(df3_test)


model_lgb= LGBMClassifier(n_estimators= 200, objective='multi:softmax', num_classes=3)
model_lgb.fit(X,Y)
y_pred_lgb_final = model_lgb.predict(df3_test)



model_catg= CatBoostClassifier(depth= 3,l2_leaf_reg= 1e-25,learning_rate= 0.07,loss_function= 'MultiClass',n_estimators= 200)
model_catg.fit(X,Y)
y_pred_catg_final = model_catg.predict(df3_test)

[03:26:56] WARNING: /workspace/src/learner.cc:480:
Parameters: { num_classes } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


0:	learn: 1.3606362	total: 97.1ms	remaining: 19.3s
1:	learn: 1.3393698	total: 109ms	remaining: 10.7s
2:	learn: 1.3214942	total: 119ms	remaining: 7.8s
3:	learn: 1.3063142	total: 129ms	remaining: 6.32s
4:	learn: 1.2933232	total: 138ms	remaining: 5.39s
5:	learn: 1.2832756	total: 149ms	remaining: 4.82s
6:	learn: 1.2740080	total: 159ms	remaining: 4.38s
7:	learn: 1.2652914	total: 170ms	remaining: 4.07s
8:	learn: 1.2581989	total: 179ms	remaining: 3.81s
9:	learn: 1.2519890	total: 188ms	remaining: 3.57s
10:	learn: 1.2459655	total: 194ms	remaining: 3.34s
11:	learn: 1.2406957	total: 200ms	remaining: 3.13s
12:	learn: 1.2360786	total: 204ms	remaining: 2.93s
13:	learn: 1.2322524	total: 207ms	remaining: 2.75s
14:	learn: 1.2292354	total: 211ms	remaining: 2.6s
15:	learn: 1.2261569	total: 214ms	remaining: 2.46s
16:	learn: 1.2232540	total: 217ms	remaining: 2.34s
17:	learn: 1.2206216	total: 220ms	remaining: 2.23s
18:	learn: 1.2183082	total: 223ms	remaining: 2.12s
19:	learn: 1.2162747	total: 226ms	remaining: 2.03s
20:	learn: 1.2145909	total: 228ms	remaining: 1.95s
21:	learn: 1.2132624	total: 231ms	remaining: 1.87s
22:	learn: 1.2116485	total: 233ms	remaining: 1.79s
23:	learn: 1.2102284	total: 236ms	remaining: 1.73s
24:	learn: 1.2093516	total: 239ms	remaining: 1.67s
25:	learn: 1.2084082	total: 242ms	remaining: 1.62s
26:	learn: 1.2072974	total: 244ms	remaining: 1.56s
27:	learn: 1.2064367	total: 249ms	remaining: 1.53s
28:	learn: 1.2055669	total: 252ms	remaining: 1.49s
29:	learn: 1.2052556	total: 255ms	remaining: 1.44s
30:	learn: 1.2044172	total: 257ms	remaining: 1.4s
31:	learn: 1.2036958	total: 260ms	remaining: 1.36s
32:	learn: 1.2031020	total: 262ms	remaining: 1.33s
33:	learn: 1.2029069	total: 264ms	remaining: 1.29s
34:	learn: 1.2023852	total: 267ms	remaining: 1.26s
35:	learn: 1.2020714	total: 272ms	remaining: 1.24s
36:	learn: 1.2016907	total: 276ms	remaining: 1.22s
37:	learn: 1.2012606	total: 282ms	remaining: 1.2s
38:	learn: 1.2007947	total: 293ms	remaining: 1.21s
39:	learn: 1.2004545	total: 303ms	remaining: 1.21s
40:	learn: 1.2002386	total: 310ms	remaining: 1.2s
41:	learn: 1.1998844	total: 314ms	remaining: 1.18s
42:	learn: 1.1996215	total: 319ms	remaining: 1.17s
43:	learn: 1.1993839	total: 327ms	remaining: 1.16s
44:	learn: 1.1990652	total: 338ms	remaining: 1.16s
45:	learn: 1.1988679	total: 346ms	remaining: 1.16s
46:	learn: 1.1986329	total: 353ms	remaining: 1.15s
47:	learn: 1.1985290	total: 361ms	remaining: 1.14s
48:	learn: 1.1983748	total: 365ms	remaining: 1.12s
49:	learn: 1.1983452	total: 378ms	remaining: 1.13s
50:	learn: 1.1982870	total: 384ms	remaining: 1.12s
51:	learn: 1.1981651	total: 392ms	remaining: 1.11s
52:	learn: 1.1979357	total: 397ms	remaining: 1.1s
53:	learn: 1.1977745	total: 406ms	remaining: 1.1s
54:	learn: 1.1977548	total: 410ms	remaining: 1.08s
55:	learn: 1.1975614	total: 416ms	remaining: 1.07s
56:	learn: 1.1974286	total: 426ms	remaining: 1.07s
57:	learn: 1.1972821	total: 431ms	remaining: 1.05s
58:	learn: 1.1971701	total: 438ms	remaining: 1.05s
59:	learn: 1.1970867	total: 442ms	remaining: 1.03s
60:	learn: 1.1969412	total: 451ms	remaining: 1.03s
61:	learn: 1.1968073	total: 456ms	remaining: 1.01s
62:	learn: 1.1967480	total: 463ms	remaining: 1.01s
63:	learn: 1.1966671	total: 471ms	remaining: 1s
64:	learn: 1.1966426	total: 476ms	remaining: 988ms
65:	learn: 1.1966214	total: 481ms	remaining: 977ms
66:	learn: 1.1965553	total: 486ms	remaining: 965ms
67:	learn: 1.1964931	total: 491ms	remaining: 953ms
68:	learn: 1.1964540	total: 496ms	remaining: 941ms
69:	learn: 1.1964203	total: 502ms	remaining: 932ms
70:	learn: 1.1963671	total: 506ms	remaining: 919ms
71:	learn: 1.1962697	total: 510ms	remaining: 907ms
72:	learn: 1.1962584	total: 517ms	remaining: 899ms
73:	learn: 1.1962169	total: 522ms	remaining: 888ms
74:	learn: 1.1961809	total: 527ms	remaining: 879ms
75:	learn: 1.1961022	total: 531ms	remaining: 867ms
76:	learn: 1.1960553	total: 534ms	remaining: 854ms
77:	learn: 1.1959847	total: 537ms	remaining: 840ms
78:	learn: 1.1959557	total: 540ms	remaining: 827ms
79:	learn: 1.1958888	total: 542ms	remaining: 814ms
80:	learn: 1.1958833	total: 545ms	remaining: 801ms
81:	learn: 1.1958740	total: 547ms	remaining: 788ms
82:	learn: 1.1958149	total: 550ms	remaining: 775ms
83:	learn: 1.1957927	total: 552ms	remaining: 763ms
84:	learn: 1.1957706	total: 555ms	remaining: 751ms
85:	learn: 1.1957204	total: 557ms	remaining: 739ms
86:	learn: 1.1956654	total: 560ms	remaining: 727ms
87:	learn: 1.1956170	total: 562ms	remaining: 715ms
88:	learn: 1.1956048	total: 565ms	remaining: 705ms
89:	learn: 1.1955903	total: 568ms	remaining: 694ms
90:	learn: 1.1955896	total: 570ms	remaining: 683ms
91:	learn: 1.1955435	total: 572ms	remaining: 672ms
92:	learn: 1.1955034	total: 575ms	remaining: 661ms
93:	learn: 1.1954898	total: 577ms	remaining: 651ms
94:	learn: 1.1954534	total: 580ms	remaining: 641ms
95:	learn: 1.1954374	total: 583ms	remaining: 631ms
96:	learn: 1.1954224	total: 586ms	remaining: 623ms
97:	learn: 1.1954095	total: 590ms	remaining: 614ms
98:	learn: 1.1953793	total: 593ms	remaining: 605ms
99:	learn: 1.1953680	total: 597ms	remaining: 597ms
100:	learn: 1.1953582	total: 600ms	remaining: 588ms
101:	learn: 1.1953580	total: 603ms	remaining: 580ms
102:	learn: 1.1953458	total: 607ms	remaining: 571ms
103:	learn: 1.1953144	total: 610ms	remaining: 563ms
104:	learn: 1.1953056	total: 614ms	remaining: 555ms
105:	learn: 1.1952994	total: 616ms	remaining: 546ms
106:	learn: 1.1952665	total: 619ms	remaining: 538ms
107:	learn: 1.1952444	total: 621ms	remaining: 529ms
108:	learn: 1.1952375	total: 624ms	remaining: 521ms
109:	learn: 1.1952122	total: 626ms	remaining: 512ms
110:	learn: 1.1951956	total: 629ms	remaining: 504ms
111:	learn: 1.1951780	total: 633ms	remaining: 497ms
112:	learn: 1.1951719	total: 636ms	remaining: 490ms
113:	learn: 1.1951670	total: 640ms	remaining: 483ms
114:	learn: 1.1951627	total: 643ms	remaining: 476ms
115:	learn: 1.1951591	total: 647ms	remaining: 468ms
116:	learn: 1.1951573	total: 651ms	remaining: 462ms
117:	learn: 1.1951328	total: 654ms	remaining: 454ms
118:	learn: 1.1951120	total: 657ms	remaining: 447ms
119:	learn: 1.1951086	total: 661ms	remaining: 441ms
120:	learn: 1.1950942	total: 663ms	remaining: 433ms
121:	learn: 1.1950765	total: 666ms	remaining: 426ms
122:	learn: 1.1950718	total: 669ms	remaining: 419ms
123:	learn: 1.1950659	total: 671ms	remaining: 411ms
124:	learn: 1.1950500	total: 673ms	remaining: 404ms
125:	learn: 1.1950363	total: 676ms	remaining: 397ms
126:	learn: 1.1950257	total: 679ms	remaining: 390ms
127:	learn: 1.1950142	total: 681ms	remaining: 383ms
128:	learn: 1.1950042	total: 684ms	remaining: 377ms
129:	learn: 1.1949958	total: 692ms	remaining: 373ms
130:	learn: 1.1949860	total: 697ms	remaining: 367ms
131:	learn: 1.1949806	total: 700ms	remaining: 361ms
132:	learn: 1.1949722	total: 704ms	remaining: 355ms
133:	learn: 1.1949661	total: 709ms	remaining: 349ms
134:	learn: 1.1949585	total: 713ms	remaining: 343ms
135:	learn: 1.1949534	total: 716ms	remaining: 337ms
136:	learn: 1.1949420	total: 725ms	remaining: 334ms
137:	learn: 1.1949321	total: 729ms	remaining: 328ms
138:	learn: 1.1949298	total: 733ms	remaining: 322ms
139:	learn: 1.1949251	total: 737ms	remaining: 316ms
140:	learn: 1.1949209	total: 740ms	remaining: 310ms
141:	learn: 1.1949141	total: 745ms	remaining: 304ms
142:	learn: 1.1949089	total: 750ms	remaining: 299ms
143:	learn: 1.1949043	total: 753ms	remaining: 293ms
144:	learn: 1.1948916	total: 755ms	remaining: 286ms
145:	learn: 1.1948875	total: 758ms	remaining: 280ms
146:	learn: 1.1948839	total: 760ms	remaining: 274ms
147:	learn: 1.1948808	total: 763ms	remaining: 268ms
148:	learn: 1.1948745	total: 768ms	remaining: 263ms
149:	learn: 1.1948720	total: 772ms	remaining: 257ms
150:	learn: 1.1948648	total: 775ms	remaining: 251ms
151:	learn: 1.1948620	total: 777ms	remaining: 245ms
152:	learn: 1.1948596	total: 780ms	remaining: 240ms
153:	learn: 1.1948575	total: 783ms	remaining: 234ms
154:	learn: 1.1948541	total: 785ms	remaining: 228ms
155:	learn: 1.1948523	total: 788ms	remaining: 222ms
156:	learn: 1.1948504	total: 790ms	remaining: 216ms
157:	learn: 1.1948426	total: 793ms	remaining: 211ms
158:	learn: 1.1948406	total: 795ms	remaining: 205ms
159:	learn: 1.1948389	total: 798ms	remaining: 199ms
160:	learn: 1.1948375	total: 800ms	remaining: 194ms
161:	learn: 1.1948302	total: 803ms	remaining: 188ms
162:	learn: 1.1948238	total: 806ms	remaining: 183ms
163:	learn: 1.1948206	total: 808ms	remaining: 177ms
164:	learn: 1.1948178	total: 811ms	remaining: 172ms
165:	learn: 1.1948154	total: 814ms	remaining: 167ms
166:	learn: 1.1948133	total: 816ms	remaining: 161ms
167:	learn: 1.1948115	total: 819ms	remaining: 156ms
168:	learn: 1.1948100	total: 821ms	remaining: 151ms
169:	learn: 1.1948030	total: 824ms	remaining: 145ms
170:	learn: 1.1948018	total: 826ms	remaining: 140ms
171:	learn: 1.1948002	total: 829ms	remaining: 135ms
172:	learn: 1.1947989	total: 831ms	remaining: 130ms
173:	learn: 1.1947939	total: 834ms	remaining: 125ms
174:	learn: 1.1947927	total: 836ms	remaining: 119ms
175:	learn: 1.1947883	total: 839ms	remaining: 114ms
176:	learn: 1.1947872	total: 841ms	remaining: 109ms
177:	learn: 1.1947862	total: 844ms	remaining: 104ms
178:	learn: 1.1947849	total: 846ms	remaining: 99.2ms
179:	learn: 1.1947837	total: 849ms	remaining: 94.3ms
180:	learn: 1.1947787	total: 851ms	remaining: 89.3ms
181:	learn: 1.1947743	total: 854ms	remaining: 84.4ms
182:	learn: 1.1947675	total: 856ms	remaining: 79.5ms
183:	learn: 1.1947617	total: 858ms	remaining: 74.6ms
184:	learn: 1.1947602	total: 861ms	remaining: 69.8ms
185:	learn: 1.1947589	total: 863ms	remaining: 65ms
186:	learn: 1.1947578	total: 866ms	remaining: 60.2ms
187:	learn: 1.1947568	total: 868ms	remaining: 55.4ms
188:	learn: 1.1947562	total: 874ms	remaining: 50.9ms
189:	learn: 1.1947554	total: 877ms	remaining: 46.2ms
190:	learn: 1.1947494	total: 881ms	remaining: 41.5ms

191:	learn: 1.1947441	total: 884ms	remaining: 36.8ms
192:	learn: 1.1947407	total: 891ms	remaining: 32.3ms
193:	learn: 1.1947395	total: 895ms	remaining: 27.7ms
194:	learn: 1.1947385	total: 899ms	remaining: 23ms
195:	learn: 1.1947359	total: 908ms	remaining: 18.5ms
196:	learn: 1.1947350	total: 913ms	remaining: 13.9ms
197:	learn: 1.1947302	total: 917ms	remaining: 9.26ms
198:	learn: 1.1947291	total: 919ms	remaining: 4.62ms
199:	learn: 1.1947281	total: 922ms	remaining: 0us

In [111]:
len(y_pred_logistic_final), len(y_pred_xgb_final), len(y_pred_lgb_final), len(y_pred_catg_final)

(2627, 2627, 2627, 2627)

In [114]:
submission["y_pred_logistic_final"] = y_pred_logistic_final

submission["y_pred_xgb_final"] = y_pred_xgb_final

submission["y_pred_lgb_final"] = y_pred_lgb_final

submission["y_pred_catg_final"] = y_pred_catg_final


submission.tail(10)

,ID,Segmentation,y_pred_logistic_final,y_pred_xgb_final,y_pred_lgb_final,y_pred_catg_final
2617,467940,A,4,4,4,4
2618,467946,A,3,2,2,2
2619,467948,A,4,4,4,4
2620,467949,A,4,4,4,4
2621,467950,A,4,1,1,1
2622,467954,A,4,4,4,4
2623,467958,A,4,1,1,1
2624,467960,A,4,1,1,1
2625,467961,A,3,3,3,3
2626,467968,A,4,1,1,1

In [119]:
create_submission_file(model_lgb , "lgb_2", df3_test)

       ID  Segmentation
0  458989             2
1  458994             3
2  458996             1
3  459000             2
4  459001             4

'File created successful'

In [120]:
submit_file = save_model_df = pd.read_csv("lgb_2"+'.csv')
submit_file.head()

       ID  Segmentation
0  458989             2
1  458994             3
2  458996             1
3  459000             2
4  459001             4

In [121]:
Counter(submit_file.Segmentation)

Counter({2: 339, 3: 704, 1: 844, 4: 740})

In [115]:
def create_submission_file(model, file_name, test_data):
    
    y_pred_final = model.predict(test_data)

    submission_1 = pd.read_csv("sample_submission.csv")
    submission_1["Segmentation"] = y_pred_final
    submission_1.to_csv(file_name+'.csv', index=False)
    
    
    save_model_df = pd.read_csv(file_name+'.csv')
    
    print(save_model_df.head())
    
    
    return "File created successful"

In [13]:
def get_accuracy(y_train_val , y_pred_val , dataset_type = "Default"):
    
    print(" Dataset type is : ", dataset_type)
    
    print("\n Accuracy Score     : ",round(accuracy_score(y_train_val, y_pred_val), 4) * 100)

In [99]:
%%time


lr_clf = LogisticRegression(multi_class='multinomial')
scores = cross_val_score(lr_clf, X, Y, cv=5, scoring=make_scorer(f1_score, average='weighted'), n_jobs=-1)
print('F1_score for LogReg : ', scores.mean())

F1_score for LogReg :  0.4573757935844253
CPU times: user 48.9 ms, sys: 36.6 ms, total: 85.6 ms
Wall time: 1.72 s

In [108]:
%%time

GBC_d = GradientBoostingClassifier()
GBC_d.fit(X_train,y_train)
pred_gbc = GBC_d.predict(X_test)
print(accuracy_score(y_test,pred_gbc))
print(classification_report(y_test,pred_gbc))

0.533457249070632
              precision    recall  f1-score   support

           0       0.43      0.45      0.44       402
           1       0.39      0.33      0.35       365
           2       0.63      0.60      0.61       382
           3       0.64      0.71      0.67       465

    accuracy                           0.53      1614
   macro avg       0.52      0.52      0.52      1614
weighted avg       0.53      0.53      0.53      1614

CPU times: user 2.08 s, sys: 1.35 ms, total: 2.08 s
Wall time: 2.08 s

In [110]:
create_submission_file(GBC_d , "gbc_1", df3_test)

'File created successful'

In [117]:
rows=[]

def addRandomStateForAlgorithm(x,y,names,algorithms,columns_name,random_state_list):    
    for j in range(len(algorithms)):
        model = algorithms[j]
        for i in random_state_list:
            
            x_train, x_test , y_train , y_test = train_test_split(x ,y , test_size = 0.02 , random_state = i)
            
            model.fit(x_train,y_train)
            
            y_pred_train = model.predict(x_train)
            y_pred = model.predict(x_test)
            
            train_acc = accuracy_score(y_train, y_pred_train)
            train_acc = round(train_acc, 4) * 100
            
            test_acc = accuracy_score(y_test, y_pred)
            test_acc = round(test_acc, 4) * 100
            
#             roc_auc_score_acc = roc_auc_score(y_test, y_pred)
#             roc_auc_score_acc = round(roc_auc_score_acc, 4) * 100
            
            row = [names[j],   i,   train_acc, test_acc]
        
    
            rows.append(row)
            
    models_df = pd.DataFrame(rows) 
    
    models_df.columns = columns_name
    print(models_df)

In [118]:
names = [ "LightGBM", "RF", "XGBoost" , "Logistic"]

algorithms = [ LGBMClassifier(  ), RandomForestClassifier(), XGBClassifier(), LogisticRegression(multi_class='multinomial')]


columns_name = ["Model",    "Random_state",   'Train_acc',     "Test_acc" ]

random_state_list_up_to_3 = [1,2,3]

addRandomStateForAlgorithm(X,Y,names,algorithms,columns_name,random_state_list_up_to_3)

       Model  Random_state  Train_acc  Test_acc
0   LightGBM             1      45.95     42.59
1   LightGBM             2      45.97     41.98
2   LightGBM             3      45.90     45.06
3         RF             1      45.95     42.59
4         RF             2      45.97     41.98
5         RF             3      45.90     45.06
6    XGBoost             1      45.95     42.59
7    XGBoost             2      45.97     41.98
8    XGBoost             3      45.90     45.06
9   Logistic             1      44.08     41.98
10  Logistic             2      44.23     34.57
11  Logistic             3      44.09     41.36