In [134]:
def get_numerical_cols(dataset):
    num_cols = []
    for i in dataset.columns:
        if (dataset[i].dtype == "float"    or  dataset[i].dtype == "int"):
            num_cols.append(i)

In [135]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         39191 non-null  object
 9   Holding_Policy_Duration  30631 non-null  object
 10  Holding_Policy_Type      30631 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [137]:
print(get_numerical_cols(train1))

None

In [1]:
import pandas as pd

In [122]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")


# sample = pd.read_csv("sample_submissioncsv.csv")


import warnings
warnings.filterwarnings('ignore')


from collections import Counter as c


import seaborn as sns
from matplotlib import pyplot as plt

from xgboost import XGBRFClassifier, XGBRFRegressor

from sklearn import preprocessing

import lightgbm as lgb

In [12]:
train.shape, test.shape

((50882, 14), (21805, 13))

In [15]:
train.columns

Index(['ID', 'City_Code', 'Region_Code', 'Accomodation_Type',
       'Reco_Insurance_Type', 'Upper_Age', 'Lower_Age', 'Is_Spouse',
       'Health Indicator', 'Holding_Policy_Duration', 'Holding_Policy_Type',
       'Reco_Policy_Cat', 'Reco_Policy_Premium', 'Response'],
      dtype='object')

In [17]:
test.columns

Index(['ID', 'City_Code', 'Region_Code', 'Accomodation_Type',
       'Reco_Insurance_Type', 'Upper_Age', 'Lower_Age', 'Is_Spouse',
       'Health Indicator', 'Holding_Policy_Duration', 'Holding_Policy_Type',
       'Reco_Policy_Cat', 'Reco_Policy_Premium'],
      dtype='object')

In [13]:
train.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,No,NaN,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3.0,1.0,16,10404.0,0

In [14]:
test.head()

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium
0,50883,C1,156,Owned,Individual,30,30,No,NaN,6.0,3.0,5,11934.0
1,50884,C4,7,Owned,Joint,69,68,Yes,X1,3.0,3.0,18,32204.8
2,50885,C1,564,Rented,Individual,28,28,No,X3,2.0,4.0,17,9240.0
3,50886,C3,1177,Rented,Individual,23,23,No,X3,3.0,3.0,18,9086.0
4,50887,C1,951,Owned,Individual,75,75,No,X3,NaN,NaN,5,22534.0

In [21]:
round((train.isnull().sum() / len(train)) * 100 , 2)

ID                          0.00
City_Code                   0.00
Region_Code                 0.00
Accomodation_Type           0.00
Reco_Insurance_Type         0.00
Upper_Age                   0.00
Lower_Age                   0.00
Is_Spouse                   0.00
Health Indicator           22.98
Holding_Policy_Duration    39.80
Holding_Policy_Type        39.80
Reco_Policy_Cat             0.00
Reco_Policy_Premium         0.00
Response                    0.00
dtype: float64

In [31]:
round((test.isnull().sum() / len(train)) * 100 , 2)

ID                          0.00
City_Code                   0.00
Region_Code                 0.00
Accomodation_Type           0.00
Reco_Insurance_Type         0.00
Upper_Age                   0.00
Lower_Age                   0.00
Is_Spouse                   0.00
Health Indicator            9.88
Holding_Policy_Duration    16.91
Holding_Policy_Type        16.91
Reco_Policy_Cat             0.00
Reco_Policy_Premium         0.00
dtype: float64

In [33]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         39191 non-null  object
 9   Holding_Policy_Duration  30631 non-null  object
 10  Holding_Policy_Type      30631 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [88]:
train1 = train[:]
test1  = test[:]

In [89]:
train.shape, test.shape, (train1.shape, test1.shape)

((50882, 14), (21805, 13), ((50882, 14), (21805, 13)))

In [90]:
train1["Health Indicator"].fillna(train1["Health Indicator"].mode()[0],  inplace = True)
train1["Holding_Policy_Duration"].fillna(train1["Holding_Policy_Duration"].mode()[0],  inplace = True)
train1["Holding_Policy_Type"].fillna(train1["Holding_Policy_Type"].mean(),  inplace = True)



test1["Health Indicator"].fillna(test1["Health Indicator"].mode()[0],  inplace = True)
test1["Holding_Policy_Duration"].fillna(test1["Holding_Policy_Duration"].mode()[0],  inplace = True)
test1["Holding_Policy_Type"].fillna(test1["Holding_Policy_Type"].mean(),  inplace = True)

# train1.isnull().sum()

In [91]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         50882 non-null  object
 9   Holding_Policy_Duration  50882 non-null  object
 10  Holding_Policy_Type      50882 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [92]:
# c(train1.City_Code)

In [93]:
c(train1.Accomodation_Type)

Counter({'Rented': 22931, 'Owned': 27951})

In [94]:
c(train1.Reco_Insurance_Type)

Counter({'Individual': 40536, 'Joint': 10346})

In [95]:
c(train1.Response)

Counter({0: 38673, 1: 12209})

In [96]:
round((c(train1.Response)[0] / len(train1)) * 100, 2)   , round((c(train1.Response)[1] / len(train1)) * 100, 2)

(76.01, 23.99)

In [97]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         50882 non-null  object
 9   Holding_Policy_Duration  50882 non-null  object
 10  Holding_Policy_Type      50882 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB

In [98]:
train1.drop("ID", axis=1 , inplace= True)

test1.drop("ID", axis=1 , inplace= True)

In [99]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   City_Code                50882 non-null  object
 1   Region_Code              50882 non-null  int64
 2   Accomodation_Type        50882 non-null  object
 3   Reco_Insurance_Type      50882 non-null  object
 4   Upper_Age                50882 non-null  int64
 5   Lower_Age                50882 non-null  int64
 6   Is_Spouse                50882 non-null  object
 7   Health Indicator         50882 non-null  object
 8   Holding_Policy_Duration  50882 non-null  object
 9   Holding_Policy_Type      50882 non-null  float64
 10  Reco_Policy_Cat          50882 non-null  int64
 11  Reco_Policy_Premium      50882 non-null  float64
 12  Response                 50882 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 5.0+ MB

In [102]:
c(train1.Accomodation_Type)

Counter({'Rented': 22931, 'Owned': 27951})

In [123]:
# c(train1.City_Code)

In [109]:
le = preprocessing.LabelEncoder()

for i in range(0,train1.shape[1]):
    if train1.dtypes[i]=='object':
        train1[train1.columns[i]] = le.fit_transform(train1[train1.columns[i]])

In [121]:
for i in range(0,test1.shape[1]):
    if test1.dtypes[i]=='object':
        print(test1.columns[i])
        test1[test1.columns[i]] = le.fit_transform(test1[test1.columns[i]])

City_Code
Accomodation_Type
Reco_Insurance_Type
Is_Spouse
Health Indicator
Holding_Policy_Duration

In [ ]:
#Label encoding
def convert_to_numerical_label_encoding(dataset):
    enc = LabelEncoder()
    for i in dataset.columns:
        if(dataset[i].dtype == "object"):
            dataset[i] = enc.fit_transform(dataset[i])
            
    return dataset

In [124]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21805 entries, 0 to 21804
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   City_Code                21805 non-null  int64
 1   Region_Code              21805 non-null  int64
 2   Accomodation_Type        21805 non-null  int64
 3   Reco_Insurance_Type      21805 non-null  int64
 4   Upper_Age                21805 non-null  int64
 5   Lower_Age                21805 non-null  int64
 6   Is_Spouse                21805 non-null  int64
 7   Health Indicator         21805 non-null  int64
 8   Holding_Policy_Duration  21805 non-null  int64
 9   Holding_Policy_Type      21805 non-null  float64
 10  Reco_Policy_Cat          21805 non-null  int64
 11  Reco_Policy_Premium      21805 non-null  float64
dtypes: float64(2), int64(10)
memory usage: 2.0 MB

In [112]:
c(train1.Response)

Counter({0: 38673, 1: 12209})

In [111]:
x = train1.iloc[:,:-1]
y = train1.iloc[:,-1]

In [113]:
from sklearn.linear_model import LogisticRegression

In [116]:
m = LogisticRegression()


m.fit(x,y)
m.score(x,y)

0.7600526708855784

In [ ]:
m = lig()


m.fit(x,y)
m.score(x,y)