In [95]:
pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.23.2)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.4)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.12.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.1)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# roc curve and auc score
from sklearn.datasets import make_classification
# to visualise al the columns in the dataframe
pd.pandas.set_option('display.max_columns', None)

from sklearn.preprocessing import LabelEncoder
# Import Dependencies
%matplotlib inline

# Start Python Imports
import math, time, random, datetime

from math import sqrt 
import lightgbm as lgb
from sklearn.metrics import mean_squared_error 
from sklearn.model_selection import KFold, train_test_split



plt.style.use('seaborn-whitegrid')

# Preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize

# Machine learning
import catboost
from sklearn.model_selection import train_test_split
from sklearn import model_selection, tree, preprocessing, metrics, linear_model
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression, LogisticRegression, SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from catboost import CatBoostClassifier, Pool, cv

# Let's be rebels and ignore warnings for now
import warnings
warnings.filterwarnings('ignore')

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
df=pd.read_csv('/content/train_fNxu4vz.csv')

In [0]:
df1=pd.read_csv('/content/test_fjtUOL8.csv')

In [4]:
df.shape

(164309, 14)

In [5]:
df1.shape

(109541, 13)

In [6]:
df.isnull().sum()

Loan_ID                        0
Loan_Amount_Requested          0
Length_Employed             7371
Home_Owner                 25349
Annual_Income              25102
Income_Verified                0
Purpose_Of_Loan                0
Debt_To_Income                 0
Inquiries_Last_6Mo             0
Months_Since_Deliquency    88379
Number_Open_Accounts           0
Total_Accounts                 0
Gender                         0
Interest_Rate                  0
dtype: int64

In [7]:
df.head()

,Loan_ID,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
0,10000001,"7,000",< 1 year,Rent,68000.0,not verified,car,18.37,0,NaN,9,14,Female,1
1,10000002,"30,000",4 years,Mortgage,NaN,VERIFIED - income,debt_consolidation,14.93,0,17.0,12,24,Female,3
2,10000003,"24,725",7 years,Mortgage,75566.4,VERIFIED - income source,debt_consolidation,15.88,0,NaN,12,16,Male,3
3,10000004,"16,000",< 1 year,NaN,56160.0,VERIFIED - income source,debt_consolidation,14.34,3,NaN,16,22,Male,3
4,10000005,"17,000",8 years,Own,96000.0,VERIFIED - income source,debt_consolidation,22.17,1,NaN,19,30,Female,1

In [8]:
## Let us capture all the nan values
## First lets handle Categorical features which are missing
features_nan=[feature for feature in df.columns if df[feature].isnull().sum()>1 and df[feature].dtypes=='O']

for feature in features_nan:
    print("{}: {}% missing values".format(feature,np.round(df[feature].isnull().mean(),4)))

Length_Employed: 0.0449% missing values
Home_Owner: 0.1543% missing values

In [9]:
## Let us capture all the nan values
## First lets handle Categorical features which are missing
features_nan=[feature for feature in df1.columns if df1[feature].isnull().sum()>1 and df1[feature].dtypes=='O']

for feature in features_nan:
    print("{}: {}% missing values".format(feature,np.round(df1[feature].isnull().mean(),4)))

Length_Employed: 0.0451% missing values
Home_Owner: 0.1526% missing values

In [10]:
def replace_cat_feature(dataset,features_nan):
    data=df.copy()
    data[features_nan]=data[features_nan].fillna('Missing')
    return data

df=replace_cat_feature(df,features_nan)

df[features_nan].isnull().sum()

Length_Employed    0
Home_Owner         0
dtype: int64

In [11]:
def replace_cat_feature(dataset,features_nan):
    data1=df1.copy()
    data1[features_nan]=data1[features_nan].fillna('Missing')
    return data1

df1=replace_cat_feature(df1,features_nan)

df1[features_nan].isnull().sum()

Length_Employed    0
Home_Owner         0
dtype: int64

In [12]:
## Now lets check for numerical variables the contains missing values
numerical_with_nan=[feature for feature in df.columns if df[feature].isnull().sum()>1 and df[feature].dtypes!='O']

## We will print the numerical nan variables and percentage of missing values

for feature in numerical_with_nan:
    print("{}: {}% missing value".format(feature,np.around(df[feature].isnull().mean(),4)))

Annual_Income: 0.1528% missing value
Months_Since_Deliquency: 0.5379% missing value

In [13]:
## Now lets check for numerical variables the contains missing values
numerical_with_nan=[feature for feature in df1.columns if df1[feature].isnull().sum()>1 and df1[feature].dtypes!='O']

## We will print the numerical nan variables and percentage of missing values

for feature in numerical_with_nan:
    print("{}: {}% missing value".format(feature,np.around(df1[feature].isnull().mean(),4)))

Annual_Income: 0.1543% missing value
Months_Since_Deliquency: 0.5373% missing value

In [14]:

## Replacing the numerical Missing Values

for feature in numerical_with_nan:
    ## We will replace by using median since there are outliers
    median_value=df[feature].median()
    
    ## create a new feature to capture nan values
    df[feature+'nan']=np.where(df[feature].isnull(),1,0)
    df[feature].fillna(median_value,inplace=True)
    
df[numerical_with_nan].isnull().sum()

Annual_Income              0
Months_Since_Deliquency    0
dtype: int64

In [15]:
## Replacing the numerical Missing Values

for feature in numerical_with_nan:
    ## We will replace by using median since there are outliers
    median_value=df1[feature].median()
    
    ## create a new feature to capture nan values
    df1[feature+'nan']=np.where(df1[feature].isnull(),1,0)
    df1[feature].fillna(median_value,inplace=True)
    
df1[numerical_with_nan].isnull().sum()

Annual_Income              0
Months_Since_Deliquency    0
dtype: int64

In [16]:
df.head()

,Loan_ID,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate,Annual_Incomenan,Months_Since_Deliquencynan
0,10000001,"7,000",< 1 year,Rent,68000.0,not verified,car,18.37,0,31.0,9,14,Female,1,0,1
1,10000002,"30,000",4 years,Mortgage,63000.0,VERIFIED - income,debt_consolidation,14.93,0,17.0,12,24,Female,3,1,0
2,10000003,"24,725",7 years,Mortgage,75566.4,VERIFIED - income source,debt_consolidation,15.88,0,31.0,12,16,Male,3,0,1
3,10000004,"16,000",< 1 year,Missing,56160.0,VERIFIED - income source,debt_consolidation,14.34,3,31.0,16,22,Male,3,0,1
4,10000005,"17,000",8 years,Own,96000.0,VERIFIED - income source,debt_consolidation,22.17,1,31.0,19,30,Female,1,0,1

In [0]:
#df['Months_Since_Deliquency']=df['Months_Since_Deliquency'].fillna(0)
#df['Annual_Income']=df['Annual_Income'].fillna(0)
#df['Home_Owner']=df['Home_Owner'].fillna('aaa')
#df['Length_Employed']=df['Length_Employed'].fillna('x')
#df1['Months_Since_Deliquency']=df1['Months_Since_Deliquency'].fillna(0)
#df1['Annual_Income']=df1['Annual_Income'].fillna(0)
#df1['Home_Owner']=df1['Home_Owner'].fillna('aaa')
#df1['Length_Employed']=df1['Length_Employed'].fillna('x')

In [31]:
df.isnull().sum()

Loan_ID                       0
Loan_Amount_Requested         0
Length_Employed               0
Home_Owner                    0
Annual_Income                 0
Income_Verified               0
Purpose_Of_Loan               0
Debt_To_Income                0
Inquiries_Last_6Mo            0
Months_Since_Deliquency       0
Number_Open_Accounts          0
Total_Accounts                0
Gender                        0
Interest_Rate                 0
Annual_Incomenan              0
Months_Since_Deliquencynan    0
dtype: int64

In [0]:
#le = LabelEncoder()
#df['Length_Employed'] = le.fit_transform(df['Length_Employed']) 
#df['Home_Owner'] = le.fit_transform(df['Home_Owner'])
#df['Income_Verified'] = le.fit_transform(df['Income_Verified'])
#df['Purpose_Of_Loan'] = le.fit_transform(df['Purpose_Of_Loan'])
#df['Gender'] = le.fit_transform(df['Gender'])
#df['Loan_Amount_Requested'] = le.fit_transform(df['Loan_Amount_Requested'])

In [0]:
#df1['Length_Employed'] = le.fit_transform(df1['Length_Employed']) 
#df1['Home_Owner'] = le.fit_transform(df1['Home_Owner'])
#df1['Income_Verified'] = le.fit_transform(df1['Income_Verified'])
#df1['Purpose_Of_Loan'] = le.fit_transform(df1['Purpose_Of_Loan'])
#df1['Gender'] = le.fit_transform(df1['Gender'])
#df1['Loan_Amount_Requested'] = le.fit_transform(df1['Loan_Amount_Requested'])

In [0]:
X = df[[col for col in df.columns if col not in ('Interest_Rate')]].values  #independent variables 
y = df['Interest_Rate'].values  #dependent variable

In [0]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [0]:

train_pool = Pool(X_train, 
                  y_train,
                  cat_features=[1,2,3,5,6,12])

In [0]:
catboost_model = CatBoostClassifier(iterations=160,
                                    random_state=42,
                                    max_depth=4,
                                   bagging_temperature=0.7,
                                    l2_leaf_reg=8,
                                    grow_policy='Depthwise',
                                    learning_rate=0.3,task_type='GPU',cat_features=[1,2,3,5,6,12])

In [127]:
catboost_model.fit(X_train,y_train)

0:	learn: 1.0447274	total: 9.88ms	remaining: 1.57s
1:	learn: 1.0146167	total: 18.7ms	remaining: 1.48s
2:	learn: 0.9958308	total: 26.9ms	remaining: 1.41s
3:	learn: 0.9814766	total: 35ms	remaining: 1.37s
4:	learn: 0.9714125	total: 43.4ms	remaining: 1.34s
5:	learn: 0.9635327	total: 51.7ms	remaining: 1.33s
6:	learn: 0.9574124	total: 59.9ms	remaining: 1.31s
7:	learn: 0.9526018	total: 68.1ms	remaining: 1.29s
8:	learn: 0.9487035	total: 76.4ms	remaining: 1.28s
9:	learn: 0.9446252	total: 84.8ms	remaining: 1.27s
10:	learn: 0.9412845	total: 93.2ms	remaining: 1.26s
11:	learn: 0.9386352	total: 101ms	remaining: 1.25s
12:	learn: 0.9361004	total: 109ms	remaining: 1.24s
13:	learn: 0.9341812	total: 118ms	remaining: 1.23s
14:	learn: 0.9324214	total: 126ms	remaining: 1.22s
15:	learn: 0.9307844	total: 145ms	remaining: 1.3s
16:	learn: 0.9295614	total: 152ms	remaining: 1.28s
17:	learn: 0.9283683	total: 160ms	remaining: 1.26s
18:	learn: 0.9273291	total: 167ms	remaining: 1.24s
19:	learn: 0.9260893	total: 175ms	remaining: 1.22s
20:	learn: 0.9251700	total: 182ms	remaining: 1.21s
21:	learn: 0.9245370	total: 190ms	remaining: 1.19s
22:	learn: 0.9236907	total: 197ms	remaining: 1.18s
23:	learn: 0.9228476	total: 205ms	remaining: 1.16s
24:	learn: 0.9222658	total: 220ms	remaining: 1.19s
25:	learn: 0.9217570	total: 227ms	remaining: 1.17s
26:	learn: 0.9210689	total: 235ms	remaining: 1.16s
27:	learn: 0.9206036	total: 243ms	remaining: 1.14s
28:	learn: 0.9202022	total: 250ms	remaining: 1.13s
29:	learn: 0.9196661	total: 258ms	remaining: 1.12s
30:	learn: 0.9193696	total: 265ms	remaining: 1.1s
31:	learn: 0.9188994	total: 275ms	remaining: 1.1s
32:	learn: 0.9186181	total: 282ms	remaining: 1.09s
33:	learn: 0.9183031	total: 289ms	remaining: 1.07s
34:	learn: 0.9180272	total: 297ms	remaining: 1.06s
35:	learn: 0.9176535	total: 305ms	remaining: 1.05s
36:	learn: 0.9172807	total: 313ms	remaining: 1.04s
37:	learn: 0.9168593	total: 321ms	remaining: 1.03s
38:	learn: 0.9165021	total: 329ms	remaining: 1.02s
39:	learn: 0.9163856	total: 344ms	remaining: 1.03s
40:	learn: 0.9160836	total: 351ms	remaining: 1.02s
41:	learn: 0.9160219	total: 359ms	remaining: 1.01s
42:	learn: 0.9158021	total: 366ms	remaining: 996ms
43:	learn: 0.9156227	total: 373ms	remaining: 984ms
44:	learn: 0.9152730	total: 381ms	remaining: 973ms
45:	learn: 0.9150287	total: 388ms	remaining: 962ms
46:	learn: 0.9147879	total: 402ms	remaining: 968ms
47:	learn: 0.9146338	total: 421ms	remaining: 983ms
48:	learn: 0.9146096	total: 429ms	remaining: 972ms
49:	learn: 0.9144720	total: 437ms	remaining: 962ms
50:	learn: 0.9143085	total: 445ms	remaining: 951ms
51:	learn: 0.9140575	total: 453ms	remaining: 941ms
52:	learn: 0.9140180	total: 461ms	remaining: 931ms
53:	learn: 0.9137387	total: 469ms	remaining: 921ms
54:	learn: 0.9134078	total: 477ms	remaining: 911ms
55:	learn: 0.9131609	total: 485ms	remaining: 901ms
56:	learn: 0.9129898	total: 493ms	remaining: 891ms
57:	learn: 0.9128079	total: 501ms	remaining: 882ms
58:	learn: 0.9126852	total: 509ms	remaining: 872ms
59:	learn: 0.9125485	total: 521ms	remaining: 868ms
60:	learn: 0.9124096	total: 529ms	remaining: 859ms
61:	learn: 0.9120696	total: 537ms	remaining: 849ms
62:	learn: 0.9119843	total: 545ms	remaining: 839ms
63:	learn: 0.9117763	total: 552ms	remaining: 828ms
64:	learn: 0.9116607	total: 560ms	remaining: 818ms
65:	learn: 0.9115870	total: 567ms	remaining: 807ms
66:	learn: 0.9115533	total: 574ms	remaining: 797ms
67:	learn: 0.9113899	total: 581ms	remaining: 786ms
68:	learn: 0.9112789	total: 589ms	remaining: 776ms
69:	learn: 0.9111526	total: 596ms	remaining: 766ms
70:	learn: 0.9110328	total: 603ms	remaining: 756ms
71:	learn: 0.9109187	total: 611ms	remaining: 747ms
72:	learn: 0.9108560	total: 629ms	remaining: 750ms
73:	learn: 0.9107812	total: 637ms	remaining: 740ms
74:	learn: 0.9107507	total: 645ms	remaining: 731ms
75:	learn: 0.9106884	total: 653ms	remaining: 722ms
76:	learn: 0.9106517	total: 661ms	remaining: 712ms
77:	learn: 0.9105730	total: 669ms	remaining: 703ms
78:	learn: 0.9104487	total: 676ms	remaining: 693ms
79:	learn: 0.9102831	total: 683ms	remaining: 683ms
80:	learn: 0.9102559	total: 690ms	remaining: 673ms
81:	learn: 0.9101605	total: 697ms	remaining: 663ms
82:	learn: 0.9100106	total: 705ms	remaining: 654ms
83:	learn: 0.9100023	total: 712ms	remaining: 644ms
84:	learn: 0.9099473	total: 720ms	remaining: 635ms
85:	learn: 0.9097712	total: 728ms	remaining: 626ms
86:	learn: 0.9097329	total: 735ms	remaining: 617ms
87:	learn: 0.9096795	total: 742ms	remaining: 607ms
88:	learn: 0.9095593	total: 750ms	remaining: 598ms
89:	learn: 0.9093934	total: 757ms	remaining: 589ms
90:	learn: 0.9092811	total: 765ms	remaining: 580ms
91:	learn: 0.9091925	total: 772ms	remaining: 571ms
92:	learn: 0.9091235	total: 779ms	remaining: 561ms
93:	learn: 0.9091012	total: 786ms	remaining: 552ms
94:	learn: 0.9089998	total: 794ms	remaining: 543ms
95:	learn: 0.9088737	total: 801ms	remaining: 534ms
96:	learn: 0.9087519	total: 809ms	remaining: 525ms
97:	learn: 0.9085980	total: 817ms	remaining: 517ms
98:	learn: 0.9085406	total: 824ms	remaining: 508ms
99:	learn: 0.9085271	total: 835ms	remaining: 501ms
100:	learn: 0.9084934	total: 842ms	remaining: 492ms
101:	learn: 0.9082964	total: 850ms	remaining: 483ms
102:	learn: 0.9081793	total: 857ms	remaining: 474ms
103:	learn: 0.9080803	total: 865ms	remaining: 466ms
104:	learn: 0.9080660	total: 872ms	remaining: 457ms
105:	learn: 0.9078532	total: 879ms	remaining: 448ms
106:	learn: 0.9077793	total: 887ms	remaining: 439ms
107:	learn: 0.9077115	total: 894ms	remaining: 430ms
108:	learn: 0.9076008	total: 901ms	remaining: 422ms
109:	learn: 0.9075297	total: 908ms	remaining: 413ms
110:	learn: 0.9074204	total: 916ms	remaining: 404ms
111:	learn: 0.9073594	total: 923ms	remaining: 396ms
112:	learn: 0.9073521	total: 930ms	remaining: 387ms
113:	learn: 0.9072344	total: 938ms	remaining: 378ms
114:	learn: 0.9071499	total: 945ms	remaining: 370ms
115:	learn: 0.9070939	total: 957ms	remaining: 363ms
116:	learn: 0.9069825	total: 965ms	remaining: 354ms
117:	learn: 0.9068236	total: 972ms	remaining: 346ms
118:	learn: 0.9067355	total: 979ms	remaining: 337ms
119:	learn: 0.9066038	total: 987ms	remaining: 329ms
120:	learn: 0.9065154	total: 994ms	remaining: 320ms
121:	learn: 0.9063295	total: 1s	remaining: 312ms
122:	learn: 0.9062825	total: 1.01s	remaining: 304ms
123:	learn: 0.9061878	total: 1.02s	remaining: 295ms
124:	learn: 0.9060095	total: 1.02s	remaining: 287ms
125:	learn: 0.9059691	total: 1.03s	remaining: 279ms
126:	learn: 0.9058827	total: 1.04s	remaining: 271ms
127:	learn: 0.9058149	total: 1.05s	remaining: 262ms
128:	learn: 0.9057413	total: 1.06s	remaining: 254ms
129:	learn: 0.9056423	total: 1.06s	remaining: 246ms
130:	learn: 0.9055443	total: 1.07s	remaining: 237ms
131:	learn: 0.9053930	total: 1.08s	remaining: 229ms
132:	learn: 0.9052678	total: 1.09s	remaining: 221ms
133:	learn: 0.9051595	total: 1.09s	remaining: 212ms
134:	learn: 0.9050513	total: 1.1s	remaining: 204ms
135:	learn: 0.9049344	total: 1.11s	remaining: 196ms
136:	learn: 0.9048601	total: 1.13s	remaining: 189ms
137:	learn: 0.9047887	total: 1.13s	remaining: 181ms
138:	learn: 0.9046112	total: 1.14s	remaining: 172ms
139:	learn: 0.9045611	total: 1.15s	remaining: 164ms
140:	learn: 0.9044672	total: 1.16s	remaining: 156ms
141:	learn: 0.9044234	total: 1.16s	remaining: 147ms
142:	learn: 0.9044009	total: 1.17s	remaining: 139ms
143:	learn: 0.9043117	total: 1.18s	remaining: 131ms
144:	learn: 0.9041811	total: 1.19s	remaining: 123ms
145:	learn: 0.9041611	total: 1.19s	remaining: 114ms
146:	learn: 0.9040866	total: 1.2s	remaining: 106ms
147:	learn: 0.9040481	total: 1.21s	remaining: 98ms
148:	learn: 0.9039467	total: 1.22s	remaining: 89.8ms
149:	learn: 0.9039261	total: 1.22s	remaining: 81.6ms
150:	learn: 0.9039180	total: 1.24s	remaining: 73.7ms
151:	learn: 0.9038721	total: 1.24s	remaining: 65.5ms
152:	learn: 0.9037729	total: 1.25s	remaining: 57.3ms
153:	learn: 0.9035721	total: 1.26s	remaining: 49.1ms
154:	learn: 0.9034791	total: 1.27s	remaining: 40.9ms
155:	learn: 0.9033852	total: 1.27s	remaining: 32.7ms
156:	learn: 0.9032796	total: 1.29s	remaining: 24.7ms
157:	learn: 0.9031402	total: 1.3s	remaining: 16.5ms
158:	learn: 0.9030792	total: 1.31s	remaining: 8.25ms
159:	learn: 0.9029481	total: 1.32s	remaining: 0us

In [0]:
y_Pred = catboost_model.predict(X_test)

In [129]:
from sklearn.metrics import f1_score

f1_score(y_test, y_Pred,average='weighted')

0.5357956544969503

In [0]:
predictions = catboost_model.predict(df1.values)

In [131]:
submission = pd.DataFrame()
submission['Loan_ID'] = df1['Loan_ID']
submission['Interest_Rate'] = predictions # our model predictions on the test dataset
submission.head(50)

     Loan_ID  Interest_Rate
0   10164310              2
1   10164311              1
2   10164312              3
3   10164313              2
4   10164314              2
5   10164315              3
6   10164316              3
7   10164317              3
8   10164318              3
9   10164319              3
10  10164320              3
11  10164321              2
12  10164322              2
13  10164323              2
14  10164324              2
15  10164325              2
16  10164326              1
17  10164327              3
18  10164328              3
19  10164329              3
20  10164330              2
21  10164331              2
22  10164332              3
23  10164333              3
24  10164334              2
25  10164335              3
26  10164336              3
27  10164337              2
28  10164338              2
29  10164339              2
30  10164340              2
31  10164341              3
32  10164342              2
33  10164343              2
34  10164344              2
35  10164345              3
36  10164346              2
37  10164347              3
38  10164348              2
39  10164349              2
40  10164350              2
41  10164351              2
42  10164352              2
43  10164353              2
44  10164354              3
45  10164355              3
46  10164356              2
47  10164357              3
48  10164358              3
49  10164359              3

In [0]:
submission.to_csv("csv14.csv",index=False)