In [317]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
!pip install xgboost
from numpy import loadtxt
from xgboost import XGBClassifier

Requirement already satisfied: xgboost in d:\anaconda\lib\site-packages (0.90)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from xgboost) (1.1.0)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from xgboost) (1.18.4)

In [318]:
df = pd.read_csv('train_Wc8LBpr.csv')
test_df = pd.read_csv('test_VsU9xXK.csv')

In [319]:
test_df.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender
0,T0005689459,9.44,A,10.0,2.57438,A,B,3.68000,2,NaN,46,63,Male
1,T0005689462,32.15,B,10.0,2.85143,A,A,1.59375,0,65.0,49,80,Female
2,T0005689463,10.38,C,4.0,2.70530,A,D,4.50500,0,NaN,47,74,Male
3,T0005689466,14.94,NaN,6.0,2.48159,C,E,4.53000,0,63.0,43,54,Male
4,T0005689468,32.03,B,7.0,2.81598,A,K,4.60125,3,96.0,44,56,Male

In [320]:
df.head()

,Trip_ID,Trip_Distance,Type_of_Cab,Customer_Since_Months,Life_Style_Index,Confidence_Life_Style_Index,Destination_Type,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Gender,Surge_Pricing_Type
0,T0005689460,6.77,B,1.0,2.42769,A,A,3.90500,0,40.0,46,60,Female,2
1,T0005689461,29.47,B,10.0,2.78245,B,A,3.45000,0,38.0,56,78,Male,2
2,T0005689464,41.58,NaN,10.0,NaN,NaN,E,3.50125,2,NaN,56,77,Male,2
3,T0005689465,61.56,C,10.0,NaN,NaN,A,3.45375,0,NaN,52,74,Male,3
4,T0005689467,54.95,C,10.0,3.03453,B,A,3.40250,4,51.0,49,102,Male,2

In [321]:
df.drop(['Trip_ID'], axis = 1,inplace=True) 
test_df.drop(['Trip_ID'], axis = 1,inplace=True)

In [322]:
df.describe(include="object")

       Type_of_Cab Confidence_Life_Style_Index Destination_Type  Gender
count       111452                      111469           131662  131662
unique           5                           3               14       2
top              B                           B                A    Male
freq         31136                       40355            77597   93900

In [323]:
test_df.describe(include="object")

       Type_of_Cab Confidence_Life_Style_Index Destination_Type Gender
count        74237                       74068            87395  87395
unique           5                           3               14      2
top              B                           B                A   Male
freq         20449                       26910            51413  62228

In [324]:
df.describe()

,Trip_Distance,Customer_Since_Months,Life_Style_Index,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3,Surge_Pricing_Type
count,131662.000000,125742.000000,111469.000000,131662.000000,131662.000000,60632.000000,131662.000000,131662.000000,131662.000000
mean,44.200909,6.016661,2.802064,2.849458,0.782838,64.202698,51.202800,75.099019,2.155747
std,25.522882,3.626887,0.225796,0.980675,1.037559,21.820447,4.986142,11.578278,0.738164
min,0.310000,0.000000,1.596380,0.001250,0.000000,30.000000,40.000000,52.000000,1.000000
25%,24.580000,3.000000,2.654730,2.152500,0.000000,46.000000,48.000000,67.000000,2.000000
50%,38.200000,6.000000,2.798050,2.895000,0.000000,61.000000,50.000000,74.000000,2.000000
75%,60.730000,10.000000,2.946780,3.582500,1.000000,80.000000,54.000000,82.000000,3.000000
max,109.230000,10.000000,4.875110,5.000000,8.000000,210.000000,124.000000,206.000000,3.000000

In [325]:
test_df.describe()

,Trip_Distance,Customer_Since_Months,Life_Style_Index,Customer_Rating,Cancellation_Last_1Month,Var1,Var2,Var3
count,87395.000000,83429.000000,74068.000000,87395.000000,87395.000000,40606.000000,87395.000000,87395.000000
mean,44.095174,5.990051,2.803392,2.847389,0.783031,63.936610,51.162160,75.015699
std,25.483993,3.626861,0.227113,0.981744,1.034266,21.636247,4.956831,11.582761
min,1.550000,0.000000,1.317850,0.001250,0.000000,30.000000,41.000000,52.000000
25%,24.540000,3.000000,2.654518,2.152500,0.000000,45.000000,48.000000,67.000000
50%,38.060000,6.000000,2.798630,2.895000,0.000000,61.000000,50.000000,73.000000
75%,60.690000,10.000000,2.949053,3.580000,1.000000,79.000000,54.000000,82.000000
max,109.230000,10.000000,4.871920,5.000000,8.000000,178.000000,116.000000,169.000000

In [326]:
df['Gender'].replace({'Male':0,'Female':1}, inplace=True)
test_df['Gender'].replace({'Male':0,'Female':1}, inplace=True)

In [327]:
df.Destination_Type.value_counts()

A    77597
B    29555
C     7484
D     6588
E     2717
F     1950
G     1489
H     1260
I      813
J      695
K      680
L      643
N       98
M       93
Name: Destination_Type, dtype: int64

In [328]:
df['Destination_Type'].replace({'A':0,'B':1,'C':2,'D':3,'E':4,'F':5,'G':6,'H':7,'I':8,'J':9,'K':10,'L':11,'M':12,'N':13}, inplace=True)
test_df['Destination_Type'].replace({'A':0,'B':1,'C':2,'D':3,'E':4,'F':5,'G':6,'H':7,'I':8,'J':9,'K':10,'L':11,'M':12,'N':13}, inplace=True)

In [329]:
df['Destination_Type']=df['Destination_Type'].astype('int64')
test_df['Destination_Type']=df['Destination_Type'].astype('int64')

In [330]:
df.Confidence_Life_Style_Index.value_counts()

B    40355
C    35967
A    35147
Name: Confidence_Life_Style_Index, dtype: int64

In [331]:
df['Confidence_Life_Style_Index'].replace({'A':0,'B':1,'C':2}, inplace=True)
test_df['Confidence_Life_Style_Index'].replace({'A':0,'B':1,'C':2}, inplace=True)

In [334]:
df.Type_of_Cab.value_counts()

B    31136
C    28122
A    21569
D    18991
E    11634
Name: Type_of_Cab, dtype: int64

In [335]:
df['Type_of_Cab'].replace({'A':0,'B':1,'C':2,'D':3,'E':4}, inplace=True)
test_df['Type_of_Cab'].replace({'A':0,'B':1,'C':2,'D':3,'E':4}, inplace=True)

In [336]:
df.Customer_Since_Months.value_counts()

10.0    42680
2.0     11621
3.0     10351
0.0     10169
5.0      8641
1.0      8297
4.0      7726
7.0      7407
6.0      7375
8.0      6328
9.0      5147
Name: Customer_Since_Months, dtype: int64

In [337]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131662 entries, 0 to 131661
Data columns (total 13 columns):
Trip_Distance                  131662 non-null float64
Type_of_Cab                    111452 non-null float64
Customer_Since_Months          125742 non-null float64
Life_Style_Index               111469 non-null float64
Confidence_Life_Style_Index    111469 non-null float64
Destination_Type               131662 non-null int64
Customer_Rating                131662 non-null float64
Cancellation_Last_1Month       131662 non-null int64
Var1                           60632 non-null float64
Var2                           131662 non-null int64
Var3                           131662 non-null int64
Gender                         131662 non-null int64
Surge_Pricing_Type             131662 non-null int64
dtypes: float64(7), int64(6)
memory usage: 13.1 MB

In [338]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87395 entries, 0 to 87394
Data columns (total 12 columns):
Trip_Distance                  87395 non-null float64
Type_of_Cab                    74237 non-null float64
Customer_Since_Months          83429 non-null float64
Life_Style_Index               74068 non-null float64
Confidence_Life_Style_Index    74068 non-null float64
Destination_Type               87395 non-null int64
Customer_Rating                87395 non-null float64
Cancellation_Last_1Month       87395 non-null int64
Var1                           40606 non-null float64
Var2                           87395 non-null int64
Var3                           87395 non-null int64
Gender                         87395 non-null int64
dtypes: float64(7), int64(5)
memory usage: 8.0 MB

In [339]:
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics

In [421]:
y=pd.DataFrame(columns=['Surge_Pricing_Type'])

In [422]:
y['Surge_Pricing_Type']=df.Surge_Pricing_Type
df=df.drop(['Surge_Pricing_Type'],axis=1)

In [341]:
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score, roc_auc_score,confusion_matrix
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV

In [355]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y, stratify=y,test_size=0.2,random_state=0)

In [344]:
model_xgb = XGBClassifier(objective='multi:softmax')
model_xgb.fit(x_train, y_train)
y_pred = model_xgb.predict(x_test)

D:\Anaconda\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [345]:
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[2978 1849  616]
 [ 449 9311 1586]
 [ 583 2877 6084]]
             precision    recall  f1-score   support

          1       0.74      0.55      0.63      5443
          2       0.66      0.82      0.73     11346
          3       0.73      0.64      0.68      9544

avg / total       0.71      0.70      0.69     26333

In [346]:
print(accuracy_score(y_test,y_pred))

0.6977176926290206

In [316]:
test_pred = model_xgb.predict(test_df)
pred=[]
pred=list(test_pred)
test_df['Surge_Pricing_Type']=pred
test_df.to_csv('submission_4_xgb.csv')

D:\Anaconda\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [352]:
!pip install hyperopt

Collecting hyperopt
  Downloading https://files.pythonhosted.org/packages/90/d5/c7e276f4f7bc65ac26391c435245e5ef8911b4393e3df5a74906c48afeaf/hyperopt-0.2.4-py2.py3-none-any.whl (964kB)
Requirement already satisfied: cloudpickle in d:\anaconda\lib\site-packages (from hyperopt) (1.2.1)
Requirement already satisfied: networkx>=2.2 in d:\anaconda\lib\site-packages (from hyperopt) (2.3)
Requirement already satisfied: future in d:\anaconda\lib\site-packages (from hyperopt) (0.17.1)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from hyperopt) (1.18.4)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from hyperopt) (1.1.0)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from hyperopt) (1.12.0)
Requirement already satisfied: tqdm in d:\anaconda\lib\site-packages (from hyperopt) (4.32.1)
Requirement already satisfied: decorator>=4.3.0 in d:\anaconda\lib\site-packages (from networkx>=2.2->hyperopt) (4.4.0)
Installing collected packages: hyperopt
Successfully installed hyperopt-0.2.4

In [384]:
# import packages for hyperparameters tuning
from hyperopt import STATUS_OK, Trials, fmin, hp, tpe
import xgboost as xgb

In [380]:
space={'max_depth': hp.quniform("max_depth", 1, 18, 1),
       'eta': hp.choice("eta", [0.01,0.02,0.06,0.08,0.1,0.2]),
        'gamma': hp.uniform ('gamma', 1,9),
        'colsample_bytree' : hp.uniform('colsample_bytree', 0.5,1),
        'min_child_weight' : hp.quniform('min_child_weight', 0, 10, 1),
        'subsample': hp.uniform('subsample', 0.5,1)
    }

In [424]:
y['Surge_Pricing_Type'] = y['Surge_Pricing_Type'] - 1

In [425]:
dtrain = xgb.DMatrix(df, y['Surge_Pricing_Type'], missing=np.nan)
dtest = xgb.DMatrix(test_df, missing=np.nan)

In [426]:
elist = [(dtrain, 'train')]

In [392]:
def objective(space):
    #clf=XGBClassifier(objective='multi:softmax',num_class= 3,tree_method= 'exact',
     #                max_depth = int(space['max_depth']), eta=float(space['eta']),gamma = space['gamma'],
      #               min_child_weight=int(space['min_child_weight']),
       #             colsample_bytree=float(space['colsample_bytree']),subsample=float(space['subsample']))
    
    evaluation = [( x_train, y_train), ( x_test, y_test)]
    
    #clf.fit(x_train, y_train,
     #       eval_set=evaluation, eval_metric="merror",
      #      early_stopping_rounds=15,verbose=True)
    clf = xgb.train(space, dtrain, num_boost_round=300, evals=elist, verbose_eval=20)

    pred = clf.predict(d_test)
    accuracy = accuracy_score(y_test, pred)
    print ("SCORE:", accuracy)
    return {'loss': -accuracy, 'status': STATUS_OK }

In [393]:
trials = Trials()

best_hyperparams = fmin(fn = objective,
                        space = space,
                        algo = tpe.suggest,
                        max_evals = 300,
                        trials = trials)

  0%|                                                                          | 0/300 [00:00<?, ?trial/s, best loss=?]

job exception: Invalid Parameter format for max_depth expect int but value='2.0'

XGBoostError: Invalid Parameter format for max_depth expect int but value='2.0'

In [370]:
print("The best hyperparameters are : ","\n")
print(best_hyperparams)

The best hyperparameters are :

{'colsample_bytree': 0.8735332391734303, 'eta': 1, 'gamma': 2.3836502529249692, 'max_depth': 11.0, 'min_child_weight': 1.0, 'reg_alpha': 43.0, 'reg_lambda': 0.17738473869876023, 'subsample': 0.7509840453549511}

In [378]:
model_xgb = XGBClassifier(objective='multi:softmax',num_class= 3,eta=0.02,colsample_bytree=0.8735332391734303, gamma= 2.3836502529249692, max_depth= 11, min_child_weight= 1.0,reg_alpha= 43.0, reg_lambda= 0.17738473869876023,subsample=0.7509840453549511)
model_xgb.fit(x, y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=0.8735332391734303, eta=0.02,
       gamma=2.3836502529249692, learning_rate=0.1, max_delta_step=0,
       max_depth=11, min_child_weight=1.0, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, num_class=3, objective='multi:softprob',
       random_state=0, reg_alpha=43.0, reg_lambda=0.17738473869876023,
       scale_pos_weight=1, seed=None, silent=None,
       subsample=0.7509840453549511, verbosity=1)

In [379]:
test_pred = model_xgb.predict(test_df)
pred=[]
pred=list(test_pred)
test_df['Surge_Pricing_Type']=pred
test_df.to_csv('submission_8_xgb.csv')

D:\Anaconda\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [427]:
params = {"objective": "multi:softmax","booster": "gbtree", "nthread": 4, "silent": 1,
                "eta": 0.08, "max_depth": 6, "subsample": 0.9, "colsample_bytree": 0.7,
                "min_child_weight": 1, "num_class": 3,
                "seed": 2016, "tree_method": "exact"}

In [428]:
clf = xgb.train(params, dtrain, num_boost_round=260, evals=elist, verbose_eval=20)

[0]	train-merror:0.312148
[20]	train-merror:0.299327
[40]	train-merror:0.295522
[60]	train-merror:0.292704
[80]	train-merror:0.289119
[100]	train-merror:0.286704
[120]	train-merror:0.284114
[140]	train-merror:0.282253
[160]	train-merror:0.280248
[180]	train-merror:0.278334
[200]	train-merror:0.276496
[220]	train-merror:0.274681
[240]	train-merror:0.273108
[259]	train-merror:0.271536

In [429]:
pred = clf.predict(dtest)

In [430]:
test1_df = pd.read_csv('test_VsU9xXK.csv')

In [431]:
submit = pd.DataFrame({'Trip_ID': test1_df['Trip_ID'], 'Surge_Pricing_Type': pred + 1})
submit.to_csv("Submission_12_xgb.csv", index=False)