In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
train =pd.read_csv('train.csv')
test =pd.read_csv('test.csv')
train['data']='train'
test['data']='test'

In [4]:
train.shape

(8068, 12)

In [5]:
test.shape

(2627, 11)

In [6]:
train.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation,data
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D,train
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A,train
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B,train
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B,train
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A,train

In [7]:
test.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,data
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,test
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,test
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,test
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,test
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6,test

In [8]:
train.ID.isin(test.ID).sum()

2332

In [9]:
test.shape[0]

2627

In [10]:
2332/2627

0.8877046060144652

In [11]:
train.ID.nunique()

8068

In [12]:
test.ID.nunique()

2627

In [13]:
test[test.ID==466315]

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,data
2146,466315,Female,Yes,69,Yes,Engineer,1.0,Low,1.0,Cat_6,test

In [14]:
train[train.ID==466315]

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation,data
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B,train

In [15]:
train.ID.nunique()

8068

In [16]:
train.ID.isin(test.ID)

0       False
1        True
2        True
3       False
4        True
        ...
8063    False
8064     True
8065    False
8066    False
8067    False
Name: ID, Length: 8068, dtype: bool

In [17]:
test.shape

(2627, 11)

In [18]:
# df.loc[ (pd.isnull(df['Ever_Married'])) & (df['Profession'] == 'Lawyer'), 'Ever_Married'] = 'Yes'
train.loc[(train.ID==466315),'Segmentation']

2    B
Name: Segmentation, dtype: object

In [19]:
train.loc[train.ID==466315]['Segmentation']

2    B
Name: Segmentation, dtype: object

In [20]:
key = pd.DataFrame(columns=['ID','Segmentation'])
key

Empty DataFrame
Columns: [ID, Segmentation]
Index: []

In [21]:
key.ID.append(train.loc[train.ID==466315]['Segmentation'])

2    B
dtype: object

In [22]:
key

Empty DataFrame
Columns: [ID, Segmentation]
Index: []

In [23]:
test.isnull().sum()

ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
data                 0
dtype: int64

In [24]:
test.shape

(2627, 11)

In [25]:
final_test = test[test.ID.isin(train.ID)==False]
final_test

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,data
6,459005,Male,Yes,61,Yes,Doctor,5.0,Low,3.0,Cat_6,test
19,459045,Female,Yes,88,Yes,Lawyer,1.0,Average,4.0,Cat_6,test
32,459090,Male,No,31,No,Artist,1.0,Low,2.0,Cat_6,test
38,459116,Male,Yes,60,Yes,Artist,2.0,Average,5.0,Cat_6,test
43,459121,Female,Yes,51,Yes,Artist,3.0,Average,6.0,Cat_6,test
...,...,...,...,...,...,...,...,...,...,...,...
2607,467913,Male,Yes,48,Yes,Artist,3.0,Low,1.0,Cat_6,test
2612,467930,Male,Yes,45,Yes,Entertainment,4.0,Average,2.0,Cat_6,test
2616,467938,Male,Yes,46,Yes,Entertainment,5.0,Low,1.0,Cat_2,test
2624,467960,Female,No,53,Yes,Entertainment,NaN,Low,2.0,Cat_6,test
2626,467968,Female,No,43,Yes,Healthcare,9.0,Low,3.0,Cat_7,test

In [26]:
fd = pd.merge( test[['ID']] ,  train[['ID','Segmentation']] , on='ID', how ='left' )
fd

          ID Segmentation
0     458989            B
1     458994            C
2     458996            A
3     459000            C
4     459001            C
...      ...          ...
2622  467954            D
2623  467958            A
2624  467960          NaN
2625  467961            B
2626  467968          NaN

[2627 rows x 2 columns]

In [27]:
fd[fd.Segmentation.isnull()]

          ID Segmentation
6     459005          NaN
19    459045          NaN
32    459090          NaN
38    459116          NaN
43    459121          NaN
...      ...          ...
2607  467913          NaN
2612  467930          NaN
2616  467938          NaN
2624  467960          NaN
2626  467968          NaN

[295 rows x 2 columns]

In [28]:
fd[fd.Segmentation.isnull()]['ID']

6       459005
19      459045
32      459090
38      459116
43      459121
         ...
2607    467913
2612    467930
2616    467938
2624    467960
2626    467968
Name: ID, Length: 295, dtype: int64

In [29]:
fd_list_id = fd[fd.Segmentation.isnull()]['ID']

In [30]:
pd.merge(fd_list_id,  test , on='ID', how ='left' )

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,data
0,459005,Male,Yes,61,Yes,Doctor,5.0,Low,3.0,Cat_6,test
1,459045,Female,Yes,88,Yes,Lawyer,1.0,Average,4.0,Cat_6,test
2,459090,Male,No,31,No,Artist,1.0,Low,2.0,Cat_6,test
3,459116,Male,Yes,60,Yes,Artist,2.0,Average,5.0,Cat_6,test
4,459121,Female,Yes,51,Yes,Artist,3.0,Average,6.0,Cat_6,test
...,...,...,...,...,...,...,...,...,...,...,...
290,467913,Male,Yes,48,Yes,Artist,3.0,Low,1.0,Cat_6,test
291,467930,Male,Yes,45,Yes,Entertainment,4.0,Average,2.0,Cat_6,test
292,467938,Male,Yes,46,Yes,Entertainment,5.0,Low,1.0,Cat_2,test
293,467960,Female,No,53,Yes,Entertainment,NaN,Low,2.0,Cat_6,test
294,467968,Female,No,43,Yes,Healthcare,9.0,Low,3.0,Cat_7,test

In [31]:
target_y= pd.merge(fd_list_id,  test , on='ID', how ='left' )

In [32]:
df=pd.concat([train,target_y],ignore_index=True, sort=False)

In [33]:
df.shape

(8363, 12)

In [34]:
df.sample(10)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation,data
7778,463119,Female,Yes,88,Yes,Lawyer,NaN,High,2.0,Cat_6,C,train
6642,461145,Female,Yes,36,Yes,Entertainment,0.0,Low,2.0,Cat_3,A,train
4686,463153,Female,No,26,Yes,Homemaker,9.0,Low,1.0,Cat_2,D,train
2359,466010,Female,Yes,69,No,Doctor,0.0,Low,1.0,Cat_3,A,train
5075,461731,Male,Yes,79,No,Entertainment,0.0,Low,1.0,Cat_6,B,train
4412,466963,Male,No,63,No,Entertainment,7.0,Low,1.0,Cat_6,A,train
7202,463444,Male,Yes,61,Yes,Lawyer,NaN,High,2.0,Cat_6,B,train
6841,466396,Female,No,19,No,Healthcare,1.0,Low,5.0,Cat_3,D,train
3736,462461,Male,No,28,Yes,Doctor,1.0,Low,3.0,Cat_6,D,train
7622,465736,Female,No,36,Yes,Artist,8.0,Low,2.0,Cat_3,B,train

# Null value imputation

In [35]:
df[df.Ever_Married.isnull()].isnull().sum()

ID                   0
Gender               0
Ever_Married       144
Age                  0
Graduated            4
Profession           5
Work_Experience     24
Spending_Score       0
Family_Size         12
Var_1                2
Segmentation         4
data                 0
dtype: int64

In [36]:
df[df.Ever_Married.isnull()].Spending_Score.value_counts()

Low        65
High       41
Average    38
Name: Spending_Score, dtype: int64

In [37]:
df.loc[ (pd.isnull(df['Ever_Married'])) & (df['Spending_Score'] != 'Low'), 'Ever_Married'] = 'Yes'

In [38]:
df[df.Ever_Married.isnull()].isnull().sum()

ID                  0
Gender              0
Ever_Married       65
Age                 0
Graduated           0
Profession          0
Work_Experience     5
Spending_Score      0
Family_Size         5
Var_1               0
Segmentation        2
data                0
dtype: int64

In [39]:
# lawer ,married
# healthcare ,unmarried
df.loc[ (pd.isnull(df['Ever_Married'])) & (df['Profession'] == 'Lawyer'), 'Ever_Married'] = 'Yes'
df.loc[ (pd.isnull(df['Ever_Married'])) & (df['Profession'] == 'Healthcare'), 'Ever_Married'] = 'No'

In [40]:
df[df.Ever_Married.isnull()].isnull().sum()

ID                  0
Gender              0
Ever_Married       36
Age                 0
Graduated           0
Profession          0
Work_Experience     2
Spending_Score      0
Family_Size         4
Var_1               0
Segmentation        1
data                0
dtype: int64

In [41]:
# graduated married
df.loc[ (pd.isnull(df['Ever_Married'])) & (df['Graduated'] == 'Yes'), 'Ever_Married'] = 'Yes'
df.loc[ (pd.isnull(df['Ever_Married'])) & (df['Graduated'] == 'No'), 'Ever_Married'] = 'No'

In [42]:
df[df.Ever_Married.isnull()].isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
data               0
dtype: int64

In [43]:
# artists graduated
df.loc[ (pd.isnull(df['Graduated'])) & (df['Profession'] == 'Artist'), 'Graduated'] = 'Yes'

In [44]:
df[df.Graduated.isnull()].isnull().sum()

ID                  0
Gender              0
Ever_Married        0
Age                 0
Graduated          65
Profession          7
Work_Experience    13
Spending_Score      0
Family_Size         7
Var_1               0
Segmentation        1
data                0
dtype: int64

In [45]:
# married graduated
df.loc[ (pd.isnull(df['Graduated'])) & (df['Ever_Married'] == 'Yes'), 'Graduated'] = 'Yes'
df.loc[ (pd.isnull(df['Graduated'])) & (df['Ever_Married'] == 'No'), 'Graduated'] = 'No'

In [46]:
df[df.Graduated.isnull()].isnull().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
Segmentation       0
data               0
dtype: int64

In [47]:
df[df.Profession.isnull()].isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession         128
Work_Experience     26
Spending_Score       0
Family_Size         12
Var_1                3
Segmentation         4
data                 0
dtype: int64

In [48]:
# var_1=6 , profession=artist

In [49]:
df.loc[ (pd.isnull(df['Profession'])) & (df['Var_1']=='Cat_6') ,'Profession'] = 'Artist'

In [50]:
df[df.Profession.isnull()].isnull().sum()

ID                  0
Gender              0
Ever_Married        0
Age                 0
Graduated           0
Profession         68
Work_Experience    15
Spending_Score      0
Family_Size         8
Var_1               3
Segmentation        3
data                0
dtype: int64

In [51]:
for i in ['Healthcare', 'Engineer', 'Lawyer', 'Entertainment', 'Artist','Executive', 'Doctor', 'Homemaker', 'Marketing']:
    print(i,'\n',df[df.Profession == i]['Work_Experience'].median(),'\n')

Healthcare
 1.0

Engineer
 1.0

Lawyer
 1.0

Entertainment
 1.0

Artist
 1.0

Executive
 1.0

Doctor
 1.0

Homemaker
 8.0

Marketing
 1.0

In [52]:
df.loc[ (pd.isnull(df['Work_Experience'])) & (df['Profession'] == 'Healthcare'), 'Work_Experience'] = 1
df.loc[ (pd.isnull(df['Work_Experience'])) & (df['Profession'] == 'Engineer'), 'Work_Experience'] = 1
df.loc[ (pd.isnull(df['Work_Experience'])) & (df['Profession'] == 'Lawyer'), 'Work_Experience'] = 1
df.loc[ (pd.isnull(df['Work_Experience'])) & (df['Profession'] == 'Entertainment'), 'Work_Experience'] = 1
df.loc[ (pd.isnull(df['Work_Experience'])) & (df['Profession'] == 'Artist'), 'Work_Experience'] = 1
df.loc[ (pd.isnull(df['Work_Experience'])) & (df['Profession'] == 'Executive'), 'Work_Experience'] = 1
df.loc[ (pd.isnull(df['Work_Experience'])) & (df['Profession'] == 'Doctor'), 'Work_Experience'] = 1
df.loc[ (pd.isnull(df['Work_Experience'])) & (df['Profession'] == 'Homemaker'), 'Work_Experience'] = 8
df.loc[ (pd.isnull(df['Work_Experience'])) & (df['Profession'] == 'Marketing'), 'Work_Experience'] = 1

In [53]:
df['Work_Experience'].fillna(1,inplace=True)

In [54]:
#ever_married = yes , family size = 2
df.loc[ (pd.isnull(df['Family_Size'])) & (df['Ever_Married'] == 'Yes'), 'Family_Size'] = 2
df.loc[ (pd.isnull(df['Family_Size'])) & (df['Ever_Married'] == 'No'), 'Family_Size'] = 1

In [55]:
# fam siz 4 proff healthcare
df.loc[ (pd.isnull(df['Profession'])) & (df['Family_Size'] == 4), 'Profession'] = 'Healthcare'

In [56]:
df.Profession.fillna(method='ffill',inplace=True)
df.Var_1.fillna(method='ffill',inplace=True)

In [57]:
df.isnull().sum()

ID                   0
Gender               0
Ever_Married         0
Age                  0
Graduated            0
Profession           0
Work_Experience      0
Spending_Score       0
Family_Size          0
Var_1                0
Segmentation       295
data                 0
dtype: int64

# b_fill imputation

df.fillna(method='bfill',inplace=True)

# Labels

In [58]:
def gender(x):
    if x=='Male':
        x=1
    else:
        x=0
    return(x)
df.Gender = df.Gender.apply(gender)

In [59]:
def yes_no(x):
    if x=='Yes':
        x=1
    else:
        x=0
    return(x)
df.Ever_Married = df.Ever_Married.apply(yes_no)
df.Graduated = df.Graduated.apply(yes_no)

In [60]:
df.sample(10)

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation,data
3566,465519,0,1,73,0,Lawyer,1.0,High,2.0,Cat_6,A,train
7560,466345,1,0,21,0,Healthcare,1.0,Low,4.0,Cat_2,D,train
1167,461798,0,0,56,1,Artist,0.0,Low,1.0,Cat_6,A,train
3736,462461,1,0,28,1,Doctor,1.0,Low,3.0,Cat_6,D,train
1102,463140,1,1,31,0,Engineer,5.0,Average,3.0,Cat_3,A,train
4048,465279,1,1,53,1,Healthcare,0.0,High,4.0,Cat_6,A,train
8235,464232,1,1,28,0,Doctor,1.0,Low,5.0,Cat_6,NaN,test
8286,465496,1,1,84,1,Lawyer,1.0,Low,2.0,Cat_2,NaN,test
3834,461507,1,1,35,1,Entertainment,0.0,Low,2.0,Cat_6,D,train
3079,467711,0,0,31,1,Artist,1.0,Low,1.0,Cat_6,A,train

In [61]:
df=pd.get_dummies(df,columns=['Profession','Var_1','Spending_Score'])

In [62]:
df.data.value_counts()

train    8068
test      295
Name: data, dtype: int64

In [63]:
traindata = df[df.data=='train']

In [64]:
X = traindata.drop(['Segmentation','data','ID'],axis=1)
y = traindata['Segmentation']

trainset = df[df.data=='train']

X = trainset.drop(['Segmentation','data'],axis=1)
y = trainset['Segmentation']

In [65]:
X.shape

(8068, 25)

In [66]:
y.shape

(8068,)

In [67]:
def target(x):
    if x == 'A':
        x=1
    elif x == 'B':
        x=2
    elif x == 'C':
        x=3
    elif x == 'D':
        x=4
    return(x)
y = y.apply(target)

# Refining

In [68]:
df

,ID,Gender,Ever_Married,Age,Graduated,Work_Experience,Family_Size,Segmentation,data,Profession_Artist,...,Var_1_Cat_1,Var_1_Cat_2,Var_1_Cat_3,Var_1_Cat_4,Var_1_Cat_5,Var_1_Cat_6,Var_1_Cat_7,Spending_Score_Average,Spending_Score_High,Spending_Score_Low
0,462809,1,0,22,0,1.0,4.0,D,train,0,...,0,0,0,1,0,0,0,0,0,1
1,462643,0,1,38,1,1.0,3.0,A,train,0,...,0,0,0,1,0,0,0,1,0,0
2,466315,0,1,67,1,1.0,1.0,B,train,0,...,0,0,0,0,0,1,0,0,0,1
3,461735,1,1,67,1,0.0,2.0,B,train,0,...,0,0,0,0,0,1,0,0,1,0
4,462669,0,1,40,1,1.0,6.0,A,train,0,...,0,0,0,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8358,467913,1,1,48,1,3.0,1.0,NaN,test,1,...,0,0,0,0,0,1,0,0,0,1
8359,467930,1,1,45,1,4.0,2.0,NaN,test,0,...,0,0,0,0,0,1,0,1,0,0
8360,467938,1,1,46,1,5.0,1.0,NaN,test,0,...,0,1,0,0,0,0,0,0,0,1
8361,467960,0,0,53,1,1.0,2.0,NaN,test,0,...,0,0,0,0,0,1,0,0,0,1
8362,467968,0,0,43,1,9.0,3.0,NaN,test,0,...,0,0,0,0,0,0,1,0,0,1

# balancing via SMOTE

In [69]:
from imblearn.over_sampling import SMOTE
smote = SMOTE('auto')
X_sm, y_sm = smote.fit_sample(X,y)
print(X_sm.shape, y_sm.shape)

Using TensorFlow backend.

(9072, 25) (9072,)

# LGBM

In [70]:
# train test
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.3, random_state=42)

In [71]:
X_train

,Gender,Ever_Married,Age,Graduated,Work_Experience,Family_Size,Profession_Artist,Profession_Doctor,Profession_Engineer,Profession_Entertainment,...,Var_1_Cat_1,Var_1_Cat_2,Var_1_Cat_3,Var_1_Cat_4,Var_1_Cat_5,Var_1_Cat_6,Var_1_Cat_7,Spending_Score_Average,Spending_Score_High,Spending_Score_Low
6395,1,1,70,1,3.0,1.000000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
8429,1,0,27,0,1.0,2.857281,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
2280,1,1,50,1,1.0,4.000000,0,0,0,1,...,0,0,0,0,0,1,0,0,0,1
6851,1,1,32,1,5.0,2.000000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
5991,1,1,42,1,5.0,2.000000,1,0,0,0,...,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,1,0,21,0,1.0,4.000000,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
5191,0,1,40,0,6.0,1.000000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
5390,1,0,31,0,1.0,4.000000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
860,0,0,40,1,4.0,1.000000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
7270,0,0,27,1,1.0,9.000000,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1

In [72]:
from numpy import mean
from numpy import std

In [73]:
from lightgbm import LGBMClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold

In [74]:
model = LGBMClassifier(num_leaves=11,n_estimators=200)
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=42)
n_scores = cross_val_score(model, X_sm, y_sm, scoring='accuracy', cv=cv, n_jobs=-1, error_score='raise')

In [75]:
print('Accuracy: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

Accuracy: 0.544 (0.016)

In [76]:
# complte train fit for best model LGBM
model.fit(X, y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=200, n_jobs=-1, num_leaves=11, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [77]:
testdata = df[df.data=='test'].drop(['data','ID'],axis=1)

In [78]:
testdata.shape

(295, 26)

In [79]:
X_test = testdata.drop('Segmentation',axis=1)

In [80]:
y_pred_testset = model.predict(X_test)

In [81]:
y_pred_testset

array([1, 1, 1, 3, 3, 1, 3, 3, 3, 3, 2, 3, 4, 3, 1, 3, 3, 4, 3, 1, 3, 1,
       2, 4, 2, 2, 4, 1, 1, 3, 1, 2, 3, 1, 2, 2, 1, 3, 2, 4, 2, 1, 1, 2,
       2, 4, 3, 1, 1, 2, 2, 4, 2, 1, 1, 3, 4, 1, 2, 4, 1, 1, 3, 4, 1, 1,
       4, 1, 2, 4, 3, 3, 1, 1, 4, 1, 4, 1, 1, 4, 2, 2, 4, 2, 2, 4, 1, 1,
       4, 4, 4, 3, 3, 3, 4, 2, 2, 3, 3, 2, 1, 3, 4, 4, 4, 4, 1, 4, 4, 3,
       2, 1, 3, 1, 4, 1, 3, 2, 2, 2, 4, 4, 2, 3, 3, 3, 4, 4, 1, 1, 3, 4,
       4, 3, 3, 3, 3, 2, 4, 1, 4, 4, 4, 4, 4, 3, 4, 1, 3, 3, 4, 4, 4, 4,
       2, 3, 4, 4, 1, 3, 4, 4, 4, 2, 2, 2, 1, 4, 2, 3, 4, 3, 4, 2, 2, 4,
       4, 1, 1, 2, 4, 1, 3, 1, 1, 3, 2, 4, 1, 4, 4, 1, 3, 3, 4, 3, 2, 1,
       3, 4, 3, 2, 3, 4, 3, 1, 4, 4, 1, 4, 3, 1, 4, 1, 1, 2, 1, 3, 1, 3,
       2, 3, 4, 2, 2, 3, 4, 1, 1, 1, 4, 4, 1, 4, 2, 4, 1, 1, 4, 2, 1, 1,
       4, 3, 4, 4, 3, 2, 4, 4, 2, 4, 4, 4, 2, 1, 4, 1, 4, 4, 2, 4, 2, 2,
       4, 2, 1, 3, 1, 1, 2, 1, 4, 3, 4, 2, 3, 1, 2, 2, 3, 4, 1, 3, 3, 3,
       4, 4, 1, 3, 2, 3, 1, 1, 4], dtype=int64)

1. join this to target_y

In [82]:
target_y['Segmentation']= y_pred_testset

In [83]:
target_id_seg = target_y[['ID','Segmentation']]

In [86]:
def target(x):
    if x == 1:
        x='A'
    elif x == 2:
        x='B'
    elif x == 3:
        x='C'
    elif x == 4:
        x='D'
    return(x)
target_id_seg.Segmentation = target_id_seg.Segmentation.apply(target)

2. join this to test data provided

In [87]:
target_filled = pd.merge(test , target_id_seg,   on='ID', how ='left' )
target_filled

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,data,Segmentation
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,test,NaN
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,test,NaN
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,test,NaN
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,test,NaN
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6,test,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2622,467954,Male,No,29,No,Healthcare,9.0,Low,4.0,Cat_6,test,NaN
2623,467958,Female,No,35,Yes,Doctor,1.0,Low,1.0,Cat_6,test,NaN
2624,467960,Female,No,53,Yes,Entertainment,NaN,Low,2.0,Cat_6,test,A
2625,467961,Male,Yes,47,Yes,Executive,1.0,High,5.0,Cat_4,test,NaN
2626,467968,Female,No,43,Yes,Healthcare,9.0,Low,3.0,Cat_7,test,D

In [88]:
fd

          ID Segmentation
0     458989            B
1     458994            C
2     458996            A
3     459000            C
4     459001            C
...      ...          ...
2622  467954            D
2623  467958            A
2624  467960          NaN
2625  467961            B
2626  467968          NaN

[2627 rows x 2 columns]

3. join this with fd

In [89]:
pd.merge( fd, target_filled ,  on='ID', how = 'left')

,ID,Segmentation_x,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,data,Segmentation_y
0,458989,B,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,test,NaN
1,458994,C,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,test,NaN
2,458996,A,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,test,NaN
3,459000,C,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,test,NaN
4,459001,C,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6,test,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,467954,D,Male,No,29,No,Healthcare,9.0,Low,4.0,Cat_6,test,NaN
2623,467958,A,Female,No,35,Yes,Doctor,1.0,Low,1.0,Cat_6,test,NaN
2624,467960,NaN,Female,No,53,Yes,Entertainment,NaN,Low,2.0,Cat_6,test,A
2625,467961,B,Male,Yes,47,Yes,Executive,1.0,High,5.0,Cat_4,test,NaN
2626,467968,NaN,Female,No,43,Yes,Healthcare,9.0,Low,3.0,Cat_7,test,D

In [90]:
target_filled.update(fd)

In [91]:
target_filled

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,data,Segmentation
0,458989,Female,Yes,36,Yes,Engineer,0.0,Low,1.0,Cat_6,test,B
1,458994,Male,Yes,37,Yes,Healthcare,8.0,Average,4.0,Cat_6,test,C
2,458996,Female,Yes,69,No,NaN,0.0,Low,1.0,Cat_6,test,A
3,459000,Male,Yes,59,No,Executive,11.0,High,2.0,Cat_6,test,C
4,459001,Female,No,19,No,Marketing,NaN,Low,4.0,Cat_6,test,C
...,...,...,...,...,...,...,...,...,...,...,...,...
2622,467954,Male,No,29,No,Healthcare,9.0,Low,4.0,Cat_6,test,D
2623,467958,Female,No,35,Yes,Doctor,1.0,Low,1.0,Cat_6,test,A
2624,467960,Female,No,53,Yes,Entertainment,NaN,Low,2.0,Cat_6,test,A
2625,467961,Male,Yes,47,Yes,Executive,1.0,High,5.0,Cat_4,test,B
2626,467968,Female,No,43,Yes,Healthcare,9.0,Low,3.0,Cat_7,test,D

In [92]:
target_filled.Segmentation

0       B
1       C
2       A
3       C
4       C
       ..
2622    D
2623    A
2624    A
2625    B
2626    D
Name: Segmentation, Length: 2627, dtype: object

In [93]:
target_filled.Segmentation.to_csv('FinalSub.csv')

# XGB

In [94]:
from sklearn.model_selection import train_test_split 
X_train_xg, X_test_xg, y_train_xg, y_test_xg = train_test_split(X_sm, y_sm, test_size=0.3, random_state=42)

In [95]:
print (X_train_xg.shape, y_train_xg.shape,X_test_xg.shape,y_test_xg.shape )

(6350, 25) (6350,) (2722, 25) (2722,)

In [96]:
from xgboost import XGBClassifier

In [97]:
modelxg = XGBClassifier(max_depth=100,learning_rate=0.1,n_estimators=150, random_state=42)
modelxg.fit(X_train_xg, y_train_xg)
y_pred_xg = modelxg.predict(X_test_xg)

In [98]:
from sklearn.metrics import accuracy_score

In [99]:

accuracy_score(y_test_xg, y_pred_xg)

0.5257163850110214

In [329]:
sdfsafasfaf

NameError: name 'sdfsafasfaf' is not defined

In [492]:
sub2 = pd.read_csv('sub1.csv')

In [496]:
def target(x):
    if x == 'A':
        x=1
    elif x == 'B':
        x=2
    elif x == 'C':
        x=3
    elif x == 'D':
        x=4
    return(x)
sub2.Segmentation = sub2.Segmentation.apply(target)

In [497]:
sub2

          ID  Segmentation
0     458989             1
1     458994             3
2     458996             2
3     459000             3
4     459001             4
...      ...           ...
2622  467954             4
2623  467958             1
2624  467960             1
2625  467961             2
2626  467968             4

[2627 rows x 2 columns]

In [498]:
tf = target_filled.Segmentation

In [501]:
def target(x):
    if x == 'A':
        x=1
    elif x == 'B':
        x=2
    elif x == 'C':
        x=3
    elif x == 'D':
        x=4
    return(x)
tf = tf.apply(target)

In [502]:
print(metrics.accuracy_score(sub2.Segmentation,tf ))

0.6200989722116482

In [132]:
df.ID = df.ID-458982

In [133]:
df.ID.nunique()

8363

In [44]:
final = pd.read_csv('FinalSub.csv')

In [45]:
final

      Unnamed: 0 Segmentation
0              0            B
1              1            C
2              2            A
3              3            C
4              4            C
...          ...          ...
2622        2622            D
2623        2623            A
2624        2624          1.0
2625        2625            B
2626        2626          4.0

[2627 rows x 2 columns]

In [50]:
def target(x):
    if x == '1.0':
        x='A'
    elif x == '2.0':
        x='B'
    elif x == '3.0':
        x='C'
    elif x == '4.0':
        x='D'
    return(x)
final.Segmentation = final.Segmentation.apply(target)

In [51]:
final

      Unnamed: 0 Segmentation
0              0            B
1              1            C
2              2            A
3              3            C
4              4            C
...          ...          ...
2622        2622            D
2623        2623            A
2624        2624            A
2625        2625            B
2626        2626            D

[2627 rows x 2 columns]

In [118]:
#df.drop('Work_Experience',axis=1,inplace=True)

In [93]:
y.value_counts()

4    2268
1    1972
3    1970
2    1858
Name: Segmentation, dtype: int64

# CatBoost

In [316]:
cate_features_index = np.where(X_train.dtypes != float)[0]
cate_features_index

array([ 0,  1,  2,  3,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
       19, 20, 21, 22, 23, 24], dtype=int64)

In [317]:
from catboost import Pool, CatBoostClassifier

In [318]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score

In [319]:
# 1st target
modelCat = CatBoostClassifier()
modelCat.fit(X_train,y_train,cat_features=cate_features_index,eval_set=(X_test,y_test))

CatBoostError: Length of label=2722 and length of data=295 is different.

In [102]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, f1_score

In [103]:
y_pred = modelCat.predict(X_test)
from sklearn import metrics  
print(metrics.accuracy_score(y_test, y_pred))
print(metrics.f1_score(y_test, y_pred, average='weighted'))

0.5357290375877737
0.5277176246435163

In [261]:
y_pred = modelCat.predict(X_test)
from sklearn import metrics  
print(metrics.accuracy_score(y_test, y_pred))
print(metrics.f1_score(y_test, y_pred, average='weighted'))

0.5320115654688146
0.5258791270759384

# Random Forest Feature selection

In [113]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(max_depth=150, min_samples_leaf= 5, min_samples_split= 3 , n_estimators=300, random_state = 42)

In [114]:
from sklearn.feature_selection import SelectFromModel

In [115]:
sel = SelectFromModel(RandomForestClassifier(n_estimators = 100))
sel.fit(X, y)

SelectFromModel(estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                                 class_weight=None,
                                                 criterion='gini',
                                                 max_depth=None,
                                                 max_features='auto',
                                                 max_leaf_nodes=None,
                                                 max_samples=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=100, n_jobs=None,
                                                 oob_score=False,
                                                 random_state=None, verbose=0,
                                                 warm_start=False),
                max_features=None, norm_order=1, prefit=False, threshold=None)

In [116]:
sel.get_support()

array([False, False,  True, False,  True,  True, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False])

In [117]:
selected_feat= X_sm.columns[(sel.get_support())]
len(selected_feat)

3

In [118]:
print(selected_feat)

Index(['Age', 'Work_Experience', 'Family_Size'], dtype='object')

In [65]:
X.columns

Index(['ID', 'Gender', 'Ever_Married', 'Age', 'Graduated', 'Work_Experience',
       'Family_Size', 'divorce', 'Profession_Artist', 'Profession_Doctor',
       'Profession_Engineer', 'Profession_Entertainment',
       'Profession_Executive', 'Profession_Healthcare', 'Profession_Homemaker',
       'Profession_Lawyer', 'Profession_Marketing', 'Var_1_Cat_1',
       'Var_1_Cat_2', 'Var_1_Cat_3', 'Var_1_Cat_4', 'Var_1_Cat_5',
       'Var_1_Cat_6', 'Var_1_Cat_7', 'Spending_Score_Average',
       'Spending_Score_High', 'Spending_Score_Low'],
      dtype='object')

In [125]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X_sm, y_sm, test_size=0.3, random_state=42)

In [126]:
forest.fit(X_train,y_train)
y_pred = forest.predict(X_test)

In [127]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average=None)

array([0.46251768, 0.44096951, 0.58716981, 0.66058906])

In [300]:
pd.DataFrame(y_pred_testset).to_csv('predictions.csv')

In [ ]:
#seg_et_1=pd.concat([test_ids,seg_et],ignore_index=False,join='outer',axis=1)
#df=pd.get_dummies(df,columns=['Profession','Var_1','Spending_Score'])

In [57]:
def myfillna(series):
    if series.dtype is pd.np.dtype(float):
        return series.fillna(series.median())
    elif series.dtype is pd.np.dtype(int):
        return series.fillna(series.median())
    elif series.dtype is pd.np.dtype(object):
        return series.fillna('NaN')
    else:
        return series

In [58]:
trainset = trainset.apply(myfillna)

In [59]:
X = trainset.drop('Segmentation',axis=1)
y = trainset['Segmentation']

In [62]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)