In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split

import os
import time

# hide warnings
import warnings
warnings.filterwarnings('ignore')

# setting up display option to get entire data from describe in transpose
pd.set_option('display.max_rows', 500)

In [21]:
df = pd.read_csv('train_fNxu4vz.csv')
df_test = pd.read_csv("test_fjtUOL8.csv")

In [22]:
del df['Loan_ID']
df['Loan_Amount_Requested'] = df['Loan_Amount_Requested'].str.replace(',','').astype(np.float64)

In [24]:
df.describe(include='all')

,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
count,164309.00000,156938,138960,1.392070e+05,164309,164309,164309.000000,164309.000000,75930.000000,164309.000000,164309.000000,164309,164309.000000
unique,NaN,11,5,NaN,3,14,NaN,NaN,NaN,NaN,NaN,2,NaN
top,NaN,10+ years,Mortgage,NaN,VERIFIED - income,debt_consolidation,NaN,NaN,NaN,NaN,NaN,Male,NaN
freq,NaN,52915,70345,NaN,59421,97101,NaN,NaN,NaN,NaN,NaN,117176,NaN
mean,14349.33692,NaN,NaN,7.333116e+04,NaN,NaN,17.207189,0.781698,34.229356,11.193818,25.067665,NaN,2.158951
std,8281.86870,NaN,NaN,6.037750e+04,NaN,NaN,7.845083,1.034747,21.761180,4.991813,11.583067,NaN,0.738364
min,500.00000,NaN,NaN,4.000000e+03,NaN,NaN,0.000000,0.000000,0.000000,0.000000,2.000000,NaN,1.000000
25%,8000.00000,NaN,NaN,4.500000e+04,NaN,NaN,11.370000,0.000000,16.000000,8.000000,17.000000,NaN,2.000000
50%,12075.00000,NaN,NaN,6.300000e+04,NaN,NaN,16.840000,0.000000,31.000000,10.000000,23.000000,NaN,2.000000
75%,20000.00000,NaN,NaN,8.869750e+04,NaN,NaN,22.780000,1.000000,50.000000,14.000000,32.000000,NaN,3.000000
max,35000.00000,NaN,NaN,7.500000e+06,NaN,NaN,39.990000,8.000000,180.000000,76.000000,156.000000,NaN,3.000000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164309 entries, 0 to 164308
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Loan_Amount_Requested    164309 non-null  float64
 1   Length_Employed          156938 non-null  object
 2   Home_Owner               138960 non-null  object
 3   Annual_Income            139207 non-null  float64
 4   Income_Verified          164309 non-null  object
 5   Purpose_Of_Loan          164309 non-null  object
 6   Debt_To_Income           164309 non-null  float64
 7   Inquiries_Last_6Mo       164309 non-null  int64
 8   Months_Since_Deliquency  75930 non-null   float64
 9   Number_Open_Accounts     164309 non-null  int64
 10  Total_Accounts           164309 non-null  int64
 11  Gender                   164309 non-null  object
 12  Interest_Rate            164309 non-null  int64
dtypes: float64(4), int64(4), object(5)
memory usage: 16.3+ MB

In [26]:
# Handling Nan
df.isnull().sum()

Loan_Amount_Requested          0
Length_Employed             7371
Home_Owner                 25349
Annual_Income              25102
Income_Verified                0
Purpose_Of_Loan                0
Debt_To_Income                 0
Inquiries_Last_6Mo             0
Months_Since_Deliquency    88379
Number_Open_Accounts           0
Total_Accounts                 0
Gender                         0
Interest_Rate                  0
dtype: int64

In [27]:
#Missing value imputation
df.Months_Since_Deliquency.fillna(0, inplace = True)
df.Annual_Income.fillna(0, inplace = True) # Another option is to impute mean to checck model performance
df.Home_Owner.fillna('msg2drop', inplace = True)
df.Length_Employed.fillna('msg2drop', inplace = True)

In [29]:
# %%time
# for i, feature in enumerate(df.columns):
#     try:
        
#         plt.figure(figsize=(12, 4))
#         plt.subplot(1 , 2 , 1)
#         sns.boxplot(x = 'Interest_Rate', y = feature, data = df, hue= 'Interest_Rate')

#         if np.issubdtype(df[feature].dtype, np.number):
#             plt.subplot(1 , 2 , 2)
#             sns.distplot(df[feature])

#     #     Individual images were exported and studied individudally   
#         plt.savefig('plots\image'+ feature +'.jpg')
#         plt.show()
#     except Exception as e:
#         print(e)

In [30]:
percentiles=[ 0,.25, .50,  .75, .90, .95,.99,.995, .999, 1]
dfOutlier = pd.DataFrame(columns=['feature', 'quantile', 'value', 'post_quantile_cont', 'post_quantile_pct'])

for feature in df.select_dtypes(include=np.number).columns.tolist():
    
    for pct in percentiles:
        qVal = df[feature].quantile(pct)
        qLen = len(df[df[feature] > qVal])
        qLenPct = round(qLen*100/len(df),3)
        
        dfOutlier = dfOutlier.append({'feature' : feature,'quantile': pct, 'value': qVal,
                                      'post_quantile_cont': qLen, 'post_quantile_pct': qLenPct}, ignore_index=True)

        
dfOutlier.to_csv('dfOutlier.csv')
dfOutlier

,feature,quantile,value,post_quantile_cont,post_quantile_pct
0,Loan_Amount_Requested,0,500.00,164306,99.998
1,Loan_Amount_Requested,0.25,8000.00,120554,73.370
2,Loan_Amount_Requested,0.5,12075.00,82120,49.979
3,Loan_Amount_Requested,0.75,20000.00,34565,21.037
4,Loan_Amount_Requested,0.9,26375.00,16313,9.928
5,Loan_Amount_Requested,0.95,30000.00,8205,4.994
6,Loan_Amount_Requested,0.99,35000.00,0,0.000
7,Loan_Amount_Requested,0.995,35000.00,0,0.000
8,Loan_Amount_Requested,0.999,35000.00,0,0.000
9,Loan_Amount_Requested,1,35000.00,0,0.000
10,Annual_Income,0,0.00,139207,84.723
11,Annual_Income,0.25,35000.00,122089,74.305
12,Annual_Income,0.5,56000.00,81248,49.448
13,Annual_Income,0.75,82000.00,40743,24.797
14,Annual_Income,0.9,115000.00,16064,9.777
15,Annual_Income,0.95,140000.00,8177,4.977
16,Annual_Income,0.99,225000.00,1613,0.982
17,Annual_Income,0.995,280000.00,809,0.492
18,Annual_Income,0.999,498460.00,165,0.100
19,Annual_Income,1,7500000.00,0,0.000
20,Debt_To_Income,0,0.00,164197,99.932
21,Debt_To_Income,0.25,11.37,123173,74.964
22,Debt_To_Income,0.5,16.84,82106,49.970
23,Debt_To_Income,0.75,22.78,41058,24.988
24,Debt_To_Income,0.9,27.99,16429,9.999
25,Debt_To_Income,0.95,30.76,8209,4.996
26,Debt_To_Income,0.99,34.67,1639,0.998
27,Debt_To_Income,0.995,36.42,820,0.499
28,Debt_To_Income,0.999,39.20,163,0.099
29,Debt_To_Income,1,39.99,0,0.000
30,Inquiries_Last_6Mo,0,0.00,78644,47.863
31,Inquiries_Last_6Mo,0.25,0.00,78644,47.863
32,Inquiries_Last_6Mo,0.5,0.00,78644,47.863
33,Inquiries_Last_6Mo,0.75,1.00,32573,19.824
34,Inquiries_Last_6Mo,0.9,2.00,12276,7.471
35,Inquiries_Last_6Mo,0.95,3.00,3413,2.077
36,Inquiries_Last_6Mo,0.99,4.00,1135,0.691
37,Inquiries_Last_6Mo,0.995,5.00,363,0.221
38,Inquiries_Last_6Mo,0.999,6.00,28,0.017
39,Inquiries_Last_6Mo,1,8.00,0,0.000
40,Months_Since_Deliquency,0,0.00,75611,46.018
41,Months_Since_Deliquency,0.25,0.00,75611,46.018
42,Months_Since_Deliquency,0.5,0.00,75611,46.018
43,Months_Since_Deliquency,0.75,28.00,40858,24.867
44,Months_Since_Deliquency,0.9,53.00,16361,9.957
45,Months_Since_Deliquency,0.95,67.00,7607,4.630
46,Months_Since_Deliquency,0.99,79.00,1181,0.719
47,Months_Since_Deliquency,0.995,80.00,733,0.446
48,Months_Since_Deliquency,0.999,82.00,107,0.065
49,Months_Since_Deliquency,1,180.00,0,0.000
50,Number_Open_Accounts,0,0.00,164307,99.999
51,Number_Open_Accounts,0.25,8.00,110913,67.503
52,Number_Open_Accounts,0.5,10.00,80242,48.836
53,Number_Open_Accounts,0.75,14.00,35207,21.427
54,Number_Open_Accounts,0.9,18.00,13608,8.282
55,Number_Open_Accounts,0.95,20.00,8170,4.972
56,Number_Open_Accounts,0.99,27.00,1290,0.785
57,Number_Open_Accounts,0.995,29.00,781,0.475
58,Number_Open_Accounts,0.999,36.00,152,0.093
59,Number_Open_Accounts,1,76.00,0,0.000
60,Total_Accounts,0,2.00,164298,99.993
61,Total_Accounts,0.25,17.00,117883,71.745
62,Total_Accounts,0.5,23.00,81829,49.802
63,Total_Accounts,0.75,32.00,38448,23.400
64,Total_Accounts,0.9,41.00,14945,9.096
65,Total_Accounts,0.95,47.00,7411,4.510
66,Total_Accounts,0.99,59.00,1576,0.959
67,Total_Accounts,0.995,63.00,427,0.260
68,Total_Accounts,0.999,72.00,156,0.095
69,Total_Accounts,1,156.00,0,0.000
70,Interest_Rate,0,1.00,130503,79.425
71,Interest_Rate,0.25,2.00,59923,36.470
72,Interest_Rate,0.5,2.00,59923,36.470
73,Interest_Rate,0.75,3.00,0,0.000
74,Interest_Rate,0.9,3.00,0,0.000
75,Interest_Rate,0.95,3.00,0,0.000
76,Interest_Rate,0.99,3.00,0,0.000
77,Interest_Rate,0.995,3.00,0,0.000
78,Interest_Rate,0.999,3.00,0,0.000
79,Interest_Rate,1,3.00,0,0.000

In [31]:
#outlier managegment
originalCount = len(df)
df = df[df['Annual_Income'] <= 225000]
df = df[df['Months_Since_Deliquency'] <= 80]
df = df[df['Number_Open_Accounts'] <= 30]
df = df[df['Total_Accounts'] <= 68]

finalCount  = len(df)
print('Original Count -', originalCount , ', Final Count -', finalCount,  ', Dropped -', originalCount - finalCount, '(', round(finalCount/originalCount,4), '%)')

Original Count - 164309 , Final Count - 161232 , Dropped - 3077 ( 0.9813 %)

In [34]:
df_test.shape

(109541, 12)

In [35]:
categorical_feature=[feature for feature in df.columns if len(df[feature].unique())<50 ]

for i in range(len(categorical_feature)):
    print(categorical_feature[i])
    print('-' * len(categorical_feature[i]))
    print('                                        ')
    print('Nan Count:  :',   df[categorical_feature[i]].isna().sum())
    print(df[categorical_feature[i]].value_counts())
    print('--------------------------------')

Length_Employed
---------------

Nan Count:  : 0
10+ years    51837
2 years      14354
3 years      12726
< 1 year     12579
5 years      10622
1 year       10243
4 years       9592
7 years       9113
6 years       8932
8 years       7762
msg2drop      7301
9 years       6171
Name: Length_Employed, dtype: int64
--------------------------------
Home_Owner
----------

Nan Count:  : 0
Mortgage    68646
Rent        55370
msg2drop    24895
Own         12262
Other          49
None           10
Name: Home_Owner, dtype: int64
--------------------------------
Income_Verified
---------------

Nan Count:  : 0
VERIFIED - income           58007
VERIFIED - income source    51904
not verified                51321
Name: Income_Verified, dtype: int64
--------------------------------
Purpose_Of_Loan
---------------

Nan Count:  : 0
debt_consolidation    95440
credit_card           36007
home_improvement       8945
other                  8195
major_purchase         3367
small_business         2312
car                    1864
medical                1517
moving                  960
vacation                827
wedding                 815
house                   745
educational             120
renewable_energy        118
Name: Purpose_Of_Loan, dtype: int64
--------------------------------
Inquiries_Last_6Mo
------------------

Nan Count:  : 0
0    84347
1    45155
2    19859
3     8611
4     2180
5      734
6      319
7       19
8        8
Name: Inquiries_Last_6Mo, dtype: int64
--------------------------------
Number_Open_Accounts
--------------------

Nan Count:  : 0
9     15573
10    14698
8     14525
11    13533
7     13144
12    12127
6     10728
13    10178
14     8489
5      7508
15     7016
16     5852
17     4575
4      4382
18     3764
19     3004
20     2294
3      1879
21     1771
22     1402
23     1112
24      870
25      653
2       643
26      478
27      366
28      270
29      214
30      151
1        31
0         2
Name: Number_Open_Accounts, dtype: int64
--------------------------------
Gender
------

Nan Count:  : 0
Male      114953
Female     46279
Name: Gender, dtype: int64
--------------------------------
Interest_Rate
-------------

Nan Count:  : 0
2    69340
3    58792
1    33100
Name: Interest_Rate, dtype: int64
--------------------------------

In [36]:
dummy_col_list = ['Length_Employed', 'Home_Owner', 'Income_Verified', 'Purpose_Of_Loan', 'Gender']
df = pd.get_dummies(df, columns=dummy_col_list)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161232 entries, 0 to 164308
Data columns (total 45 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Loan_Amount_Requested                     161232 non-null  float64
 1   Annual_Income                             161232 non-null  float64
 2   Debt_To_Income                            161232 non-null  float64
 3   Inquiries_Last_6Mo                        161232 non-null  int64
 4   Months_Since_Deliquency                   161232 non-null  float64
 5   Number_Open_Accounts                      161232 non-null  int64
 6   Total_Accounts                            161232 non-null  int64
 7   Interest_Rate                             161232 non-null  int64
 8   Length_Employed_1 year                    161232 non-null  uint8
 9   Length_Employed_10+ years                 161232 non-null  uint8
 10  Length_Employed_2 years                   161232 non-null  uint8
 11  Length_Employed_3 years                   161232 non-null  uint8
 12  Length_Employed_4 years                   161232 non-null  uint8
 13  Length_Employed_5 years                   161232 non-null  uint8
 14  Length_Employed_6 years                   161232 non-null  uint8
 15  Length_Employed_7 years                   161232 non-null  uint8
 16  Length_Employed_8 years                   161232 non-null  uint8
 17  Length_Employed_9 years                   161232 non-null  uint8
 18  Length_Employed_< 1 year                  161232 non-null  uint8
 19  Length_Employed_msg2drop                  161232 non-null  uint8
 20  Home_Owner_Mortgage                       161232 non-null  uint8
 21  Home_Owner_None                           161232 non-null  uint8
 22  Home_Owner_Other                          161232 non-null  uint8
 23  Home_Owner_Own                            161232 non-null  uint8
 24  Home_Owner_Rent                           161232 non-null  uint8
 25  Home_Owner_msg2drop                       161232 non-null  uint8
 26  Income_Verified_VERIFIED - income         161232 non-null  uint8
 27  Income_Verified_VERIFIED - income source  161232 non-null  uint8
 28  Income_Verified_not verified              161232 non-null  uint8
 29  Purpose_Of_Loan_car                       161232 non-null  uint8
 30  Purpose_Of_Loan_credit_card               161232 non-null  uint8
 31  Purpose_Of_Loan_debt_consolidation        161232 non-null  uint8
 32  Purpose_Of_Loan_educational               161232 non-null  uint8
 33  Purpose_Of_Loan_home_improvement          161232 non-null  uint8
 34  Purpose_Of_Loan_house                     161232 non-null  uint8
 35  Purpose_Of_Loan_major_purchase            161232 non-null  uint8
 36  Purpose_Of_Loan_medical                   161232 non-null  uint8
 37  Purpose_Of_Loan_moving                    161232 non-null  uint8
 38  Purpose_Of_Loan_other                     161232 non-null  uint8
 39  Purpose_Of_Loan_renewable_energy          161232 non-null  uint8
 40  Purpose_Of_Loan_small_business            161232 non-null  uint8
 41  Purpose_Of_Loan_vacation                  161232 non-null  uint8
 42  Purpose_Of_Loan_wedding                   161232 non-null  uint8
 43  Gender_Female                             161232 non-null  uint8
 44  Gender_Male                               161232 non-null  uint8
dtypes: float64(4), int64(4), uint8(37)
memory usage: 16.8 MB

In [37]:
#dropping 1 column from each category dummy variable list 
df = df.drop(['Length_Employed_msg2drop','Home_Owner_msg2drop',
              'Income_Verified_VERIFIED - income','Purpose_Of_Loan_renewable_energy','Gender_Male'], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161232 entries, 0 to 164308
Data columns (total 40 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Loan_Amount_Requested                     161232 non-null  float64
 1   Annual_Income                             161232 non-null  float64
 2   Debt_To_Income                            161232 non-null  float64
 3   Inquiries_Last_6Mo                        161232 non-null  int64
 4   Months_Since_Deliquency                   161232 non-null  float64
 5   Number_Open_Accounts                      161232 non-null  int64
 6   Total_Accounts                            161232 non-null  int64
 7   Interest_Rate                             161232 non-null  int64
 8   Length_Employed_1 year                    161232 non-null  uint8
 9   Length_Employed_10+ years                 161232 non-null  uint8
 10  Length_Employed_2 years                   161232 non-null  uint8
 11  Length_Employed_3 years                   161232 non-null  uint8
 12  Length_Employed_4 years                   161232 non-null  uint8
 13  Length_Employed_5 years                   161232 non-null  uint8
 14  Length_Employed_6 years                   161232 non-null  uint8
 15  Length_Employed_7 years                   161232 non-null  uint8
 16  Length_Employed_8 years                   161232 non-null  uint8
 17  Length_Employed_9 years                   161232 non-null  uint8
 18  Length_Employed_< 1 year                  161232 non-null  uint8
 19  Home_Owner_Mortgage                       161232 non-null  uint8
 20  Home_Owner_None                           161232 non-null  uint8
 21  Home_Owner_Other                          161232 non-null  uint8
 22  Home_Owner_Own                            161232 non-null  uint8
 23  Home_Owner_Rent                           161232 non-null  uint8
 24  Income_Verified_VERIFIED - income source  161232 non-null  uint8
 25  Income_Verified_not verified              161232 non-null  uint8
 26  Purpose_Of_Loan_car                       161232 non-null  uint8
 27  Purpose_Of_Loan_credit_card               161232 non-null  uint8
 28  Purpose_Of_Loan_debt_consolidation        161232 non-null  uint8
 29  Purpose_Of_Loan_educational               161232 non-null  uint8
 30  Purpose_Of_Loan_home_improvement          161232 non-null  uint8
 31  Purpose_Of_Loan_house                     161232 non-null  uint8
 32  Purpose_Of_Loan_major_purchase            161232 non-null  uint8
 33  Purpose_Of_Loan_medical                   161232 non-null  uint8
 34  Purpose_Of_Loan_moving                    161232 non-null  uint8
 35  Purpose_Of_Loan_other                     161232 non-null  uint8
 36  Purpose_Of_Loan_small_business            161232 non-null  uint8
 37  Purpose_Of_Loan_vacation                  161232 non-null  uint8
 38  Purpose_Of_Loan_wedding                   161232 non-null  uint8
 39  Gender_Female                             161232 non-null  uint8
dtypes: float64(4), int64(4), uint8(32)
memory usage: 16.0 MB

In [38]:
df.Interest_Rate.value_counts()

2    69340
3    58792
1    33100
Name: Interest_Rate, dtype: int64

In [39]:
df.to_csv("amit_eda.csv" , index = False)

In [40]:
df.shape

(161232, 40)