In [19]:

from sklearn.base import TransformerMixin, BaseEstimator

from collections import Counter , defaultdict

import pandas as pd

pd.set_option('display.max_columns', None)


from pandas import Series as s , DataFrame as df
import numpy as np

import seaborn as sns
# import matplotlib.pyplot as plt

# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

from matplotlib import pyplot as plt, rcParams as rc


%matplotlib inline
rc["figure.figsize"] = 10,6

import datetime
import datetime as dt

from sklearn.model_selection  import StratifiedKFold
from sklearn.decomposition import PCA

from iteration_utilities import duplicates, unique_everseen

import sys
from itertools import groupby
from operator import itemgetter
from timeit import timeit


## RandomOverSampler to handle imbalanced data
# from imblearn.over_sampling import RandomOverSampler # over sampling method 2

In [44]:

#Algorithm
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.naive_bayes import MultinomialNB

from lightgbm import LGBMClassifier
# from catboost import CatBoostClassifier

#preprocessing
from sklearn.preprocessing import LabelEncoder

from sklearn.preprocessing import StandardScaler, normalize



from sklearn.model_selection import train_test_split

import lightgbm as lgb


#Metrics
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve, recall_score, precision_score
from sklearn.metrics import confusion_matrix, classification_report, f1_score, precision_recall_fscore_support

from sklearn.pipeline import Pipeline

# GridSearchCV to find optimal min_samples_leaf
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

In [23]:
train = pd.read_csv("train_fNxu4vz.csv")

test = pd.read_csv("test_fjtUOL8.csv")
submission = pd.read_csv("sample_submission_HSqiq1Q.csv")

train.shape, test.shape, submission.shape

((164309, 14), (109541, 13), (109541, 2))

In [24]:
df = train.copy() 
df_test = test.copy()

In [64]:
def get_percentage_miss_value(dataset):
    higher_miss_value_column = []
    total_miss_value_column = []
    miss_threshold_value = 50
    
    for i in dataset.columns:
        if dataset[i].isna().sum() > 1: 
            perectange_val = (dataset[i].isna().sum() / len(dataset)) * 100
            total_miss_value_column.append(i)
            print("Type ",dataset[i].dtype," Column-> " , i, ", missing value : ",dataset[i].isna().sum() , " & :         ", round(perectange_val,2) ," %")
                
            if(perectange_val > miss_threshold_value):
                higher_miss_value_column.append(i)
            
    print("\n\n\n")
        
    if higher_miss_value_column:
        print("Higher Missing values in Columns for Delete : ", higher_miss_value_column)
    else:
        print("There are no Higher Column Missing values in Dataset")
    
    return total_miss_value_column, higher_miss_value_column

In [65]:
get_percentage_miss_value(df)

Type  object  Column->  Length_Employed , missing value :  7371  & :          4.49  %
Type  object  Column->  Home_Owner , missing value :  25349  & :          15.43  %
Type  float64  Column->  Annual_Income , missing value :  25102  & :          15.28  %
Type  float64  Column->  Months_Since_Deliquency , missing value :  88379  & :          53.79  %




Higher Missing values in Columns for Delete :  ['Months_Since_Deliquency']

(['Length_Employed', 'Home_Owner', 'Annual_Income', 'Months_Since_Deliquency'],
 ['Months_Since_Deliquency'])

In [57]:
get_percentage_miss_value(df_test)

Column->  Length_Employed , total no of missing value :  4936  & :          4.51  %
Column->  Home_Owner , total no of missing value :  16711  & :          15.26  %
Column->  Annual_Income , total no of missing value :  16898  & :          15.43  %
Column->  Months_Since_Deliquency , total no of missing value :  58859  & :          53.73  %




Higher Missing values in Columns for Delete :  ['Months_Since_Deliquency']

(['Length_Employed', 'Home_Owner', 'Annual_Income', 'Months_Since_Deliquency'],
 ['Months_Since_Deliquency'])

In [28]:
def check_cloumn_details_type_numberical(dataset):
    for i in dataset.columns:
        if (dataset[i].dtype == "int"):
            print("Columns name :  ",i  )
            
            print(dict(Counter(dataset[i])))
            print("*"*100)
            print("\n")
            
            
def check_cloumn_details_type_float(dataset):
    for i in dataset.columns:
        if (dataset[i].dtype == "float"):
            print("Columns name :  ",i  )
            
            print(dict(Counter(dataset[i])))
            print("*"*100)
            print("\n")
            

def check_cloumn_details_type_categorical(dataset):
    for i in dataset.columns:
        if(dataset[i].dtype == "object"):
            print("Columns name :  ",i  )
            
            print(dict(Counter(dataset[i])))
            
            print("*"*100)
            print("\n")

In [29]:
# check_cloumn_details_type_categorical(df)

In [30]:
# check_cloumn_details_type_float(df)

In [31]:
def visualize_histogram(dataset):
    # plot histogram
    plt.figure(figsize=(25, 9))  # figure size in ratio 16:9
    features = dataset.columns  # list of columns name
    for i, j in enumerate(features):
        plt.subplot(3, 3, i + 1)  # create subplot for histogram
        plt.title("Histogram of {}".format(j), fontsize=15)  # title of histogram

        bins = len(dataset[j].unique())  # bins for histogram
        plt.hist(dataset[j], bins=bins, rwidth=0.8, edgecolor="y", linewidth=2, )  # plot histogram

    plt.subplots_adjust(hspace=0.5)  # space between horixontal axes (subplots)

In [32]:
# visualize_histogram(df)

In [33]:
# visualize_numberical_values(df)

In [34]:
#Label encoding
def convert_to_numerical_label_encoding(dataset):
    enc = LabelEncoder()
    for i in dataset.columns:
        if(dataset[i].dtype == "object"):
            dataset[i] = enc.fit_transform(dataset[i])
            
    return dataset

In [35]:
class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0] if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [36]:
def majority_imbalanced_dataset(dataset, target_col):
    feature_columns = dataset.columns.tolist()
    feature_columns = [c for c in feature_columns if c not in [target_col]]

    X2_new = dataset[feature_columns]
    Y2_new = dataset[target_col]

    os =  RandomOverSampler(random_state=35)
    X_feature_variables , y_output = os.fit_sample(X2_new, Y2_new)
    
    X_feature_variables[target_col] = y_output
    
    X_feature_variables = X_feature_variables.sample(frac = 1).reset_index(drop = True)
    
    return X_feature_variables

In [37]:
def standardscaler_preprocessing(dataset_train, dataset_test, num_col):
    scaler = StandardScaler()
   
    dataset_train[num_col] = scaler.fit_transform(dataset_train[num_col])

    dataset_test[num_col] = scaler.transform(dataset_test[num_col])
    
    return dataset_train, dataset_test

In [38]:
df.head()

,Loan_ID,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
0,10000001,"7,000",< 1 year,Rent,68000.0,not verified,car,18.37,0,NaN,9,14,Female,1
1,10000002,"30,000",4 years,Mortgage,NaN,VERIFIED - income,debt_consolidation,14.93,0,17.0,12,24,Female,3
2,10000003,"24,725",7 years,Mortgage,75566.4,VERIFIED - income source,debt_consolidation,15.88,0,NaN,12,16,Male,3
3,10000004,"16,000",< 1 year,NaN,56160.0,VERIFIED - income source,debt_consolidation,14.34,3,NaN,16,22,Male,3
4,10000005,"17,000",8 years,Own,96000.0,VERIFIED - income source,debt_consolidation,22.17,1,NaN,19,30,Female,1

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164309 entries, 0 to 164308
Data columns (total 14 columns):
Loan_ID                    164309 non-null int64
Loan_Amount_Requested      164309 non-null object
Length_Employed            156938 non-null object
Home_Owner                 138960 non-null object
Annual_Income              139207 non-null float64
Income_Verified            164309 non-null object
Purpose_Of_Loan            164309 non-null object
Debt_To_Income             164309 non-null float64
Inquiries_Last_6Mo         164309 non-null int64
Months_Since_Deliquency    75930 non-null float64
Number_Open_Accounts       164309 non-null int64
Total_Accounts             164309 non-null int64
Gender                     164309 non-null object
Interest_Rate              164309 non-null int64
dtypes: float64(3), int64(5), object(6)
memory usage: 17.6+ MB

In [40]:
df.columns

Index(['Loan_ID', 'Loan_Amount_Requested', 'Length_Employed', 'Home_Owner',
       'Annual_Income', 'Income_Verified', 'Purpose_Of_Loan', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Months_Since_Deliquency', 'Number_Open_Accounts',
       'Total_Accounts', 'Gender', 'Interest_Rate'],
      dtype='object')

In [41]:
Counter(df.Interest_Rate)

Counter({1: 33806, 3: 59923, 2: 70580})

In [42]:
df.describe()

,Loan_ID,Annual_Income,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Interest_Rate
count,1.643090e+05,1.392070e+05,164309.000000,164309.000000,75930.000000,164309.000000,164309.000000,164309.000000
mean,1.008216e+07,7.333116e+04,17.207189,0.781698,34.229356,11.193818,25.067665,2.158951
std,4.743207e+04,6.037750e+04,7.845083,1.034747,21.761180,4.991813,11.583067,0.738364
min,1.000000e+07,4.000000e+03,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000
25%,1.004108e+07,4.500000e+04,11.370000,0.000000,16.000000,8.000000,17.000000,2.000000
50%,1.008216e+07,6.300000e+04,16.840000,0.000000,31.000000,10.000000,23.000000,2.000000
75%,1.012323e+07,8.869750e+04,22.780000,1.000000,50.000000,14.000000,32.000000,3.000000
max,1.016431e+07,7.500000e+06,39.990000,8.000000,180.000000,76.000000,156.000000,3.000000

# <font color ='orange' > Step 1: Rakesh EDA

In [155]:
# get_percentage_miss_value(df)

In [214]:
print(df.shape)

df1 = df.drop(columns = ['Loan_ID', 'Months_Since_Deliquency'])

print(df1.shape)

print(df_test.shape)

df_test1 = df_test.drop(columns = ['Loan_ID', 'Months_Since_Deliquency'])

print(df_test1.shape)

(164309, 14)
(164309, 12)
(109541, 13)
(109541, 11)

In [215]:
df1['Loan_Amount_Requested'] = df1['Loan_Amount_Requested'].str.replace(',','').astype(np.float64)

df_test1['Loan_Amount_Requested'] = df_test1['Loan_Amount_Requested'].str.replace(',','').astype(np.float64)

In [216]:
#Missing value imputation for Train
df1.Annual_Income.fillna(0, inplace = True) # Another option is to impute mean to checck model performance
df1.Home_Owner.fillna('UNKNOWN', inplace = True)
df1.Length_Employed.fillna('UNKNOWN', inplace = True)


#Missing value imputation for test
df_test1.Annual_Income.fillna(0, inplace = True) # Another option is to impute mean to checck model performance
df_test1.Home_Owner.fillna('UNKNOWN', inplace = True)
df_test1.Length_Employed.fillna('UNKNOWN', inplace = True)

In [217]:
#outlier managegment
originalCount = len(df1)
df1 = df1[df1['Annual_Income'] <= 225000]
df1 = df1[df1['Number_Open_Accounts'] <= 30]
df1 = df1[df1['Total_Accounts'] <= 68]

finalCount  = len(df1)
print('Original Count -', originalCount , ', Final Count -', finalCount,  ', Dropped -', originalCount - finalCount, '(', round(finalCount/originalCount,4), '%)')

Original Count - 164309 , Final Count - 161954 , Dropped - 2355 ( 0.9857 %)

In [218]:
scaling_columns = ["Loan_Amount_Requested", "Debt_To_Income" ,"Inquiries_Last_6Mo" , "Number_Open_Accounts", "Total_Accounts", 
                  ]
label_encoding_columns = ["Length_Employed", "Home_Owner" , "Income_Verified" , "Purpose_Of_Loan"]

In [219]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 161954 entries, 0 to 164308
Data columns (total 12 columns):
Loan_Amount_Requested    161954 non-null float64
Length_Employed          161954 non-null object
Home_Owner               161954 non-null object
Annual_Income            161954 non-null float64
Income_Verified          161954 non-null object
Purpose_Of_Loan          161954 non-null object
Debt_To_Income           161954 non-null float64
Inquiries_Last_6Mo       161954 non-null int64
Number_Open_Accounts     161954 non-null int64
Total_Accounts           161954 non-null int64
Gender                   161954 non-null object
Interest_Rate            161954 non-null int64
dtypes: float64(3), int64(4), object(5)
memory usage: 16.1+ MB

In [220]:
scale_col_2 = ["Loan_Amount_Requested", "Annual_Income"]

In [221]:
# df1.Annual_Income   .min(), df1.Total_Accounts                   .max()

In [228]:
Counter(df1.Gender )

Counter({'Female': 46482, 'Male': 115462})

In [223]:
df20 = df1.copy()

In [201]:
Counter(df20.Home_Owner)

Counter({'Rent': 55586,
         'Mortgage': 68964,
         'UNKNOWN': 25025,
         'Own': 12320,
         'Other': 49,
         'None': 10})

In [229]:
df1 = df1[df1.Home_Owner != "None"]

In [230]:
df1.shape

(161944, 12)

In [231]:
df4 = convert_to_numerical_label_encoding(df1.copy())
df_test4 = convert_to_numerical_label_encoding(df_test1.copy())

In [188]:
# df5, df_test5  = standardscaler_preprocessing(df4.copy(), df_test4.copy(), scale_col_2)

In [232]:
X1 = df4.drop("Interest_Rate", axis = 1)

Y1 = df4.loc[:, ["Interest_Rate"]]

# <font color ='green' > Step 1: EDA

In [70]:
# df = train.copy() 
# df_test = test.copy()

In [80]:
# print(df.shape)
# print(df_test.shape)

# del df['Loan_ID']
# del df_test['Loan_ID']

# print(df.shape)
# print(df_test.shape)

(164309, 14)
(109541, 13)
(164309, 13)
(109541, 12)

In [81]:
# df['Loan_Amount_Requested'] = df['Loan_Amount_Requested'].str.replace(',','').astype(np.float64)

# df_test['Loan_Amount_Requested'] = df_test['Loan_Amount_Requested'].str.replace(',','').astype(np.float64)

In [82]:
# Counter(df.Loan_Amount_Requested)

In [79]:
# #Missing value imputation for Train
# df.Months_Since_Deliquency.fillna(0, inplace = True)
# df.Annual_Income.fillna(0, inplace = True) # Another option is to impute mean to checck model performance
# df.Home_Owner.fillna('msg2drop', inplace = True)
# df.Length_Employed.fillna('msg2drop', inplace = True)


# #Missing value imputation for test
# df_test.Months_Since_Deliquency.fillna(0, inplace = True)
# df_test.Annual_Income.fillna(0, inplace = True) # Another option is to impute mean to checck model performance
# df_test.Home_Owner.fillna('msg2drop', inplace = True)
# df_test.Length_Employed.fillna('msg2drop', inplace = True)

In [84]:
# #outlier managegment
# originalCount = len(df)
# df = df[df['Annual_Income'] <= 225000]
# df = df[df['Months_Since_Deliquency'] <= 80]
# df = df[df['Number_Open_Accounts'] <= 30]
# df = df[df['Total_Accounts'] <= 68]

# finalCount  = len(df)
# print('Original Count -', originalCount , ', Final Count -', finalCount,  ', Dropped -', originalCount - finalCount, '(', round(finalCount/originalCount,4), '%)')

Original Count - 164309 , Final Count - 161232 , Dropped - 3077 ( 0.9813 %)

In [131]:
df1.shape, df.shape

((161954, 12), (164309, 14))

In [136]:
df2 = df1.copy()
df_test2 = df_test1.copy()

In [137]:
dummy_col_list = ['Length_Employed', 'Home_Owner', 'Income_Verified', 'Purpose_Of_Loan', 'Gender']

df2 = pd.get_dummies(df2, columns=dummy_col_list)


df_test2 = pd.get_dummies(df_test2, columns=dummy_col_list)

In [138]:
df2.shape, df_test2.shape

((161954, 44), (109541, 43))

In [140]:
#dropping 1 column from each category dummy variable list

drop_col = ['Length_Employed_UNKNOWN','Home_Owner_UNKNOWN','Income_Verified_VERIFIED - income',
            'Purpose_Of_Loan_renewable_energy','Gender_Male']

df2 = df2.drop(drop_col, axis = 1)


df_test2 = df_test2.drop(drop_col, axis = 1)

In [141]:
df2.shape, df_test2.shape

((161954, 39), (109541, 38))

# <font color ='red' > Step 2: EDA

In [93]:
# df.head()

In [131]:
# df1["Type_of_Cab"] = df1["Type_of_Cab"].fillna("Unkown")
# df1["Confidence_Life_Style_Index"] = df1["Confidence_Life_Style_Index"].fillna("Unkown")


# df2 = DataFrameImputer().fit_transform(df.copy())
# df2_test = DataFrameImputer().fit_transform(df_test.copy())


# df3 = convert_to_numerical_label_encoding(df2.copy())
# df2.shape, df3.shape

# df3_test = convert_to_numerical_label_encoding(df2_test.copy())
# df2_test.shape, df3_test.shape

# df3 = majority_imbalanced_dataset(df3.copy(), "Interest_Rate")
# Counter(df4.Surge_Pricing_Type)


# scaling_col = ["Annual_Income", "Debt_To_Income","Inquiries_Last_6Mo", "Months_Since_Deliquency", 
#               "Number_Open_Accounts", "Total_Accounts", "Interest_Rate"]


# df4, df4_test = standardscaler_preprocessing(df3.copy(), df3_test.copy(), scaling_col)

In [117]:
# def convert_numerical_data_type(dataset):
#     col_list = list(dataset.select_dtypes(include =  ["int" , "float"] ).columns)
#     for numberical_colname in col_list:
#         dataset[numberical_colname] = pd.to_numeric(dataset[numberical_colname])  
    
#     return dataset

In [99]:
# df3 = convert_numerical_data_type(df.copy())
# df3_test = convert_numerical_data_type(df_test.copy())

In [152]:
# df3.columns

In [110]:
# df3 = df.copy()
# df3_test = df_test.copy()

In [148]:
# X = df3.loc[:,fetaaure_col]
X = df2.drop("Interest_Rate", axis = 1)

Y = df2.loc[:, ["Interest_Rate"]]

In [149]:
len(X) , len(Y), X.shape

(161954, 161954, (161954, 38))

In [237]:
model_xgb = XGBClassifier(max_depth=5, objective='multi:softmax',n_estimators=300, num_classes=3)
model_xgb.fit(X1, Y1)
# y_pred_final = model_xgb.predict(df3_test)

[23:50:42] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.1.0\src\learner.cc:480:
Parameters: { num_classes } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
       importance_type='gain', interaction_constraints='',
       learning_rate=0.300000012, max_delta_step=0, max_depth=5,
       min_child_weight=1, missing=nan, monotone_constraints='()',
       n_estimators=300, n_jobs=0, num_classes=3, num_parallel_tree=1,
       objective='multi:softprob', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=None, subsample=1,
       tree_method='exact', validate_parameters=1, verbosity=None)

In [233]:

%%time
model_lgb= LGBMClassifier(n_estimators= 400, objective='multi:softmax', num_classes=3)
model_lgb.fit(X1,Y1)
# y_pred_final = model_lgb.predict(df2_test)

Wall time: 7.84 s

In [115]:

# model_catg= CatBoostClassifier(depth= 3,l2_leaf_reg= 1e-25,learning_rate= 0.07,
#                                loss_function= 'MultiClass',n_estimators= 200)
# model_catg.fit(X,Y)
# y_pred_final = model_catg.predict(df3_test)

0:	learn: 1.0875212	total: 79.4ms	remaining: 15.8s
1:	learn: 1.0780889	total: 159ms	remaining: 15.7s
2:	learn: 1.0696121	total: 256ms	remaining: 16.8s
3:	learn: 1.0619977	total: 389ms	remaining: 19.1s
4:	learn: 1.0553271	total: 556ms	remaining: 21.7s
5:	learn: 1.0495591	total: 815ms	remaining: 26.4s
6:	learn: 1.0443790	total: 1.07s	remaining: 29.6s
7:	learn: 1.0395901	total: 1.31s	remaining: 31.6s
8:	learn: 1.0352500	total: 1.47s	remaining: 31.2s
9:	learn: 1.0313301	total: 1.61s	remaining: 30.6s
10:	learn: 1.0277080	total: 1.72s	remaining: 29.6s
11:	learn: 1.0244920	total: 1.85s	remaining: 29.1s
12:	learn: 1.0212182	total: 1.97s	remaining: 28.3s
13:	learn: 1.0185376	total: 2.05s	remaining: 27.2s
14:	learn: 1.0158645	total: 2.15s	remaining: 26.5s
15:	learn: 1.0134250	total: 2.27s	remaining: 26.1s
16:	learn: 1.0109586	total: 2.35s	remaining: 25.3s
17:	learn: 1.0087585	total: 2.45s	remaining: 24.8s
18:	learn: 1.0067336	total: 2.53s	remaining: 24.1s
19:	learn: 1.0049122	total: 2.64s	remaining: 23.7s
20:	learn: 1.0029801	total: 2.72s	remaining: 23.2s
21:	learn: 1.0012590	total: 2.8s	remaining: 22.7s
22:	learn: 0.9991087	total: 2.88s	remaining: 22.1s
23:	learn: 0.9973632	total: 2.98s	remaining: 21.9s
24:	learn: 0.9957494	total: 3.13s	remaining: 21.9s
25:	learn: 0.9943749	total: 3.24s	remaining: 21.7s
26:	learn: 0.9931043	total: 3.35s	remaining: 21.5s
27:	learn: 0.9917569	total: 3.45s	remaining: 21.2s
28:	learn: 0.9904087	total: 3.55s	remaining: 20.9s
29:	learn: 0.9892402	total: 3.69s	remaining: 20.9s
30:	learn: 0.9881811	total: 3.79s	remaining: 20.6s
31:	learn: 0.9869948	total: 3.85s	remaining: 20.2s
32:	learn: 0.9855429	total: 3.94s	remaining: 19.9s
33:	learn: 0.9844751	total: 4.09s	remaining: 20s
34:	learn: 0.9834156	total: 4.24s	remaining: 20s
35:	learn: 0.9824649	total: 4.32s	remaining: 19.7s
36:	learn: 0.9811649	total: 4.4s	remaining: 19.4s
37:	learn: 0.9803071	total: 4.53s	remaining: 19.3s
38:	learn: 0.9793926	total: 4.68s	remaining: 19.3s
39:	learn: 0.9785066	total: 4.8s	remaining: 19.2s
40:	learn: 0.9775692	total: 4.91s	remaining: 19s
41:	learn: 0.9767641	total: 4.99s	remaining: 18.8s
42:	learn: 0.9760034	total: 5.12s	remaining: 18.7s
43:	learn: 0.9753047	total: 5.26s	remaining: 18.6s
44:	learn: 0.9745592	total: 5.4s	remaining: 18.6s
45:	learn: 0.9739302	total: 5.48s	remaining: 18.4s
46:	learn: 0.9731673	total: 5.57s	remaining: 18.1s
47:	learn: 0.9723688	total: 5.68s	remaining: 18s
48:	learn: 0.9716145	total: 5.75s	remaining: 17.7s
49:	learn: 0.9709376	total: 5.83s	remaining: 17.5s
50:	learn: 0.9703405	total: 5.92s	remaining: 17.3s
51:	learn: 0.9696808	total: 6s	remaining: 17.1s
52:	learn: 0.9692039	total: 6.08s	remaining: 16.9s
53:	learn: 0.9686222	total: 6.17s	remaining: 16.7s
54:	learn: 0.9680759	total: 6.27s	remaining: 16.5s
55:	learn: 0.9674124	total: 6.35s	remaining: 16.3s
56:	learn: 0.9668100	total: 6.44s	remaining: 16.2s
57:	learn: 0.9661900	total: 6.52s	remaining: 16s
58:	learn: 0.9657507	total: 6.59s	remaining: 15.8s
59:	learn: 0.9652980	total: 6.68s	remaining: 15.6s
60:	learn: 0.9647679	total: 6.78s	remaining: 15.4s
61:	learn: 0.9642486	total: 6.84s	remaining: 15.2s
62:	learn: 0.9638662	total: 6.92s	remaining: 15.1s
63:	learn: 0.9633472	total: 7.01s	remaining: 14.9s
64:	learn: 0.9628967	total: 7.08s	remaining: 14.7s
65:	learn: 0.9623749	total: 7.18s	remaining: 14.6s
66:	learn: 0.9618694	total: 7.25s	remaining: 14.4s
67:	learn: 0.9614183	total: 7.36s	remaining: 14.3s
68:	learn: 0.9608931	total: 7.47s	remaining: 14.2s
69:	learn: 0.9604310	total: 7.56s	remaining: 14s
70:	learn: 0.9600250	total: 7.69s	remaining: 14s
71:	learn: 0.9596588	total: 7.87s	remaining: 14s
72:	learn: 0.9592760	total: 7.99s	remaining: 13.9s
73:	learn: 0.9588891	total: 8.07s	remaining: 13.7s
74:	learn: 0.9585639	total: 8.16s	remaining: 13.6s
75:	learn: 0.9582819	total: 8.25s	remaining: 13.5s
76:	learn: 0.9579049	total: 8.33s	remaining: 13.3s
77:	learn: 0.9574558	total: 8.41s	remaining: 13.2s
78:	learn: 0.9570820	total: 8.5s	remaining: 13s
79:	learn: 0.9567160	total: 8.58s	remaining: 12.9s
80:	learn: 0.9563678	total: 8.67s	remaining: 12.7s
81:	learn: 0.9559629	total: 8.77s	remaining: 12.6s
82:	learn: 0.9556495	total: 8.85s	remaining: 12.5s
83:	learn: 0.9552348	total: 8.92s	remaining: 12.3s
84:	learn: 0.9549663	total: 9.03s	remaining: 12.2s
85:	learn: 0.9546255	total: 9.12s	remaining: 12.1s
86:	learn: 0.9543576	total: 9.19s	remaining: 11.9s
87:	learn: 0.9540068	total: 9.28s	remaining: 11.8s
88:	learn: 0.9536676	total: 9.37s	remaining: 11.7s
89:	learn: 0.9534526	total: 9.49s	remaining: 11.6s
90:	learn: 0.9532082	total: 9.63s	remaining: 11.5s
91:	learn: 0.9529969	total: 9.72s	remaining: 11.4s
92:	learn: 0.9527437	total: 9.81s	remaining: 11.3s
93:	learn: 0.9524833	total: 9.9s	remaining: 11.2s
94:	learn: 0.9521517	total: 10s	remaining: 11.1s
95:	learn: 0.9519172	total: 10.2s	remaining: 11.1s
96:	learn: 0.9516308	total: 10.4s	remaining: 11s
97:	learn: 0.9514144	total: 10.5s	remaining: 10.9s
98:	learn: 0.9511750	total: 10.6s	remaining: 10.8s
99:	learn: 0.9509418	total: 10.7s	remaining: 10.7s
100:	learn: 0.9507398	total: 10.8s	remaining: 10.6s
101:	learn: 0.9504869	total: 10.9s	remaining: 10.5s
102:	learn: 0.9502920	total: 11s	remaining: 10.4s
103:	learn: 0.9500588	total: 11.1s	remaining: 10.3s
104:	learn: 0.9498297	total: 11.2s	remaining: 10.1s
105:	learn: 0.9495979	total: 11.3s	remaining: 10s
106:	learn: 0.9494301	total: 11.4s	remaining: 9.89s
107:	learn: 0.9492217	total: 11.4s	remaining: 9.75s
108:	learn: 0.9490288	total: 11.5s	remaining: 9.64s
109:	learn: 0.9488959	total: 11.7s	remaining: 9.54s
110:	learn: 0.9486856	total: 11.7s	remaining: 9.4s
111:	learn: 0.9484252	total: 11.8s	remaining: 9.29s
112:	learn: 0.9482132	total: 11.9s	remaining: 9.16s
113:	learn: 0.9480023	total: 12s	remaining: 9.04s
114:	learn: 0.9477973	total: 12.1s	remaining: 8.94s
115:	learn: 0.9475834	total: 12.2s	remaining: 8.81s
116:	learn: 0.9473962	total: 12.2s	remaining: 8.69s
117:	learn: 0.9472514	total: 12.3s	remaining: 8.57s
118:	learn: 0.9471035	total: 12.4s	remaining: 8.45s
119:	learn: 0.9469680	total: 12.5s	remaining: 8.32s
120:	learn: 0.9468149	total: 12.6s	remaining: 8.21s
121:	learn: 0.9466371	total: 12.6s	remaining: 8.08s
122:	learn: 0.9464224	total: 12.7s	remaining: 7.96s
123:	learn: 0.9462898	total: 12.8s	remaining: 7.86s
124:	learn: 0.9461276	total: 12.9s	remaining: 7.75s
125:	learn: 0.9459431	total: 13s	remaining: 7.64s
126:	learn: 0.9457991	total: 13.1s	remaining: 7.54s
127:	learn: 0.9456654	total: 13.2s	remaining: 7.44s
128:	learn: 0.9454888	total: 13.3s	remaining: 7.32s
129:	learn: 0.9453530	total: 13.4s	remaining: 7.21s
130:	learn: 0.9451657	total: 13.5s	remaining: 7.09s
131:	learn: 0.9449792	total: 13.5s	remaining: 6.98s
132:	learn: 0.9448071	total: 13.6s	remaining: 6.87s
133:	learn: 0.9446870	total: 13.7s	remaining: 6.76s
134:	learn: 0.9445435	total: 13.8s	remaining: 6.64s
135:	learn: 0.9443697	total: 13.9s	remaining: 6.53s
136:	learn: 0.9442029	total: 14s	remaining: 6.42s
137:	learn: 0.9440657	total: 14.1s	remaining: 6.31s
138:	learn: 0.9439482	total: 14.1s	remaining: 6.21s
139:	learn: 0.9438095	total: 14.2s	remaining: 6.1s
140:	learn: 0.9436685	total: 14.3s	remaining: 5.98s
141:	learn: 0.9434736	total: 14.4s	remaining: 5.88s
142:	learn: 0.9433760	total: 14.5s	remaining: 5.77s
143:	learn: 0.9432547	total: 14.6s	remaining: 5.66s
144:	learn: 0.9431300	total: 14.6s	remaining: 5.54s
145:	learn: 0.9430020	total: 14.7s	remaining: 5.44s
146:	learn: 0.9428671	total: 14.8s	remaining: 5.32s
147:	learn: 0.9427424	total: 14.8s	remaining: 5.21s
148:	learn: 0.9426141	total: 14.9s	remaining: 5.11s
149:	learn: 0.9425177	total: 15s	remaining: 4.99s
150:	learn: 0.9423991	total: 15s	remaining: 4.88s
151:	learn: 0.9422989	total: 15.1s	remaining: 4.78s
152:	learn: 0.9421721	total: 15.2s	remaining: 4.67s
153:	learn: 0.9420772	total: 15.3s	remaining: 4.57s
154:	learn: 0.9418906	total: 15.4s	remaining: 4.48s
155:	learn: 0.9417710	total: 15.6s	remaining: 4.4s
156:	learn: 0.9416866	total: 15.7s	remaining: 4.29s
157:	learn: 0.9416072	total: 15.8s	remaining: 4.19s
158:	learn: 0.9415097	total: 15.8s	remaining: 4.08s
159:	learn: 0.9413665	total: 15.9s	remaining: 3.97s
160:	learn: 0.9412523	total: 16s	remaining: 3.87s

161:	learn: 0.9411189	total: 16s	remaining: 3.76s
162:	learn: 0.9410394	total: 16.1s	remaining: 3.66s
163:	learn: 0.9409106	total: 16.2s	remaining: 3.55s
164:	learn: 0.9407986	total: 16.2s	remaining: 3.45s
165:	learn: 0.9406237	total: 16.3s	remaining: 3.34s
166:	learn: 0.9405445	total: 16.4s	remaining: 3.24s
167:	learn: 0.9403810	total: 16.5s	remaining: 3.13s
168:	learn: 0.9402552	total: 16.5s	remaining: 3.03s
169:	learn: 0.9401526	total: 16.6s	remaining: 2.93s
170:	learn: 0.9400744	total: 16.7s	remaining: 2.83s
171:	learn: 0.9399712	total: 16.7s	remaining: 2.73s
172:	learn: 0.9398818	total: 16.8s	remaining: 2.63s
173:	learn: 0.9397095	total: 16.9s	remaining: 2.52s
174:	learn: 0.9396185	total: 17s	remaining: 2.42s
175:	learn: 0.9395172	total: 17s	remaining: 2.32s
176:	learn: 0.9394023	total: 17.1s	remaining: 2.22s
177:	learn: 0.9392745	total: 17.2s	remaining: 2.13s
178:	learn: 0.9391649	total: 17.3s	remaining: 2.02s
179:	learn: 0.9390911	total: 17.4s	remaining: 1.93s
180:	learn: 0.9389975	total: 17.5s	remaining: 1.83s
181:	learn: 0.9388750	total: 17.6s	remaining: 1.74s
182:	learn: 0.9387889	total: 17.7s	remaining: 1.65s
183:	learn: 0.9386625	total: 17.8s	remaining: 1.55s
184:	learn: 0.9385738	total: 17.9s	remaining: 1.45s
185:	learn: 0.9384973	total: 18s	remaining: 1.35s
186:	learn: 0.9383709	total: 18s	remaining: 1.25s
187:	learn: 0.9382814	total: 18.2s	remaining: 1.16s
188:	learn: 0.9382092	total: 18.2s	remaining: 1.06s
189:	learn: 0.9381321	total: 18.3s	remaining: 964ms
190:	learn: 0.9380609	total: 18.5s	remaining: 871ms
191:	learn: 0.9379025	total: 18.7s	remaining: 779ms
192:	learn: 0.9377924	total: 18.8s	remaining: 683ms
193:	learn: 0.9376709	total: 19s	remaining: 588ms
194:	learn: 0.9375762	total: 19.1s	remaining: 489ms
195:	learn: 0.9374624	total: 19.2s	remaining: 391ms
196:	learn: 0.9372969	total: 19.3s	remaining: 294ms
197:	learn: 0.9372342	total: 19.5s	remaining: 197ms
198:	learn: 0.9371714	total: 19.6s	remaining: 98.4ms
199:	learn: 0.9370821	total: 19.7s	remaining: 0us

In [238]:
create_submission_file(model_xgb , "final_xgb_2", df_test4)

'File created successful'

In [116]:
submission_1 = submission.copy()

print(df_test.shape , submission.shape , len(y_pred_final))

submission_1["Interest_Rate"] = y_pred_final

print(submission_1["Interest_Rate"].values)


submission_1.to_csv('cgb_eda_1.csv', index=False)

df_submission_1 = pd.read_csv('cgb_eda_1.csv')

print(df_submission_1.shape)

df_submission_1.head(3)

(109541, 39) (109541, 2) 109541
[2. 1. 2. ... 2. 3. 2.]
(109541, 2)

    Loan_ID  Interest_Rate
0  10164310            2.0
1  10164311            1.0
2  10164312            2.0

In [67]:
def create_submission_file(model, file_name, test_data):
    
    y_pred_final = model.predict(test_data)

    submission_1 = submission.copy()
    submission_1["Interest_Rate"] = y_pred_final
    submission_1.to_csv(file_name+'.csv', index=False)
    
    return "File created successful"

In [55]:
Counter(df.Interest_Rate)

Counter({1: 33806, 3: 59923, 2: 70580})

In [68]:
df3[0:109541].shape  , df3[109541 : ].shape

((109541, 13), (54768, 13))

In [69]:
# X_feature_variables1 , y_output1 = majority_imbalanced_dataset(df3, "Interest_Rate")
# df10 = X_feature_variables1.copy()
# df10["Interest_Rate"] = y_output1
# df10.head()

In [175]:
def get_accuracy(y_train_val , y_pred_val , dataset_type = "Default"):
    
    print(" Dataset type is : ", dataset_type)
    
    print("\n Accuracy Score     : ",round(accuracy_score(y_train_val, y_pred_val), 4) * 100)
    
#     print("\n precision_accuracy : ",round(precision_score(y_train_val, y_pred_val), 4) * 100)
 
#     print("\n recall_accuracy    : ",round(recall_score(y_train_val, y_pred_val), 4) * 100)
    
#     print("\n roc_auc_accuracy   : ",round(roc_auc_score(y_train_val, y_pred_val), 4) * 100)
    
#     print("\n f1_score_accuracy  : ",round(f1_score(y_train_val, y_pred_val), 4) * 100)
    
#     print("\n explained_variance  : ",round(explained_variance_score(y_train_val, y_pred_val), 4) * 100)
    
#     tn, fp, fn, tp = confusion_matrix(y_train_val, y_pred_val).ravel()
    
#     print("\n Confusion Matrix TN : ", tn, " FP : ", fp, " FN : ", fn, " TP : ", tp)
    print(confusion_matrix(y_train_val, y_pred_val))

In [71]:
df3.head()

,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
0,1165,10,4,68000.000000,2,0,18.37,0,34.229356,9,14,0,1
1,904,4,0,73331.159434,0,2,14.93,0,17.000000,12,24,0,3
2,667,7,0,75566.400000,1,2,15.88,0,34.229356,12,16,1,3
3,279,10,0,56160.000000,1,2,14.34,3,34.229356,16,22,1,3
4,319,8,3,96000.000000,1,2,22.17,1,34.229356,19,30,0,1

In [72]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164309 entries, 0 to 164308
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Loan_Amount_Requested    164309 non-null  int64
 1   Length_Employed          164309 non-null  int64
 2   Home_Owner               164309 non-null  int64
 3   Annual_Income            164309 non-null  float64
 4   Income_Verified          164309 non-null  int64
 5   Purpose_Of_Loan          164309 non-null  int64
 6   Debt_To_Income           164309 non-null  float64
 7   Inquiries_Last_6Mo       164309 non-null  int64
 8   Months_Since_Deliquency  164309 non-null  float64
 9   Number_Open_Accounts     164309 non-null  int64
 10  Total_Accounts           164309 non-null  int64
 11  Gender                   164309 non-null  int64
 12  Interest_Rate            164309 non-null  int64
dtypes: float64(3), int64(10)
memory usage: 16.3 MB

In [74]:
df_new = df3.copy()

In [78]:
df10.shape , df3.shape

((164309, 14), (164309, 13))

In [79]:
new_test = df_new[0:109541]

new_train = df_new[109541 : ]

In [80]:
x1_train = new_train.iloc[:, :-1]
y1_train = new_train.iloc[:, -1]

In [81]:
x1_test = new_test.iloc[:, :-1]
y1_test = new_test.iloc[:, -1]

In [82]:
Counter(y1_test)

Counter({1: 22618, 3: 39917, 2: 47006})

In [83]:
model_final = XGBClassifier(max_depth=5, objective='multi:softmax', num_classes=3)

model_final.fit(x1_train, y1_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, num_classes=3, objective='multi:softprob',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=None, silent=None, subsample=1, verbosity=1)

In [176]:
y_pred_final_new_test = model_final.predict(x1_test)
get_accuracy(y1_test , y_pred_final_new_test ,  "Test")

 Dataset type is :  Test

 Accuracy Score     :  53.26
[[ 5113 14086  3419]
 [ 3454 29854 13698]
 [  900 15640 23377]]

In [178]:
precision_score(y1_test, y_pred_final_new_test, pos_label='positive',average='micro')

0.532622488383345

In [179]:
precision_score(y1_test, y_pred_final_new_test, pos_label='negative',average='micro')

0.532622488383345

In [181]:
recall_score(y1_test, y_pred_final_new_test, pos_label='positive',average='micro')

0.532622488383345

In [182]:
recall_score(y1_test, y_pred_final_new_test, pos_label='negative',average='micro')

0.532622488383345

In [86]:
y_pred_final_new_train = model_final.predict(x1_train)
get_accuracy(y1_train , y_pred_final_new_train ,  "Train")

 Dataset type is :  Train

 Accuracy Score     :  56.93
[[ 2909  6685  1594]
 [ 1507 15892  6175]
 [  418  7209 12379]]

In [88]:
submission_new = submission.copy()

submission_new["Interest_Rate"] = y_pred_final_new_test


submission_new.to_csv('second_submission.csv', index=False)