In [1]:

from sklearn.base import TransformerMixin, BaseEstimator

from collections import Counter , defaultdict

import pandas as pd

pd.set_option('display.max_columns', None)


from pandas import Series as s , DataFrame as df
import numpy as np

import seaborn as sns
# import matplotlib.pyplot as plt

# To ignore warnings
import warnings
warnings.filterwarnings("ignore")

from matplotlib import pyplot as plt, rcParams as rc


%matplotlib inline
rc["figure.figsize"] = 10,6

import datetime
import datetime as dt

from sklearn.model_selection  import StratifiedKFold
from sklearn.decomposition import PCA

from iteration_utilities import duplicates, unique_everseen

import sys
from itertools import groupby
from operator import itemgetter
from timeit import timeit


## RandomOverSampler to handle imbalanced data
from imblearn.over_sampling import RandomOverSampler # over sampling method 2

Using TensorFlow backend.

In [2]:

#Algorithm
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

from sklearn.naive_bayes import MultinomialNB

from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

#preprocessing
from sklearn.preprocessing import LabelEncoder

from sklearn.preprocessing import StandardScaler, normalize



from sklearn.model_selection import train_test_split

import lightgbm as lgb


#Metrics
from sklearn.metrics import accuracy_score, roc_auc_score, roc_curve, recall_score, precision_score
from sklearn.metrics import confusion_matrix, classification_report, f1_score, precision_recall_fscore_support

from sklearn.pipeline import Pipeline

# GridSearchCV to find optimal min_samples_leaf
from sklearn.model_selection import KFold
from sklearn.model_selection import GridSearchCV

In [77]:
train = pd.read_csv("train_fNxu4vz.csv")

test = pd.read_csv("test_fjtUOL8.csv")
submission = pd.read_csv("sample_submission_HSqiq1Q.csv")

df10 = df.copy()
train.shape, test.shape, submission.shape

((164309, 14), (109541, 13), (109541, 2))

In [78]:
df = train.copy() 
df_test = test.copy()

In [4]:
def get_percentage_miss_value(dataset):
    higher_miss_value_column = []
    miss_threshold_value = 50
    
    for i in dataset.columns:
        if dataset[i].isna().sum() > 1: 
            perectange_val = (dataset[i].isna().sum() / len(dataset)) * 100
            print("Column-> " , i, ", total no of missing value : ",dataset[i].isna().sum() , " & :         ", round(perectange_val,2) ," %")
                
            if(perectange_val > miss_threshold_value):
                higher_miss_value_column.append(i)
            
    print("\n\n\n")
    
    if higher_miss_value_column:
        print("Higher Missing values in Columns for Delete : ", higher_miss_value_column)
    else:
        print("There are no Higher Column Missing values in Dataset")

In [5]:
get_percentage_miss_value(df)

Column->  Length_Employed , total no of missing value :  7371  & :          4.49  %
Column->  Home_Owner , total no of missing value :  25349  & :          15.43  %
Column->  Annual_Income , total no of missing value :  25102  & :          15.28  %
Column->  Months_Since_Deliquency , total no of missing value :  88379  & :          53.79  %




Higher Missing values in Columns for Delete :  ['Months_Since_Deliquency']

In [6]:
get_percentage_miss_value(df_test)

Column->  Length_Employed , total no of missing value :  4936  & :          4.51  %
Column->  Home_Owner , total no of missing value :  16711  & :          15.26  %
Column->  Annual_Income , total no of missing value :  16898  & :          15.43  %
Column->  Months_Since_Deliquency , total no of missing value :  58859  & :          53.73  %




Higher Missing values in Columns for Delete :  ['Months_Since_Deliquency']

In [7]:
def check_cloumn_details_type_numberical(dataset):
    for i in dataset.columns:
        if (dataset[i].dtype == "int"):
            print("Columns name :  ",i  )
            
            print(dict(Counter(dataset[i])))
            print("*"*100)
            print("\n")
            
            
def check_cloumn_details_type_float(dataset):
    for i in dataset.columns:
        if (dataset[i].dtype == "float"):
            print("Columns name :  ",i  )
            
            print(dict(Counter(dataset[i])))
            print("*"*100)
            print("\n")
            

def check_cloumn_details_type_categorical(dataset):
    for i in dataset.columns:
        if(dataset[i].dtype == "object"):
            print("Columns name :  ",i  )
            
            print(dict(Counter(dataset[i])))
            
            print("*"*100)
            print("\n")

In [8]:
check_cloumn_details_type_categorical(df)

Columns name :   Loan_Amount_Requested
{'7,000': 2628, '30,000': 2909, '24,725': 15, '16,000': 4376, '17,000': 1093, '4,500': 527, '18,075': 53, '15,000': 8459, '6,300': 125, '11,700': 168, '7,200': 1283, '6,700': 102, '35,000': 5844, '20,800': 106, '19,925': 6, '25,000': 4001, '6,000': 4790, '4,000': 2112, '8,000': 5174, '12,000': 9018, '9,050': 28, '2,200': 99, '20,000': 7993, '21,700': 9, '8,875': 343, '10,075': 84, '28,625': 70, '2,700': 88, '21,000': 2038, '8,400': 734, '3,250': 143, '11,850': 86, '1,500': 386, '30,700': 1, '4,175': 9, '11,000': 1353, '31,050': 6, '33,150': 11, '5,400': 255, '11,100': 165, '29,175': 103, '22,500': 161, '22,000': 1018, '19,075': 96, '18,000': 3992, '28,000': 2460, '10,800': 484, '16,575': 28, '7,800': 292, '9,750': 291, '10,225': 31, '5,000': 4842, '13,200': 323, '9,500': 356, '18,600': 49, '9,800': 188, '10,000': 11622, '8,500': 645, '13,000': 1470, '3,500': 647, '22,400': 169, '4,200': 424, '24,000': 3526, '14,000': 2509, '2,000': 970, '14,100': 59, '21,500': 46, '6,600': 208, '10,325': 37, '30,100': 12, '9,600': 1262, '13,800': 83, '3,000': 1923, '5,600': 575, '17,500': 442, '6,800': 147, '14,425': 8, '19,000': 520, '28,500': 93, '15,450': 30, '9,000': 2161, '14,475': 18, '24,925': 117, '15,475': 27, '7,400': 63, '4,375': 113, '11,925': 24, '3,200': 301, '23,275': 28, '21,600': 267, '19,350': 39, '29,000': 121, '9,950': 104, '6,900': 64, '20,825': 19, '4,800': 820, '10,200': 240, '20,950': 121, '7,900': 69, '6,500': 821, '7,500': 1055, '4,975': 15, '19,200': 564, '10,500': 589, '3,350': 35, '22,800': 150, '15,250': 151, '3,600': 583, '9,700': 51, '28,800': 50, '12,250': 161, '15,125': 37, '13,775': 18, '11,400': 146, '8,325': 208, '10,550': 40, '9,450': 218, '21,275': 13, '25,700': 15, '9,875': 52, '11,200': 727, '2,250': 29, '17,625': 173, '1,200': 260, '17,200': 48, '13,500': 313, '22,100': 23, '12,175': 139, '19,575': 46, '31,825': 60, '8,750': 67, '4,750': 155, '18,900': 76, '19,500': 222, '11,875': 76, '16,800': 462, '25,600': 97, '10,975': 76, '3,800': 67, '5,500': 723, '17,475': 112, '13,250': 126, '14,300': 116, '27,575': 114, '13,550': 26, '14,400': 966, '2,600': 79, '5,200': 161, '10,300': 61, '20,050': 115, '11,975': 75, '21,850': 116, '10,625': 277, '16,500': 243, '13,100': 41, '12,500': 438, '9,725': 23, '15,850': 126, '18,200': 117, '9,325': 102, '14,375': 84, '19,725': 34, '21,250': 96, '8,050': 55, '19,750': 198, '2,400': 445, '7,925': 52, '23,000': 440, '16,425': 106, '15,700': 35, '14,600': 90, '1,000': 462, '1,750': 31, '16,775': 14, '9,250': 183, '9,675': 7, '8,450': 82, '13,300': 49, '16,475': 17, '24,250': 168, '5,100': 75, '8,975': 88, '33,200': 1, '11,575': 31, '16,075': 16, '11,125': 34, '9,100': 123, '13,450': 17, '25,450': 73, '4,250': 50, '8,725': 76, '26,000': 357, '5,250': 43, '16,525': 22, '21,625': 26, '22,950': 51, '33,000': 223, '7,300': 63, '2,500': 679, '26,500': 158, '32,350': 79, '7,125': 134, '7,225': 7, '15,600': 268, '32,500': 55, '3,900': 85, '7,750': 206, '26,375': 123, '18,825': 162, '5,300': 89, '13,125': 12, '27,500': 114, '6,625': 151, '11,550': 25, '18,375': 24, '17,050': 131, '1,800': 198, '8,600': 78, '10,875': 37, '7,375': 62, '20,500': 140, '23,450': 16, '11,175': 42, '25,725': 17, '18,050': 9, '26,100': 5, '6,400': 578, '20,750': 27, '12,950': 49, '14,875': 22, '12,800': 388, '5,275': 31, '8,575': 87, '20,425': 19, '2,800': 223, '23,975': 40, '12,300': 86, '25,475': 63, '5,350': 21, '10,750': 149, '15,400': 77, '26,400': 99, '10,450': 38, '8,800': 223, '12,325': 24, '5,700': 86, '4,550': 30, '14,500': 239, '7,950': 27, '6,250': 261, '13,925': 36, '10,175': 21, '14,975': 67, '20,400': 155, '5,575': 21, '17,250': 24, '33,950': 52, '18,500': 165, '12,725': 41, '22,750': 186, '24,550': 5, '23,675': 64, '5,375': 221, '23,925': 18, '18,125': 24, '2,125': 22, '11,300': 74, '1,600': 163, '33,575': 35, '34,625': 7, '23,800': 42, '3,700': 48, '13,600': 200, '23,400': 42, '32,200': 8, '4,600': 75, '1,400': 113, '12,550': 30, '21,550': 17, '12,100': 41, '14,700': 80, '10,850': 72, '23,100': 11, '4,400': 86, '9,900': 68, '12,600': 207, '21,875': 9, '12,075': 50, '8,200': 98, '20,775': 27, '10,250': 31, '14,675': 102, '5,125': 49, '11,500': 592, '28,200': 53, '7,575': 37, '5,175': 31, '15,325': 17, '32,000': 409, '3,650': 17, '10,400': 317, '31,200': 25, '22,550': 21, '12,675': 22, '24,700': 18, '11,950': 55, '18,250': 140, '6,875': 11, '33,500': 23, '6,200': 86, '24,375': 116, '8,225': 45, '14,325': 23, '31,750': 1, '9,175': 69, '19,800': 102, '17,375': 15, '11,600': 47, '16,250': 22, '27,050': 62, '10,600': 60, '17,750': 29, '14,075': 77, '18,450': 64, '17,225': 20, '27,000': 309, '7,425': 28, '4,700': 34, '3,750': 57, '7,700': 106, '8,475': 41, '17,775': 16, '1,450': 33, '17,950': 13, '22,250': 116, '14,125': 156, '24,500': 133, '28,900': 7, '9,850': 54, '21,100': 50, '18,875': 25, '3,125': 36, '23,350': 45, '17,425': 34, '8,850': 18, '14,750': 53, '11,225': 25, '4,950': 123, '10,375': 87, '8,250': 72, '6,925': 27, '10,650': 27, '14,575': 55, '16,375': 29, '12,375': 156, '8,625': 13, '23,550': 8, '9,400': 43, '19,400': 57, '10,950': 34, '21,725': 72, '29,575': 10, '3,625': 73, '23,850': 113, '23,875': 22, '16,300': 47, '7,350': 67, '12,575': 56, '23,725': 20, '30,750': 63, '19,950': 54, '14,450': 27, '3,150': 19, '2,850': 24, '6,825': 36, '24,125': 31, '10,050': 106, '7,825': 20, '13,475': 102, '16,625': 19, '7,725': 19, '13,675': 19, '6,950': 63, '17,325': 63, '16,450': 97, '13,025': 19, '6,075': 167, '20,200': 27, '14,800': 78, '16,225': 33, '12,050': 39, '17,925': 14, '3,300': 80, '18,225': 145, '15,500': 161, '31,725': 2, '19,650': 30, '18,350': 38, '8,075': 18, '25,200': 96, '21,575': 7, '13,625': 43, '7,475': 58, '17,600': 226, '17,975': 58, '20,625': 15, '8,675': 32, '2,100': 111, '31,300': 90, '16,550': 36, '3,925': 14, '31,375': 6, '21,200': 139, '28,525': 1, '26,275': 6, '6,725': 30, '29,700': 117, '28,100': 65, '18,550': 99, '13,375': 56, '5,025': 20, '7,550': 91, '25,225': 12, '30,800': 26, '11,650': 26, '21,450': 12, '15,225': 27, '13,225': 56, '3,825': 65, '16,950': 101, '14,625': 14, '11,775': 26, '5,650': 25, '15,100': 32, '27,800': 5, '6,050': 36, '31,500': 89, '7,525': 24, '5,825': 43, '11,725': 30, '19,600': 123, '19,900': 10, '23,300': 16, '29,325': 37, '18,625': 15, '27,300': 68, '2,300': 67, '32,750': 19, '16,600': 24, '19,875': 28, '24,075': 7, '32,400': 27, '11,350': 18, '33,425': 94, '17,350': 35, '6,175': 11, '13,150': 62, '22,300': 15, '24,200': 13, '18,275': 11, '27,650': 23, '6,650': 37, '33,025': 15, '31,450': 27, '13,325': 23, '18,400': 78, '5,875': 70, '31,575': 26, '17,875': 46, '5,800': 75, '2,525': 16, '12,525': 18, '17,275': 30, '30,225': 60, '7,675': 39, '24,600': 31, '7,975': 31, '8,775': 16, '14,350': 55, '5,550': 38, '10,350': 31, '8,950': 69, '18,650': 14, '9,525': 43, '15,550': 46, '16,750': 164, '26,925': 19, '5,050': 35, '26,800': 13, '11,800': 46, '20,275': 23, '34,475': 66, '10,575': 89, '6,850': 74, '31,800': 3, '29,100': 64, '6,100': 50, '28,050': 3, '11,625': 87, '22,475': 25, '14,525': 18, '16,200': 130, '15,350': 90, '10,475': 32, '12,400': 62, '10,775': 36, '24,575': 88, '9,350': 35, '19,425': 82, '10,100': 33, '15,875': 97, '17,125': 26, '11,900': 50, '15,825': 21, '4,625': 27, '4,900': 54, '15,675': 15, '2,150': 23, '34,025': 7, '16,400': 32, '4,825': 24, '3,275': 10, '2,650': 31, '21,075': 36, '15,750': 44, '12,650': 15, '9,775': 28, '7,600': 68, '1,875': 12, '25,250': 9, '34,000': 97, '24,800': 54, '20,125': 116, '17,825': 15, '20,550': 22, '11,325': 97, '9,975': 67, '14,025': 33, '11,075': 39, '15,175': 15, '14,225': 23, '6,225': 35, '24,850': 6, '7,100': 62, '32,100': 27, '6,350': 75, '24,525': 11, '9,300': 53, '29,875': 3, '19,125': 80, '16,700': 44, '24,950': 16, '11,750': 42, '15,900': 44, '23,125': 17, '2,225': 13, '6,750': 22, '1,925': 25, '28,775': 40, '19,050': 20, '12,750': 29, '8,100': 43, '16,925': 10, '13,700': 63, '26,750': 22, '20,150': 29, '24,750': 11, '7,175': 22, '18,700': 44, '26,850': 23, '23,500': 133, '8,275': 34, '7,625': 39, '31,000': 83, '12,700': 71, '12,925': 20, '14,825': 95, '32,225': 14, '4,275': 17, '13,050': 27, '34,225': 6, '5,725': 34, '29,850': 36, '12,150': 29, '13,175': 22, '32,875': 45, '21,050': 9, '3,025': 15, '3,850': 27, '17,450': 19, '25,900': 15, '28,250': 19, '14,900': 70, '19,475': 14, '3,100': 24, '8,150': 33, '8,900': 36, '15,950': 28, '3,075': 21, '27,600': 35, '9,025': 27, '15,975': 22, '2,875': 53, '19,275': 19, '3,425': 16, '13,900': 40, '12,850': 20, '12,900': 23, '25,975': 96, '28,975': 18, '24,350': 12, '19,675': 21, '25,825': 9, '8,925': 24, '1,375': 4, '9,200': 99, '15,725': 14, '5,075': 33, '5,850': 33, '30,625': 10, '20,350': 15, '10,700': 31, '25,525': 7, '17,675': 21, '23,600': 27, '22,675': 27, '22,575': 13, '19,700': 29, '9,125': 52, '20,675': 98, '12,025': 16, '4,675': 33, '30,500': 20, '1,675': 20, '27,900': 6, '21,750': 17, '19,175': 11, '14,650': 8, '5,225': 28, '33,700': 7, '9,925': 74, '20,325': 7, '6,575': 27, '11,525': 23, '29,500': 24, '25,175': 4, '7,775': 14, '18,300': 29, '3,725': 15, '17,400': 36, '6,125': 20, '15,775': 34, '8,650': 35, '12,625': 20, '6,775': 27, '31,175': 23, '2,725': 14, '16,100': 54, '3,375': 12, '7,450': 32, '15,800': 42, '15,150': 5, '15,200': 68, '5,325': 39, '21,375': 3, '27,550': 4, '7,025': 44, '15,925': 29, '21,525': 11, '17,300': 15, '22,375': 21, '3,950': 21, '23,825': 10, '17,850': 22, '19,300': 37, '5,750': 86, '9,575': 21, '4,925': 13, '2,575': 9, '22,050': 25, '14,150': 17, '33,600': 50, '4,125': 41, '10,275': 13, '23,325': 78, '6,425': 25, '30,900': 10, '10,150': 49, '22,275': 2, '20,375': 42, '26,250': 17, '31,900': 7, '30,075': 13, '16,900': 36, '10,925': 20, '16,175': 6, '12,875': 60, '15,300': 33, '23,225': 18, '9,825': 20, '22,875': 24, '2,900': 20, '9,475': 14, '24,450': 35, '4,075': 24, '19,375': 28, '11,675': 26, '13,750': 109, '11,375': 22, '8,350': 32, '5,975': 30, '27,125': 6, '26,325': 13, '8,825': 15, '3,050': 17, '10,675': 16, '30,875': 1, '22,700': 5, '12,350': 28, '3,775': 18, '16,150': 58, '21,650': 19, '14,175': 25, '28,425': 15, '33,300': 10, '1,525': 3, '4,300': 63, '28,750': 7, '11,475': 29, '18,800': 45, '13,650': 38, '6,150': 39, '18,675': 31, '6,450': 43, '26,050': 9, '22,200': 35, '15,425': 22, '26,350': 5, '22,900': 15, '7,150': 36, '17,550': 42, '23,175': 8, '5,475': 23, '9,075': 21, '5,675': 34, '24,625': 28, '12,275': 31, '21,325': 16, '3,475': 14, '2,750': 53, '20,925': 8, '29,725': 2, '12,200': 56, '12,775': 14, '4,475': 25, '24,150': 5, '10,425': 38, '18,975': 19, '4,100': 38, '25,150': 20, '5,925': 19, '29,975': 54, '9,550': 53, '21,400': 16, '4,850': 27, '27,400': 7, '13,400': 52, '19,450': 9, '19,100': 26, '32,950': 17, '27,725': 18, '26,775': 15, '1,025': 2, '4,725': 41, '22,525': 17, '7,875': 46, '20,225': 24, '3,975': 37, '31,975': 12, '17,100': 50, '2,175': 14, '9,225': 21, '15,575': 10, '15,075': 39, '27,250': 9, '31,950': 2, '19,150': 35, '11,425': 15, '6,475': 31, '21,350': 42, '11,450': 19, '26,525': 4, '13,825': 24, '1,100': 8, '24,475': 16, '8,700': 57, '28,550': 9, '10,725': 50, '27,100': 4, '26,200': 16, '9,650': 34, '30,375': 24, '3,875': 10, '22,125': 32, '19,550': 10, '14,850': 22, '26,425': 1, '5,950': 73, '12,825': 30, '21,800': 11, '4,350': 21, '25,500': 25, '8,125': 93, '11,250': 58, '26,600': 14, '3,525': 18, '6,975': 14, '5,625': 24, '12,450': 27, '22,175': 5, '4,575': 31, '31,100': 5, '6,025': 14, '25,550': 2, '27,425': 13, '20,175': 15, '34,100': 11, '3,400': 42, '23,050': 12, '26,300': 17, '25,325': 15, '15,050': 58, '17,800': 30, '8,375': 15, '21,975': 21, '7,275': 17, '27,200': 78, '9,150': 17, '18,950': 33, '10,900': 27, '5,150': 34, '11,275': 24, '18,425': 22, '26,575': 13, '16,850': 26, '6,375': 37, '17,700': 28, '17,525': 6, '14,050': 14, '1,975': 9, '2,350': 9, '14,550': 18, '2,975': 22, '3,450': 20, '2,375': 6, '1,275': 5, '25,675': 6, '19,250': 21, '21,300': 14, '28,650': 10, '14,950': 28, '2,425': 12, '32,625': 9, '20,250': 20, '16,975': 18, '23,475': 14, '30,600': 1, '10,125': 20, '22,850': 13, '15,275': 20, '1,775': 9, '23,200': 50, '6,325': 41, '24,650': 21, '22,925': 3, '13,950': 25, '3,675': 17, '4,450': 58, '29,900': 26, '18,150': 44, '17,575': 15, '14,200': 26, '34,575': 1, '23,575': 7, '16,675': 27, '20,300': 17, '29,375': 6, '27,700': 7, '21,475': 10, '16,125': 8, '1,950': 23, '20,475': 24, '8,300': 34, '14,775': 8, '4,525': 32, '29,050': 20, '4,150': 20, '20,025': 5, '20,600': 19, '4,875': 29, '28,725': 1, '23,150': 4, '12,975': 27, '24,225': 6, '12,125': 16, '14,250': 29, '27,375': 2, '16,825': 37, '27,175': 15, '26,675': 2, '6,675': 14, '8,025': 14, '18,175': 6, '20,450': 6, '20,700': 33, '18,725': 30, '27,225': 1, '10,025': 11, '29,150': 2, '7,050': 10, '7,250': 49, '16,875': 11, '23,950': 5, '9,425': 9, '6,525': 13, '4,650': 26, '24,825': 13, '18,775': 26, '5,450': 16, '15,375': 17, '27,850': 16, '11,150': 28, '30,350': 1, '34,350': 10, '6,550': 13, '1,650': 6, '20,875': 14, '30,275': 2, '21,950': 12, '20,900': 12, '16,725': 7, '29,775': 10, '29,250': 20, '21,925': 11, '20,725': 19, '34,750': 9, '23,900': 16, '33,475': 1, '27,475': 6, '22,075': 9, '21,175': 7, '13,525': 10, '30,200': 5, '27,325': 19, '13,725': 12, '20,975': 19, '3,575': 8, '13,350': 22, '29,750': 2, '27,525': 17, '25,850': 16, '20,650': 7, '22,600': 18, '2,925': 9, '34,550': 9, '5,900': 29, '1,625': 12, '20,850': 14, '24,100': 3, '18,750': 13, '22,350': 10, '10,525': 38, '18,850': 10, '4,050': 13, '13,875': 7, '2,275': 7, '23,025': 9, '21,775': 6, '28,675': 1, '28,175': 6, '23,250': 3, '7,850': 26, '29,300': 3, '15,625': 28, '32,800': 2, '13,425': 9, '9,375': 12, '14,725': 20, '13,575': 20, '34,875': 16, '16,325': 14, '9,625': 25, '16,025': 10, '8,425': 20, '3,325': 13, '15,025': 4, '15,650': 11, '22,225': 5, '23,750': 32, '11,050': 25, '1,900': 15, '19,850': 11, '13,850': 19, '9,275': 11, '25,375': 17, '22,025': 6, '13,075': 6, '11,825': 6, '17,025': 10, '8,550': 21, '26,550': 5, '10,825': 11, '24,025': 5, '30,300': 9, '16,350': 10, '28,125': 7, '28,600': 8, '16,050': 12, '2,625': 23, '24,050': 5, '18,575': 7, '1,300': 33, '24,175': 40, '19,975': 15, '16,275': 7, '24,300': 11, '17,175': 7, '28,025': 2, '31,025': 10, '22,150': 9, '2,450': 8, '14,925': 7, '2,050': 14, '31,075': 2, '27,150': 20, '29,950': 6, '23,425': 7, '20,575': 6, '23,075': 17, '25,925': 12, '7,325': 17, '29,350': 1, '17,650': 10, '2,950': 11, '24,975': 8, '17,075': 10, '21,225': 3, '28,375': 13, '30,775': 1, '16,650': 16, '12,475': 10, '21,900': 5, '18,025': 5, '29,450': 14, '1,350': 7, '30,250': 2, '24,325': 3, '7,075': 35, '29,600': 5, '2,825': 12, '34,800': 12, '14,275': 13, '3,550': 22, '27,025': 2, '25,300': 6, '26,175': 1, '5,525': 22, '19,225': 8, '25,425': 1, '26,125': 10, '25,050': 16, '1,700': 18, '4,775': 17, '18,525': 12, '27,450': 15, '25,075': 20, '29,400': 13, '23,375': 9, '4,325': 16, '4,225': 13, '12,225': 15, '22,325': 13, '27,975': 24, '5,775': 15, '28,875': 7, '5,425': 6, '26,650': 9, '33,825': 7, '34,500': 11, '4,025': 19, '13,275': 12, '8,525': 8, '29,200': 2, '26,700': 3, '3,225': 8, '2,550': 17, '6,275': 16, '24,275': 6, '29,225': 8, '19,525': 5, '21,125': 17, '1,250': 9, '24,675': 2, '27,350': 2, '3,175': 17, '1,850': 9, '19,325': 12, '31,700': 10, '2,325': 2, '12,425': 8, '1,425': 2, '23,625': 2, '7,650': 23, '23,700': 17, '25,275': 2, '28,275': 1, '17,725': 9, '2,675': 7, '33,650': 1, '19,025': 11, '1,150': 2, '13,975': 12, '1,325': 7, '22,650': 10, '22,975': 2, '32,550': 1, '25,875': 12, '500': 3, '34,975': 5, '33,225': 6, '29,550': 6, '18,325': 5, '23,525': 2, '27,675': 3, '8,175': 9, '30,675': 1, '26,975': 2, '725': 1, '34,850': 4, '26,150': 10, '1,050': 3, '20,100': 13, '21,675': 3, '27,875': 4, '28,325': 7, '24,900': 4, '34,375': 1, '32,050': 1, '21,150': 7, '28,700': 7, '34,700': 1, '25,775': 3, '1,550': 5, '33,675': 1, '28,850': 4, '34,925': 2, '33,175': 1, '17,900': 13, '32,600': 1, '22,775': 1, '2,775': 6, '28,575': 3, '27,750': 3, '19,825': 5, '900': 1, '25,750': 2, '1,075': 4, '2,025': 1, '28,400': 4, '24,875': 3, '31,625': 3, '18,925': 5, '33,250': 2, '22,725': 2, '25,800': 5, '20,075': 5, '22,425': 9, '1,125': 3, '25,650': 3, '18,475': 5, '25,025': 6, '27,775': 2, '27,950': 1, '26,075': 2, '32,250': 4, '29,675': 5, '4,425': 5, '28,450': 6, '17,150': 10, '32,425': 6, '32,450': 1, '21,825': 9, '2,075': 4, '30,400': 3, '29,475': 2, '30,925': 3, '24,775': 3, '29,650': 1, '31,775': 3, '32,075': 1, '28,225': 1, '18,100': 4, '31,525': 2, '23,775': 4, '19,775': 13, '33,550': 1, '25,100': 2, '19,625': 3, '27,275': 4, '26,625': 5, '25,575': 2, '24,400': 7, '11,025': 15, '29,075': 1, '30,050': 1, '2,475': 3, '30,825': 2, '21,025': 7, '26,450': 3, '34,200': 3, '33,900': 1, '26,950': 5, '27,075': 6, '21,425': 5, '32,525': 1, '31,400': 2, '25,350': 4, '31,425': 2, '22,450': 3, '32,375': 1, '31,675': 1, '30,025': 2, '25,625': 2, '29,125': 3, '33,100': 1, '1,575': 4, '27,825': 2, '15,525': 3, '28,475': 1, '27,625': 1, '30,475': 1, '950': 1, '32,725': 1, '31,150': 2, '30,950': 2, '1,225': 2, '800': 1, '30,725': 1, '26,225': 2, '1,725': 2, '29,275': 2, '29,625': 1, '750': 1, '31,850': 1, '33,075': 1, '31,325': 1, '25,125': 2, '1,475': 3, '1,825': 2, '30,550': 2, '34,775': 1, '25,400': 1, '34,400': 3, '26,875': 2, '32,125': 2, '30,650': 2, '34,325': 1, '23,650': 2, '28,350': 3, '33,800': 2, '24,425': 1, '27,925': 1, '34,600': 1, '32,850': 2, '31,250': 1, '32,275': 1, '30,175': 1, '33,725': 1, '20,525': 2, '32,325': 1, '30,150': 1, '30,575': 1, '25,950': 1, '31,925': 1, '30,850': 2, '26,025': 2, '22,625': 1, '28,950': 1, '33,325': 1, '29,825': 1}
****************************************************************************************************


Columns name :   Length_Employed
{'< 1 year': 12805, '4 years': 9784, '7 years': 9308, '8 years': 7917, '2 years': 14620, '10+ years': 52915, '1 year': 10422, nan: 7371, '6 years': 9094, '9 years': 6285, '3 years': 12974, '5 years': 10814}
****************************************************************************************************


Columns name :   Home_Owner
{'Rent': 56031, 'Mortgage': 70345, nan: 25349, 'Own': 12525, 'Other': 49, 'None': 10}
****************************************************************************************************


Columns name :   Income_Verified
{'not verified': 51873, 'VERIFIED - income': 59421, 'VERIFIED - income source': 53015}
****************************************************************************************************


Columns name :   Purpose_Of_Loan
{'car': 1885, 'debt_consolidation': 97101, 'credit_card': 36684, 'home_improvement': 9269, 'major_purchase': 3435, 'other': 8346, 'medical': 1541, 'small_business': 2392, 'moving': 974, 'wedding': 828, 'vacation': 837, 'house': 773, 'educational': 121, 'renewable_energy': 123}
****************************************************************************************************


Columns name :   Gender

{'Female': 47133, 'Male': 117176}
****************************************************************************************************

In [9]:
# check_cloumn_details_type_float(df)

In [10]:
def visualize_histogram(dataset):
    # plot histogram
    plt.figure(figsize=(25, 9))  # figure size in ratio 16:9
    features = dataset.columns  # list of columns name
    for i, j in enumerate(features):
        plt.subplot(3, 3, i + 1)  # create subplot for histogram
        plt.title("Histogram of {}".format(j), fontsize=15)  # title of histogram

        bins = len(dataset[j].unique())  # bins for histogram
        plt.hist(dataset[j], bins=bins, rwidth=0.8, edgecolor="y", linewidth=2, )  # plot histogram

    plt.subplots_adjust(hspace=0.5)  # space between horixontal axes (subplots)

In [11]:
# visualize_histogram(df)

In [12]:
# visualize_numberical_values(df)

In [13]:
#Label encoding
def convert_to_numerical_label_encoding(dataset):
    enc = LabelEncoder()
    for i in dataset.columns:
        if(dataset[i].dtype == "object"):
            dataset[i] = enc.fit_transform(dataset[i])
            
    return dataset

In [14]:
class DataFrameImputer(TransformerMixin):

    def __init__(self):
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0] if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

In [15]:
def majority_imbalanced_dataset(dataset, target_col):
    feature_columns = dataset.columns.tolist()
    feature_columns = [c for c in feature_columns if c not in [target_col]]

    X2_new = dataset[feature_columns]
    Y2_new = dataset[target_col]

    os =  RandomOverSampler(random_state=35)
    X_feature_variables , y_output = os.fit_sample(X2_new, Y2_new)
    
    X_feature_variables[target_col] = y_output
    
    X_feature_variables = X_feature_variables.sample(frac = 1).reset_index(drop = True)
    
    return X_feature_variables

In [16]:
def standardscaler_preprocessing(dataset_train, dataset_test, num_col):
    scaler = StandardScaler()
   
    dataset_train[num_col] = scaler.fit_transform(dataset_train[num_col])

    dataset_test[num_col] = scaler.transform(dataset_test[num_col])
    
    return dataset_train, dataset_test

In [17]:
df.head()

,Loan_ID,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
0,10000001,"7,000",< 1 year,Rent,68000.0,not verified,car,18.37,0,NaN,9,14,Female,1
1,10000002,"30,000",4 years,Mortgage,NaN,VERIFIED - income,debt_consolidation,14.93,0,17.0,12,24,Female,3
2,10000003,"24,725",7 years,Mortgage,75566.4,VERIFIED - income source,debt_consolidation,15.88,0,NaN,12,16,Male,3
3,10000004,"16,000",< 1 year,NaN,56160.0,VERIFIED - income source,debt_consolidation,14.34,3,NaN,16,22,Male,3
4,10000005,"17,000",8 years,Own,96000.0,VERIFIED - income source,debt_consolidation,22.17,1,NaN,19,30,Female,1

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164309 entries, 0 to 164308
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Loan_ID                  164309 non-null  int64
 1   Loan_Amount_Requested    164309 non-null  object
 2   Length_Employed          156938 non-null  object
 3   Home_Owner               138960 non-null  object
 4   Annual_Income            139207 non-null  float64
 5   Income_Verified          164309 non-null  object
 6   Purpose_Of_Loan          164309 non-null  object
 7   Debt_To_Income           164309 non-null  float64
 8   Inquiries_Last_6Mo       164309 non-null  int64
 9   Months_Since_Deliquency  75930 non-null   float64
 10  Number_Open_Accounts     164309 non-null  int64
 11  Total_Accounts           164309 non-null  int64
 12  Gender                   164309 non-null  object
 13  Interest_Rate            164309 non-null  int64
dtypes: float64(3), int64(5), object(6)
memory usage: 17.6+ MB

In [19]:
df.columns

Index(['Loan_ID', 'Loan_Amount_Requested', 'Length_Employed', 'Home_Owner',
       'Annual_Income', 'Income_Verified', 'Purpose_Of_Loan', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Months_Since_Deliquency', 'Number_Open_Accounts',
       'Total_Accounts', 'Gender', 'Interest_Rate'],
      dtype='object')

In [20]:
Counter(df.Interest_Rate)

Counter({1: 33806, 3: 59923, 2: 70580})

In [21]:
df.describe()

,Loan_ID,Annual_Income,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Interest_Rate
count,1.643090e+05,1.392070e+05,164309.000000,164309.000000,75930.000000,164309.000000,164309.000000,164309.000000
mean,1.008216e+07,7.333116e+04,17.207189,0.781698,34.229356,11.193818,25.067665,2.158951
std,4.743207e+04,6.037750e+04,7.845083,1.034747,21.761180,4.991813,11.583067,0.738364
min,1.000000e+07,4.000000e+03,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000
25%,1.004108e+07,4.500000e+04,11.370000,0.000000,16.000000,8.000000,17.000000,2.000000
50%,1.008216e+07,6.300000e+04,16.840000,0.000000,31.000000,10.000000,23.000000,2.000000
75%,1.012323e+07,8.869750e+04,22.780000,1.000000,50.000000,14.000000,32.000000,3.000000
max,1.016431e+07,7.500000e+06,39.990000,8.000000,180.000000,76.000000,156.000000,3.000000

# <font color ='green' > Step 1: EDA

In [79]:
# df = train.copy() 
# df_test = test.copy()

In [80]:
print(df.shape)
print(df_test.shape)

del df['Loan_ID']
del df_test['Loan_ID']

print(df.shape)
print(df_test.shape)

(164309, 14)
(109541, 13)
(164309, 13)
(109541, 12)

In [81]:
df['Loan_Amount_Requested'] = df['Loan_Amount_Requested'].str.replace(',','').astype(np.float64)

df_test['Loan_Amount_Requested'] = df_test['Loan_Amount_Requested'].str.replace(',','').astype(np.float64)

In [82]:
# Counter(df.Loan_Amount_Requested)

In [83]:
#Missing value imputation for Train
df.Months_Since_Deliquency.fillna(0, inplace = True)
df.Annual_Income.fillna(0, inplace = True) # Another option is to impute mean to checck model performance
df.Home_Owner.fillna('msg2drop', inplace = True)
df.Length_Employed.fillna('msg2drop', inplace = True)


#Missing value imputation for test
df_test.Months_Since_Deliquency.fillna(0, inplace = True)
df_test.Annual_Income.fillna(0, inplace = True) # Another option is to impute mean to checck model performance
df_test.Home_Owner.fillna('msg2drop', inplace = True)
df_test.Length_Employed.fillna('msg2drop', inplace = True)

In [84]:
#outlier managegment
originalCount = len(df)
df = df[df['Annual_Income'] <= 225000]
df = df[df['Months_Since_Deliquency'] <= 80]
df = df[df['Number_Open_Accounts'] <= 30]
df = df[df['Total_Accounts'] <= 68]

finalCount  = len(df)
print('Original Count -', originalCount , ', Final Count -', finalCount,  ', Dropped -', originalCount - finalCount, '(', round(finalCount/originalCount,4), '%)')

Original Count - 164309 , Final Count - 161232 , Dropped - 3077 ( 0.9813 %)

In [85]:
dummy_col_list = ['Length_Employed', 'Home_Owner', 'Income_Verified', 'Purpose_Of_Loan', 'Gender']

df = pd.get_dummies(df, columns=dummy_col_list)


df_test = pd.get_dummies(df_test, columns=dummy_col_list)

In [88]:
df.shape, df_test.shape

((161232, 45), (109541, 44))

In [89]:
#dropping 1 column from each category dummy variable list

drop_col = ['Length_Employed_msg2drop','Home_Owner_msg2drop','Income_Verified_VERIFIED - income',
            'Purpose_Of_Loan_renewable_energy','Gender_Male']

df = df.drop(drop_col, axis = 1)


df_test = df_test.drop(drop_col, axis = 1)

In [90]:
df.shape, df_test.shape

((161232, 40), (109541, 39))

# <font color ='red' > Step 2: EDA

In [93]:
# df.head()

In [131]:
# df1["Type_of_Cab"] = df1["Type_of_Cab"].fillna("Unkown")
# df1["Confidence_Life_Style_Index"] = df1["Confidence_Life_Style_Index"].fillna("Unkown")


# df2 = DataFrameImputer().fit_transform(df.copy())
# df2_test = DataFrameImputer().fit_transform(df_test.copy())


# df3 = convert_to_numerical_label_encoding(df2.copy())
# df2.shape, df3.shape

# df3_test = convert_to_numerical_label_encoding(df2_test.copy())
# df2_test.shape, df3_test.shape

# df3 = majority_imbalanced_dataset(df3.copy(), "Interest_Rate")
# Counter(df4.Surge_Pricing_Type)


# scaling_col = ["Annual_Income", "Debt_To_Income","Inquiries_Last_6Mo", "Months_Since_Deliquency", 
#               "Number_Open_Accounts", "Total_Accounts", "Interest_Rate"]


# df4, df4_test = standardscaler_preprocessing(df3.copy(), df3_test.copy(), scaling_col)

In [94]:
df.isna().sum().sum() , df_test.isna().sum().sum()

(0, 0)

In [117]:
# def convert_numerical_data_type(dataset):
#     col_list = list(dataset.select_dtypes(include =  ["int" , "float"] ).columns)
#     for numberical_colname in col_list:
#         dataset[numberical_colname] = pd.to_numeric(dataset[numberical_colname])  
    
#     return dataset

In [99]:
# df3 = convert_numerical_data_type(df.copy())
# df3_test = convert_numerical_data_type(df_test.copy())

In [101]:
# df3.columns

Index(['Loan_Amount_Requested', 'Annual_Income', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Months_Since_Deliquency', 'Number_Open_Accounts',
       'Total_Accounts', 'Interest_Rate', 'Length_Employed_1 year',
       'Length_Employed_10+ years', 'Length_Employed_2 years',
       'Length_Employed_3 years', 'Length_Employed_4 years',
       'Length_Employed_5 years', 'Length_Employed_6 years',
       'Length_Employed_7 years', 'Length_Employed_8 years',
       'Length_Employed_9 years', 'Length_Employed_< 1 year',
       'Home_Owner_Mortgage', 'Home_Owner_None', 'Home_Owner_Other',
       'Home_Owner_Own', 'Home_Owner_Rent',
       'Income_Verified_VERIFIED - income source',
       'Income_Verified_not verified', 'Purpose_Of_Loan_car',
       'Purpose_Of_Loan_credit_card', 'Purpose_Of_Loan_debt_consolidation',
       'Purpose_Of_Loan_educational', 'Purpose_Of_Loan_home_improvement',
       'Purpose_Of_Loan_house', 'Purpose_Of_Loan_major_purchase',
       'Purpose_Of_Loan_medical', 'Purpose_Of_Loan_moving',
       'Purpose_Of_Loan_other', 'Purpose_Of_Loan_small_business',
       'Purpose_Of_Loan_vacation', 'Purpose_Of_Loan_wedding', 'Gender_Female'],
      dtype='object')

In [102]:
fetaaure_col = ['Loan_Amount_Requested', 'Annual_Income', 'Debt_To_Income',
       'Inquiries_Last_6Mo', 'Months_Since_Deliquency', 'Number_Open_Accounts',
       'Total_Accounts', 'Length_Employed_1 year',
       'Length_Employed_10+ years', 'Length_Employed_2 years',
       'Length_Employed_3 years', 'Length_Employed_4 years',
       'Length_Employed_5 years', 'Length_Employed_6 years',
       'Length_Employed_7 years', 'Length_Employed_8 years',
       'Length_Employed_9 years', 'Length_Employed_< 1 year',
       'Home_Owner_Mortgage', 'Home_Owner_None', 'Home_Owner_Other',
       'Home_Owner_Own', 'Home_Owner_Rent',
       'Income_Verified_VERIFIED - income source',
       'Income_Verified_not verified', 'Purpose_Of_Loan_car',
       'Purpose_Of_Loan_credit_card', 'Purpose_Of_Loan_debt_consolidation',
       'Purpose_Of_Loan_educational', 'Purpose_Of_Loan_home_improvement',
       'Purpose_Of_Loan_house', 'Purpose_Of_Loan_major_purchase',
       'Purpose_Of_Loan_medical', 'Purpose_Of_Loan_moving',
       'Purpose_Of_Loan_other', 'Purpose_Of_Loan_small_business',
       'Purpose_Of_Loan_vacation', 'Purpose_Of_Loan_wedding', 'Gender_Female']

len(fetaaure_col)

39

In [110]:
df3 = df.copy()
df3_test = df_test.copy()

In [111]:
X = df3.loc[:,fetaaure_col]

Y = df3.loc[:, ["Interest_Rate"]]

In [112]:
len(X) , len(Y), X.shape

(161232, 161232, (161232, 39))

In [113]:
# model_xgb = XGBClassifier(max_depth=5, objective='multi:softmax', num_classes=3)
# model_xgb.fit(X, Y)
# y_pred_final = model_xgb.predict(df3_test)

In [114]:
# model_lgb= LGBMClassifier(n_estimators= 200, objective='multi:softmax', num_classes=3)
# model_lgb.fit(X,Y)
# y_pred_final = model_lgb.predict(df3_test)

In [115]:

model_catg= CatBoostClassifier(depth= 3,l2_leaf_reg= 1e-25,learning_rate= 0.07,
                               loss_function= 'MultiClass',n_estimators= 200)
model_catg.fit(X,Y)
y_pred_final = model_catg.predict(df3_test)

0:	learn: 1.0875212	total: 79.4ms	remaining: 15.8s
1:	learn: 1.0780889	total: 159ms	remaining: 15.7s
2:	learn: 1.0696121	total: 256ms	remaining: 16.8s
3:	learn: 1.0619977	total: 389ms	remaining: 19.1s
4:	learn: 1.0553271	total: 556ms	remaining: 21.7s
5:	learn: 1.0495591	total: 815ms	remaining: 26.4s
6:	learn: 1.0443790	total: 1.07s	remaining: 29.6s
7:	learn: 1.0395901	total: 1.31s	remaining: 31.6s
8:	learn: 1.0352500	total: 1.47s	remaining: 31.2s
9:	learn: 1.0313301	total: 1.61s	remaining: 30.6s
10:	learn: 1.0277080	total: 1.72s	remaining: 29.6s
11:	learn: 1.0244920	total: 1.85s	remaining: 29.1s
12:	learn: 1.0212182	total: 1.97s	remaining: 28.3s
13:	learn: 1.0185376	total: 2.05s	remaining: 27.2s
14:	learn: 1.0158645	total: 2.15s	remaining: 26.5s
15:	learn: 1.0134250	total: 2.27s	remaining: 26.1s
16:	learn: 1.0109586	total: 2.35s	remaining: 25.3s
17:	learn: 1.0087585	total: 2.45s	remaining: 24.8s
18:	learn: 1.0067336	total: 2.53s	remaining: 24.1s
19:	learn: 1.0049122	total: 2.64s	remaining: 23.7s
20:	learn: 1.0029801	total: 2.72s	remaining: 23.2s
21:	learn: 1.0012590	total: 2.8s	remaining: 22.7s
22:	learn: 0.9991087	total: 2.88s	remaining: 22.1s
23:	learn: 0.9973632	total: 2.98s	remaining: 21.9s
24:	learn: 0.9957494	total: 3.13s	remaining: 21.9s
25:	learn: 0.9943749	total: 3.24s	remaining: 21.7s
26:	learn: 0.9931043	total: 3.35s	remaining: 21.5s
27:	learn: 0.9917569	total: 3.45s	remaining: 21.2s
28:	learn: 0.9904087	total: 3.55s	remaining: 20.9s
29:	learn: 0.9892402	total: 3.69s	remaining: 20.9s
30:	learn: 0.9881811	total: 3.79s	remaining: 20.6s
31:	learn: 0.9869948	total: 3.85s	remaining: 20.2s
32:	learn: 0.9855429	total: 3.94s	remaining: 19.9s
33:	learn: 0.9844751	total: 4.09s	remaining: 20s
34:	learn: 0.9834156	total: 4.24s	remaining: 20s
35:	learn: 0.9824649	total: 4.32s	remaining: 19.7s
36:	learn: 0.9811649	total: 4.4s	remaining: 19.4s
37:	learn: 0.9803071	total: 4.53s	remaining: 19.3s
38:	learn: 0.9793926	total: 4.68s	remaining: 19.3s
39:	learn: 0.9785066	total: 4.8s	remaining: 19.2s
40:	learn: 0.9775692	total: 4.91s	remaining: 19s
41:	learn: 0.9767641	total: 4.99s	remaining: 18.8s
42:	learn: 0.9760034	total: 5.12s	remaining: 18.7s
43:	learn: 0.9753047	total: 5.26s	remaining: 18.6s
44:	learn: 0.9745592	total: 5.4s	remaining: 18.6s
45:	learn: 0.9739302	total: 5.48s	remaining: 18.4s
46:	learn: 0.9731673	total: 5.57s	remaining: 18.1s
47:	learn: 0.9723688	total: 5.68s	remaining: 18s
48:	learn: 0.9716145	total: 5.75s	remaining: 17.7s
49:	learn: 0.9709376	total: 5.83s	remaining: 17.5s
50:	learn: 0.9703405	total: 5.92s	remaining: 17.3s
51:	learn: 0.9696808	total: 6s	remaining: 17.1s
52:	learn: 0.9692039	total: 6.08s	remaining: 16.9s
53:	learn: 0.9686222	total: 6.17s	remaining: 16.7s
54:	learn: 0.9680759	total: 6.27s	remaining: 16.5s
55:	learn: 0.9674124	total: 6.35s	remaining: 16.3s
56:	learn: 0.9668100	total: 6.44s	remaining: 16.2s
57:	learn: 0.9661900	total: 6.52s	remaining: 16s
58:	learn: 0.9657507	total: 6.59s	remaining: 15.8s
59:	learn: 0.9652980	total: 6.68s	remaining: 15.6s
60:	learn: 0.9647679	total: 6.78s	remaining: 15.4s
61:	learn: 0.9642486	total: 6.84s	remaining: 15.2s
62:	learn: 0.9638662	total: 6.92s	remaining: 15.1s
63:	learn: 0.9633472	total: 7.01s	remaining: 14.9s
64:	learn: 0.9628967	total: 7.08s	remaining: 14.7s
65:	learn: 0.9623749	total: 7.18s	remaining: 14.6s
66:	learn: 0.9618694	total: 7.25s	remaining: 14.4s
67:	learn: 0.9614183	total: 7.36s	remaining: 14.3s
68:	learn: 0.9608931	total: 7.47s	remaining: 14.2s
69:	learn: 0.9604310	total: 7.56s	remaining: 14s
70:	learn: 0.9600250	total: 7.69s	remaining: 14s
71:	learn: 0.9596588	total: 7.87s	remaining: 14s
72:	learn: 0.9592760	total: 7.99s	remaining: 13.9s
73:	learn: 0.9588891	total: 8.07s	remaining: 13.7s
74:	learn: 0.9585639	total: 8.16s	remaining: 13.6s
75:	learn: 0.9582819	total: 8.25s	remaining: 13.5s
76:	learn: 0.9579049	total: 8.33s	remaining: 13.3s
77:	learn: 0.9574558	total: 8.41s	remaining: 13.2s
78:	learn: 0.9570820	total: 8.5s	remaining: 13s
79:	learn: 0.9567160	total: 8.58s	remaining: 12.9s
80:	learn: 0.9563678	total: 8.67s	remaining: 12.7s
81:	learn: 0.9559629	total: 8.77s	remaining: 12.6s
82:	learn: 0.9556495	total: 8.85s	remaining: 12.5s
83:	learn: 0.9552348	total: 8.92s	remaining: 12.3s
84:	learn: 0.9549663	total: 9.03s	remaining: 12.2s
85:	learn: 0.9546255	total: 9.12s	remaining: 12.1s
86:	learn: 0.9543576	total: 9.19s	remaining: 11.9s
87:	learn: 0.9540068	total: 9.28s	remaining: 11.8s
88:	learn: 0.9536676	total: 9.37s	remaining: 11.7s
89:	learn: 0.9534526	total: 9.49s	remaining: 11.6s
90:	learn: 0.9532082	total: 9.63s	remaining: 11.5s
91:	learn: 0.9529969	total: 9.72s	remaining: 11.4s
92:	learn: 0.9527437	total: 9.81s	remaining: 11.3s
93:	learn: 0.9524833	total: 9.9s	remaining: 11.2s
94:	learn: 0.9521517	total: 10s	remaining: 11.1s
95:	learn: 0.9519172	total: 10.2s	remaining: 11.1s
96:	learn: 0.9516308	total: 10.4s	remaining: 11s
97:	learn: 0.9514144	total: 10.5s	remaining: 10.9s
98:	learn: 0.9511750	total: 10.6s	remaining: 10.8s
99:	learn: 0.9509418	total: 10.7s	remaining: 10.7s
100:	learn: 0.9507398	total: 10.8s	remaining: 10.6s
101:	learn: 0.9504869	total: 10.9s	remaining: 10.5s
102:	learn: 0.9502920	total: 11s	remaining: 10.4s
103:	learn: 0.9500588	total: 11.1s	remaining: 10.3s
104:	learn: 0.9498297	total: 11.2s	remaining: 10.1s
105:	learn: 0.9495979	total: 11.3s	remaining: 10s
106:	learn: 0.9494301	total: 11.4s	remaining: 9.89s
107:	learn: 0.9492217	total: 11.4s	remaining: 9.75s
108:	learn: 0.9490288	total: 11.5s	remaining: 9.64s
109:	learn: 0.9488959	total: 11.7s	remaining: 9.54s
110:	learn: 0.9486856	total: 11.7s	remaining: 9.4s
111:	learn: 0.9484252	total: 11.8s	remaining: 9.29s
112:	learn: 0.9482132	total: 11.9s	remaining: 9.16s
113:	learn: 0.9480023	total: 12s	remaining: 9.04s
114:	learn: 0.9477973	total: 12.1s	remaining: 8.94s
115:	learn: 0.9475834	total: 12.2s	remaining: 8.81s
116:	learn: 0.9473962	total: 12.2s	remaining: 8.69s
117:	learn: 0.9472514	total: 12.3s	remaining: 8.57s
118:	learn: 0.9471035	total: 12.4s	remaining: 8.45s
119:	learn: 0.9469680	total: 12.5s	remaining: 8.32s
120:	learn: 0.9468149	total: 12.6s	remaining: 8.21s
121:	learn: 0.9466371	total: 12.6s	remaining: 8.08s
122:	learn: 0.9464224	total: 12.7s	remaining: 7.96s
123:	learn: 0.9462898	total: 12.8s	remaining: 7.86s
124:	learn: 0.9461276	total: 12.9s	remaining: 7.75s
125:	learn: 0.9459431	total: 13s	remaining: 7.64s
126:	learn: 0.9457991	total: 13.1s	remaining: 7.54s
127:	learn: 0.9456654	total: 13.2s	remaining: 7.44s
128:	learn: 0.9454888	total: 13.3s	remaining: 7.32s
129:	learn: 0.9453530	total: 13.4s	remaining: 7.21s
130:	learn: 0.9451657	total: 13.5s	remaining: 7.09s
131:	learn: 0.9449792	total: 13.5s	remaining: 6.98s
132:	learn: 0.9448071	total: 13.6s	remaining: 6.87s
133:	learn: 0.9446870	total: 13.7s	remaining: 6.76s
134:	learn: 0.9445435	total: 13.8s	remaining: 6.64s
135:	learn: 0.9443697	total: 13.9s	remaining: 6.53s
136:	learn: 0.9442029	total: 14s	remaining: 6.42s
137:	learn: 0.9440657	total: 14.1s	remaining: 6.31s
138:	learn: 0.9439482	total: 14.1s	remaining: 6.21s
139:	learn: 0.9438095	total: 14.2s	remaining: 6.1s
140:	learn: 0.9436685	total: 14.3s	remaining: 5.98s
141:	learn: 0.9434736	total: 14.4s	remaining: 5.88s
142:	learn: 0.9433760	total: 14.5s	remaining: 5.77s
143:	learn: 0.9432547	total: 14.6s	remaining: 5.66s
144:	learn: 0.9431300	total: 14.6s	remaining: 5.54s
145:	learn: 0.9430020	total: 14.7s	remaining: 5.44s
146:	learn: 0.9428671	total: 14.8s	remaining: 5.32s
147:	learn: 0.9427424	total: 14.8s	remaining: 5.21s
148:	learn: 0.9426141	total: 14.9s	remaining: 5.11s
149:	learn: 0.9425177	total: 15s	remaining: 4.99s
150:	learn: 0.9423991	total: 15s	remaining: 4.88s
151:	learn: 0.9422989	total: 15.1s	remaining: 4.78s
152:	learn: 0.9421721	total: 15.2s	remaining: 4.67s
153:	learn: 0.9420772	total: 15.3s	remaining: 4.57s
154:	learn: 0.9418906	total: 15.4s	remaining: 4.48s
155:	learn: 0.9417710	total: 15.6s	remaining: 4.4s
156:	learn: 0.9416866	total: 15.7s	remaining: 4.29s
157:	learn: 0.9416072	total: 15.8s	remaining: 4.19s
158:	learn: 0.9415097	total: 15.8s	remaining: 4.08s
159:	learn: 0.9413665	total: 15.9s	remaining: 3.97s
160:	learn: 0.9412523	total: 16s	remaining: 3.87s

161:	learn: 0.9411189	total: 16s	remaining: 3.76s
162:	learn: 0.9410394	total: 16.1s	remaining: 3.66s
163:	learn: 0.9409106	total: 16.2s	remaining: 3.55s
164:	learn: 0.9407986	total: 16.2s	remaining: 3.45s
165:	learn: 0.9406237	total: 16.3s	remaining: 3.34s
166:	learn: 0.9405445	total: 16.4s	remaining: 3.24s
167:	learn: 0.9403810	total: 16.5s	remaining: 3.13s
168:	learn: 0.9402552	total: 16.5s	remaining: 3.03s
169:	learn: 0.9401526	total: 16.6s	remaining: 2.93s
170:	learn: 0.9400744	total: 16.7s	remaining: 2.83s
171:	learn: 0.9399712	total: 16.7s	remaining: 2.73s
172:	learn: 0.9398818	total: 16.8s	remaining: 2.63s
173:	learn: 0.9397095	total: 16.9s	remaining: 2.52s
174:	learn: 0.9396185	total: 17s	remaining: 2.42s
175:	learn: 0.9395172	total: 17s	remaining: 2.32s
176:	learn: 0.9394023	total: 17.1s	remaining: 2.22s
177:	learn: 0.9392745	total: 17.2s	remaining: 2.13s
178:	learn: 0.9391649	total: 17.3s	remaining: 2.02s
179:	learn: 0.9390911	total: 17.4s	remaining: 1.93s
180:	learn: 0.9389975	total: 17.5s	remaining: 1.83s
181:	learn: 0.9388750	total: 17.6s	remaining: 1.74s
182:	learn: 0.9387889	total: 17.7s	remaining: 1.65s
183:	learn: 0.9386625	total: 17.8s	remaining: 1.55s
184:	learn: 0.9385738	total: 17.9s	remaining: 1.45s
185:	learn: 0.9384973	total: 18s	remaining: 1.35s
186:	learn: 0.9383709	total: 18s	remaining: 1.25s
187:	learn: 0.9382814	total: 18.2s	remaining: 1.16s
188:	learn: 0.9382092	total: 18.2s	remaining: 1.06s
189:	learn: 0.9381321	total: 18.3s	remaining: 964ms
190:	learn: 0.9380609	total: 18.5s	remaining: 871ms
191:	learn: 0.9379025	total: 18.7s	remaining: 779ms
192:	learn: 0.9377924	total: 18.8s	remaining: 683ms
193:	learn: 0.9376709	total: 19s	remaining: 588ms
194:	learn: 0.9375762	total: 19.1s	remaining: 489ms
195:	learn: 0.9374624	total: 19.2s	remaining: 391ms
196:	learn: 0.9372969	total: 19.3s	remaining: 294ms
197:	learn: 0.9372342	total: 19.5s	remaining: 197ms
198:	learn: 0.9371714	total: 19.6s	remaining: 98.4ms
199:	learn: 0.9370821	total: 19.7s	remaining: 0us

In [116]:
submission_1 = submission.copy()

print(df_test.shape , submission.shape , len(y_pred_final))

submission_1["Interest_Rate"] = y_pred_final

print(submission_1["Interest_Rate"].values)


submission_1.to_csv('cgb_eda_1.csv', index=False)

df_submission_1 = pd.read_csv('cgb_eda_1.csv')

print(df_submission_1.shape)

df_submission_1.head(3)

(109541, 39) (109541, 2) 109541
[2. 1. 2. ... 2. 3. 2.]
(109541, 2)

    Loan_ID  Interest_Rate
0  10164310            2.0
1  10164311            1.0
2  10164312            2.0

In [55]:
Counter(df.Interest_Rate)

Counter({1: 33806, 3: 59923, 2: 70580})

In [68]:
df3[0:109541].shape  , df3[109541 : ].shape

((109541, 13), (54768, 13))

In [69]:
# X_feature_variables1 , y_output1 = majority_imbalanced_dataset(df3, "Interest_Rate")
# df10 = X_feature_variables1.copy()
# df10["Interest_Rate"] = y_output1
# df10.head()

In [175]:
def get_accuracy(y_train_val , y_pred_val , dataset_type = "Default"):
    
    print(" Dataset type is : ", dataset_type)
    
    print("\n Accuracy Score     : ",round(accuracy_score(y_train_val, y_pred_val), 4) * 100)
    
#     print("\n precision_accuracy : ",round(precision_score(y_train_val, y_pred_val), 4) * 100)
 
#     print("\n recall_accuracy    : ",round(recall_score(y_train_val, y_pred_val), 4) * 100)
    
#     print("\n roc_auc_accuracy   : ",round(roc_auc_score(y_train_val, y_pred_val), 4) * 100)
    
#     print("\n f1_score_accuracy  : ",round(f1_score(y_train_val, y_pred_val), 4) * 100)
    
#     print("\n explained_variance  : ",round(explained_variance_score(y_train_val, y_pred_val), 4) * 100)
    
#     tn, fp, fn, tp = confusion_matrix(y_train_val, y_pred_val).ravel()
    
#     print("\n Confusion Matrix TN : ", tn, " FP : ", fp, " FN : ", fn, " TP : ", tp)
    print(confusion_matrix(y_train_val, y_pred_val))

In [71]:
df3.head()

,Loan_Amount_Requested,Length_Employed,Home_Owner,Annual_Income,Income_Verified,Purpose_Of_Loan,Debt_To_Income,Inquiries_Last_6Mo,Months_Since_Deliquency,Number_Open_Accounts,Total_Accounts,Gender,Interest_Rate
0,1165,10,4,68000.000000,2,0,18.37,0,34.229356,9,14,0,1
1,904,4,0,73331.159434,0,2,14.93,0,17.000000,12,24,0,3
2,667,7,0,75566.400000,1,2,15.88,0,34.229356,12,16,1,3
3,279,10,0,56160.000000,1,2,14.34,3,34.229356,16,22,1,3
4,319,8,3,96000.000000,1,2,22.17,1,34.229356,19,30,0,1

In [72]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164309 entries, 0 to 164308
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Loan_Amount_Requested    164309 non-null  int64
 1   Length_Employed          164309 non-null  int64
 2   Home_Owner               164309 non-null  int64
 3   Annual_Income            164309 non-null  float64
 4   Income_Verified          164309 non-null  int64
 5   Purpose_Of_Loan          164309 non-null  int64
 6   Debt_To_Income           164309 non-null  float64
 7   Inquiries_Last_6Mo       164309 non-null  int64
 8   Months_Since_Deliquency  164309 non-null  float64
 9   Number_Open_Accounts     164309 non-null  int64
 10  Total_Accounts           164309 non-null  int64
 11  Gender                   164309 non-null  int64
 12  Interest_Rate            164309 non-null  int64
dtypes: float64(3), int64(10)
memory usage: 16.3 MB

In [74]:
df_new = df3.copy()

In [78]:
df10.shape , df3.shape

((164309, 14), (164309, 13))

In [79]:
new_test = df_new[0:109541]

new_train = df_new[109541 : ]

In [80]:
x1_train = new_train.iloc[:, :-1]
y1_train = new_train.iloc[:, -1]

In [81]:
x1_test = new_test.iloc[:, :-1]
y1_test = new_test.iloc[:, -1]

In [82]:
Counter(y1_test)

Counter({1: 22618, 3: 39917, 2: 47006})

In [83]:
model_final = XGBClassifier(max_depth=5, objective='multi:softmax', num_classes=3)

model_final.fit(x1_train, y1_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, num_classes=3, objective='multi:softprob',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=None, silent=None, subsample=1, verbosity=1)

In [176]:
y_pred_final_new_test = model_final.predict(x1_test)
get_accuracy(y1_test , y_pred_final_new_test ,  "Test")

 Dataset type is :  Test

 Accuracy Score     :  53.26
[[ 5113 14086  3419]
 [ 3454 29854 13698]
 [  900 15640 23377]]

In [178]:
precision_score(y1_test, y_pred_final_new_test, pos_label='positive',average='micro')

0.532622488383345

In [179]:
precision_score(y1_test, y_pred_final_new_test, pos_label='negative',average='micro')

0.532622488383345

In [181]:
recall_score(y1_test, y_pred_final_new_test, pos_label='positive',average='micro')

0.532622488383345

In [182]:
recall_score(y1_test, y_pred_final_new_test, pos_label='negative',average='micro')

0.532622488383345

In [86]:
y_pred_final_new_train = model_final.predict(x1_train)
get_accuracy(y1_train , y_pred_final_new_train ,  "Train")

 Dataset type is :  Train

 Accuracy Score     :  56.93
[[ 2909  6685  1594]
 [ 1507 15892  6175]
 [  418  7209 12379]]

In [88]:
submission_new = submission.copy()

submission_new["Interest_Rate"] = y_pred_final_new_test


submission_new.to_csv('second_submission.csv', index=False)